<form role="form" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="form-group row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Farmer Registration Number (UP Agri Pardarshi)'|translate}} </label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="upBSMId">
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <div class="text-center mt-2">
        <button type="button" (click)="getFarmerDataFromUpAgriPardarshi()" class="btn btn-login btn-yellow btn-primary my-4">
          {{'Fetch from UP AgriPardashi'|translate }}
        </button>
      </div>
    </div>

  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Farmer Name1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="farmerName">
      </div>
      <div *ngIf="submitted && formControls.farmerName.errors" class="text-danger">
        <div *ngIf="formControls.farmerName.errors.required">{{'farmer name is required'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'Username'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="userName" (blur)="validateUserName($event.target.value)" alphaNumeric>
      </div>
      <div *ngIf="submitted && formControls.userName.errors" class="text-danger">
        <div *ngIf="formControls.userName.errors.required">{{'username is required'|translate}}</div>
        <div *ngIf="formControls.userName.errors.pattern">{{'user name should be 6 to 20 character'|translate}}</div>
      </div>
      <div *ngIf="invalidUserName" class="text-danger">
        {{'User Name already taken'|translate}}
      </div>
    </div>

  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{"Farmer's Father/ Husband Name"|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="parantsName">
      </div>
      <div *ngIf="submitted && formControls.parantsName.errors" class="text-danger">
        <div *ngIf="formControls.parantsName.errors.required">
          {{"farmer's father/ husband Name is required"|translate}}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'Mobile' | translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="farmerMob" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.farmerMob.errors" class="text-danger">
        <div *ngIf="formControls.farmerMob.errors.required">{{'mobile number is required'|translate}}</div>
        <div *ngIf="formControls.farmerMob.errors.pattern"> {{'Mobile number should be 10 digit1'|translate}}</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'email'|translate}}</label> <!-- <span class="required">*</span> -->
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="email">
      </div>
      <div *ngIf="submitted && formControls.email.errors" class="text-danger">
        <div *ngIf="formControls.email.errors.required">{{'Email is required' | translate}}</div>
        <div *ngIf="formControls.email.errors.pattern">{{'Invalid Email Address'|translate}}</div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Category'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="category">
          <option value="">{{'Select Category'| translate}}</option>
          <option value="general">{{'General'|translate}}</option>
          <option value="obc">{{'OBC'|translate}}</option>
          <option value="sc">{{'SC'| translate}}</option>
          <option value="st">{{'ST'|translate}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.category.errors" class="text-danger">
        <div *ngIf="formControls.category.errors.required">{{'category is required'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Gender'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="gender">
          <option value="">{{'Select Gender'|translate}}</option>
          <option value="Male">{{'Male'|translate}}</option>
          <option value="Female">{{'Female'|translate}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.gender.errors" class="text-danger">
        <div *ngIf="formControls.gender.errors.required">{{'Gender is required1'|translate}}</div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'District1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="distRefId" (change)="selectDistrict($event.target.value)">
          <option value="">{{'SelectDistrict1'|translate}}</option>
          <option *ngFor="let district of districts" [value]="district.district_id">
            {{district.district_name}}
          </option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.distRefId.errors" class="text-danger">
        <div *ngIf="formControls.distRefId.errors.required">{{'district is required'|translate}}</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Block1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="blockRef" (change)="selectBlock($event.target.value)">
          <option value="">{{'Select Block'| translate}} </option>
          <option *ngFor="let block of blocks" [value]="block.id">{{block.blockName}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.blockRef.errors" class="text-danger">
        <div *ngIf="formControls.blockRef.errors.required">{{'block is required'| translate}}</div>
      </div>
    </div>

  

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Gram Panchayat1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="villagePanchayatId" (change)="selectGramPanchayat($event)">
          <option value="">{{'Select Gram Panchayat'|translate}} </option>
          <option *ngFor="let panchayat of panchayts" [value]="panchayat.panchayat_id">
            {{panchayat.panchayat_name}}
          </option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.villagePanchayatId.errors" class="text-danger">
        <div *ngIf="formControls.villagePanchayatId.errors.required">{{'gram panchayat is required'|translate}}</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Village'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="villRefId" (change)="selectVillage($event)">
          <option value="">{{'Select Village'|translate}} </option>
          <option *ngFor="let village of villages" [value]="village.villageId">{{village.villageName}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.villRefId.errors" class="text-danger">
        <div *ngIf="formControls.villRefId.errors.required">{{'Village is required1'| translate}}</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Pincode'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" maxlength="6" formControlName="pincode" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.pincode.errors" class="text-danger">
        <div *ngIf="formControls.pincode.errors.required">{{'pin code is required'|translate}}</div>
        <div *ngIf="formControls.pincode.errors.pattern"> {{'maximun 6 digit is required' | translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'FPO'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="fpoRefId">
          <option value="">{{'Select FPO'|translate}} </option>
          <option *ngFor="let fpo of fpoList" [value]="fpo.fpoId">
            {{fpo.fpoName}}
          </option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.fpoRefId.errors" class="text-danger">
        <div *ngIf="formControls.fpoRefId.errors.required">{{'fpo name is required'|translate}}</div>
      </div>
    </div>

  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'Create Password'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" type="password" formControlName="password">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"></i>
          </span>
       </div>
      </div>
      <div *ngIf="submitted && formControls.password.errors" class="text-danger">
        <div *ngIf="formControls.password.errors.required">{{'password is required'|translate}}</div>
        <div *ngIf="!!!formControls.password.errors.required && registerForm.controls['password'].invalid">
          {{
'Please enter atleast 8 characters; one upper, one lower case letter, one digit, one special
          character'|translate
          }}
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Confirm Password'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input [type]="fieldTextTypeCpwd ? 'text' : 'password'" class="form-control" type="password" formControlName="confirmPassword">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextTypeCpwd,
              'fa-eye': fieldTextTypeCpwd
            }"
            (click)="toggleFieldTextTypeCpwd()"></i>
          </span>
       </div>
      </div>
      <div *ngIf="submitted && formControls.confirmPassword.errors" class="text-danger">
        <div *ngIf="formControls.confirmPassword.errors.required">{{'confirm password is required'|translate}}</div>
        <div *ngIf="formControls.confirmPassword.errors.mustMatch">{{'password does not match'|translate}}</div>

      </div>
    </div>
  </div>


  <hr />
  <h3>{{'Bank Details'|translate}}</h3>
  <div class="form-group row">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Bank Name'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="bankRefId" (change)="selectBanks($event)">
          <option value="">{{'Select Bank Name'|translate}}</option>
          <option *ngFor="let bank of banks" [value]="bank.bankId">{{bank.bankName}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.bankRefId.errors" class="text-danger">
        <div *ngIf="formControls.bankRefId.errors.required">{{'bank name is required' |translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Bank Account Number1'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="accountNo" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.accountNo.errors" class="text-danger">
        <div *ngIf="formControls.accountNo.errors.pattern"> {{'bank account Number should be minmun 11 digit and maximun 16'|translate}}</div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'IFSC'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="ifscCode">
      </div>
      <div *ngIf="submitted && formControls.ifscCode.errors" class="text-danger">
        <div *ngIf="formControls.ifscCode.errors.required"> {{'ifsc code is required1'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <ngx-recaptcha2 #captchaElem [siteKey]="'6Lff1DAbAAAAAFQa6iec9pY-tgJn3wbNWibl1t3i'"
                      (success)="handleSuccess($event)" [useGlobalDomain]="false" formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>
  

    <div class="col-12">

      <div class="tnc">
        <input class="form-control" type="checkbox" formControlName="tnc">
        <span><span class="required pl-1">* </span>{{'I agree to the terms and conditions.'|translate}} <a href="#" data-toggle="modal" data-target="#myModal">{{'Click here'|translate}}</a> {{'to view in details' |translate }}</span>
      </div>
      <div *ngIf="submitted && formControls.tnc.errors" class="text-danger tncError">
        <div *ngIf="formControls.tnc.errors.required"> {{'tnc is required'|translate}}</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-login btn-yellow btn-primary my-4">{{"Sign Up"| translate}}</button>
  </div>
</form>


<!--MODAL-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="term-text">Terms and Condition</h3>
        <button type="button" class="close term-text" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-terms-condition></app-terms-condition>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-yellow btn-sm term-text " data-dismiss="modal">{{'close' | translate}</button>
      </div>
    </div>
    
  </div>
</div>