:host >>> ngx-recaptcha2 div div div{
  margin: 0px auto
}
.recaptcha2 {
  width: 100%;
  position: relative;
  left: 47%;
  transform: translateX(-43%);
}
.title a {
  color: rgb(82, 95, 127);
  cursor: pointer
}
.innerContent {
  min-height: 70vh;
  background: #ccc;
  border-radius: 150px 0 0 0;
  box-shadow: 2px 2px 0px #fff;
}

@media only screen and (max-width: 600px) {
  .recaptcha2 {
    left: 33%;
  }
}