body {
            /* background: rgb(181 183 26);
            background: linear-gradient(180deg, rgb(181 183 26) 0%, rgb(181 183 26) 100%); */
            background-color: #cfb000;
            background-image: linear-gradient(#cfb000, #b38f23);
            font-family: 'Roboto', sans-serif;
        }

        .fms-wrapper {
            min-height: 100px;
        }

        .fms-wrapper .header {
            padding: 20px 0;
        }

        .fms-wrapper .header h1 {
            font-size: 26px;
            color: #ffffff;
            font-weight: 900;
        }

        .innerContent {
            min-height: 70vh;
            background: #ccc;
            border-radius: 150px 0 0 0;
            box-shadow: 2px 2px 0px #fff;
        }

        .navbar-default {
            background: none;
            border: none;
            border-radius: 0;
            margin: 0;
        }

        .navbar-collapse {
            padding: 0;
        }

        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover {
            background: none;
            color: #ffffff;
        }

        .navbar-default .navbar-nav>li>a {
            color: #ffffff;
            margin: 0 15px;
        }

        .triangle-topright {
            width: 0;
            height: 0;
            border-bottom: 50px solid #926e00;
            border-left: 50px solid transparent;
            float: left;
            left: -50px;
            position: absolute;
        }

      .text-block {
            color: white;
            height: 100px;
            margin-top: 4%;
            text-align: center;
        }


        .no_padding {
            padding: 0px;
        }
        .set_span_titel {
            position: absolute;
            margin-top: 4%;
            width:100%;
            text-align:center;
            color: #096309;
            font-size: 14px;
            font-weight: bold;
        }
        .col-md-6.set_box_md4 {
            width: 30.3%;
        }
        .set_notifications {
            background-color: #926e00;
            color: rgb(212, 209, 16);
            text-align: center;
            font-size: 18px;
            margin-bottom:0px;
            padding:10px;
        }

        .notificationBox{
                margin-top: 21%;
                background-color: #f5f5f5;
            }

  /* Bootstrap 4 text input with search icon */

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        .footer {
            padding: 20px 0;
        }

        .footer a,
        .footer p {
            color: rgb(238, 237, 237);
            font-weight: 500;
            font-size: 10px;
            margin: 0;
        }

        .footer a {
            margin: 5px;
        }

        .navbar-brand img {
            position: absolute;
            top: -30px;
            min-width: 130px;
        }

        .set_box_md4 {
            background-color: #cfb000;
            height: 117px;
            border-radius: 10px;
            border: 3px solid #fff;
            margin-right: 17px;
            /* flex: 0 0 30%;
            max-width: 29%; */
            margin-top: 2%;
        }

        .set_row_bg_image {
            width: 100%;
            height: auto;
            
            background: linear-gradient( #e0d9a7bd, #f1f1f1);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-left: 0px;
           
            margin: 0px;
            padding-bottom: 10px;
        }
        .set_comdbox {
            height: 470px;
        }
        .set_box_image {
            width: 22%;
            height: 38px;
            margin-top: 4%;
        }
        .tileBoxRow{
                margin-right: -30px;
                margin-left: 0px;
            }
        .mobileAppIcon{
            height: 100px;
            float: right;margin-top: -13%;
            margin-right: -16%;
        }
        .table_tile_tr{
            border-bottom: 2px double darkgray;
        }
        .table_tile_text{
            color: #f1f1f1;
            font-size: 12px;
            padding: 5px 0px 0px 5px;
        }

        .table_tile_number{
            color: #fff;
            font-size: 14px;
            text-align:right;
            padding: 5px 5px 0px 0px;
            font-weight:800;
        }
        .tile_nember{
            width:100%;
            padding-top: 10%;
            text-align:center;
            color: #fff;
            font-size: 22px;
            font-weight:800;
        }
        .footerBox{
                background-color: #cfb000;
                background-image: linear-gradient(#fbd70f, #735d17,#4a3c0f);
                height: 100px;
        }
.navbar-collapse.collapse.in ul.nav.navbar-nav {
            background: #8e7615;
            margin: 0;
            z-index: 2;
            position: relative;
        }

        .news-item {
            padding: 5px;
            border-top: 1px dotted #555;
        }

        .newsBox{
            padding:0px;
            height:170px;
        }

        .news-td {
            padding-left: 10px;

            color: #dc3545;
            font-family: Arial;
            font-weight: bold;
            font-size: 10px
        }

         .set_name {
            color: #020202dd;
            font-size: 16px;
            text-align: center;
        }

         .set_post {
            color: #336600;
            font-size: 12px;
            font-weight: bold;
        }
        
        
        .set_box_image {
            width: unset;
            height: 38px;
            margin-top: 4%;
        }

/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
           
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
} 
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.tab {
  float: left;
  border: 1px solid #8e7615;
  background-color: #f1f1f1;
  width: 20%;
  
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 19px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #8e7615;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #8e7615;
  width: 70%;
  border-left: none;
  min-height: 400px;
    /* background: #cdae01; */
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: #555;
	background-color: #cdae01;
}




        @media (min-width: 768px) {
            .navbar-nav {
                float: right;
                margin: 0;
                background: #926e00;
                position: relative;
                height: 50px;
            }

            .set_box_md4 {
                background-color: #cfb000;
                height: 117px;
                border-radius: 10px;
                border: 3px solid #fff;
                margin-right: 17px;
                /* flex: 0 0 30%;
                max-width: 29%; */
                margin-top: 2%;
            }
            
        }

        @media screen and (max-device-width:340px),
        screen and (max-width:640px) {
            .set_box_md4 {
                background-color: #cfb000;
                height: auto;
                border-radius: 10px;
                border: 3px solid #fff;
                margin-right: 17px;
                /* flex: 0 0 30%;
                max-width: 100% !important; */
                margin-top: 2%;
                margin-left: 4%;
                width: 100% !important;
            }
            .fms-wrapper .header {
                padding: 0px 0;
                }
            .navbar-default .navbar-collapse, .navbar-default .navbar-form {
                border-color: 0px solid #e7e7e7;
            }
            .set_rowtop {
                margin-top: 108%;
            }
            .mobileAppIcon{
                display: none;
            }
            .upag{
                visibility: hidden;
            }
            .notificationBox{
                margin-top: 10%;
                background-color: #f5f5f5;
            }
            .newsBox{
                padding:0px;
                height:80px;
            }
            
            .footerBox{
                background-color: #cfb000;
                background-image: linear-gradient(#fbd70f, #735d17,#4a3c0f);
                height: 200px;
            }
            h1{
                margin-top:0px;
            }
            .tileBoxRow{
                margin-right: 0px;
                margin-left: 0px;
            }
            .set_row_bg_image {
                width: 100%;
                /*height: 650px;
                background-image: url('img/bg1.png');*/
                background-repeat: no-repeat;
                background-size: 100% 100%;
                margin: 0px;
            }
            .set_comdbox {
                height: 450px;
            }
            /* .footer {
                margin-top: 170%;
            } */
            #first {
                order: 2;
            }
            #second {
                order: 3;
            }
            #third {
                order: 1;
            }

        }

        