<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Land Details' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="landDetailForm" >
            <div class="pl-lg-4">
              <div *ngIf="getUserTypes()">
                <input type="hidden" formControlName="farmerId">
              </div>
              <input type="hidden" formControlName="landId">
             
              <div class="row" *ngIf="getUserTypes()">
                <input type="hidden" formControlName="registrationNumber">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'Farmer Name' | translate}}<span class="required">*</span></label>

                    <select formControlName="farmerId" class="form-control form-control-alternative" (change)="selectFarmer($event)">
                      <option value="">{{'Select farmer'|translate}}</option>
                      <option value="{{farmerList.farmerId}}" *ngFor="let farmerList of FarmerLists">{{farmerList.farmerName}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.farmerId.errors" class="text-danger">
                      <div *ngIf="formControls.farmerId.errors.required">{{'farmer is required' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{"Father's/ Husband's Name" | translate}}</label>
                    <input readonly formControlName="guardianName" type="text" id="father-Husband-name" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.guardianName.errors" class="text-danger">
                      <div *ngIf="formControls.guardianName.errors.required">{{"Father's/ Husband's Name is required" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="roleType === 'ROLE_FARMER'">
                <input type="hidden" formControlName="registrationNumber">
                <div class="col-6">
                  <label class="input-label">{{'Farmer Registration Number (UP Agri Pardarshi)1'|translate}} </label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="registrationNumber">
                  </div>

                </div>
                <div class="col-4">

                  <div class="text-center mt-2">
                    <button type="submit" class="btn btn-login btn-yellow btn-primary my-4" (click)="fetchDetail()">
                      {{'Fetch from UP AgriPardashi'|translate }}
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Type of Ownership' | translate}}<span class="required">*</span></label>
                    <select class="form-control form-control-alternative" formControlName="ownerShip">
                      <option value="">{{'Select Ownership'|translate}}</option>
                      <option value="{{ownerShip.ownerName}}" *ngFor="let ownerShip of ownerShipList">{{ownerShip.ownerName}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.ownerShip.errors" class="text-danger">
                      <div *ngIf="formControls.ownerShip.errors.required">{{'License Type is required' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Area of Farm (in hectare)' | translate}}<span class="required">*</span></label>
                    <input formControlName="land_area" type="text" id="area-farm" class="form-control form-control-alternative" pattern="^\d{0,3}(\.\d{1,2})?$">
                    <div *ngIf="submitted && formControls.land_area.errors" class="text-danger">
                      <div *ngIf="formControls.land_area.errors.required">{{'Area of Farm (in hectare) is required' | translate}}</div>
                      <div *ngIf="formControls.land_area.errors.pattern">{{'please enter value upto 999' | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'If farmer is doing organic farming' | translate}}?<span class="required">*</span></label><br />
                    <div class="custom-control custom-radio mb-3 " style="display: inline;margin-right: 20px;">
                      <input formControlName="isorganc" value="Yes" class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">{{'Yes' | translate}}</label>
                    </div>
                    <div class="custom-control custom-radio mb-3" style="display: inline;margin-right: 20px;">
                      <input formControlName="isorganc" value="No" class="custom-control-input" id="customRadio6" type="radio">
                      <label class="custom-control-label" for="customRadio6">{{'No' | translate}}</label>
                    </div>
                    <div *ngIf="submitted && formControls.isorganc.errors" class="text-danger">
                      <div *ngIf="formControls.isorganc.errors.required"> {{'This field is required' | translate}}.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addLandDetail()">
                  {{'Save' | translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateLandDetail()">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-warning text-right" (click)="resetForm()">{{'Reset' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"Farmer's Land Details" | translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
               
                <th scope="col">{{'SR. NO' | translate}}</th>
                <th scope="col" *ngIf="getUserTypes()">{{"Farmer Name" | translate}}</th>
                <th scope="col" *ngIf="getUserTypes()">{{"Father's/ Husband's Name" | translate}}</th>
                <th scope="col">{{"Type of Ownership" | translate}}</th>
                <th scope="col">{{"Area of Farm (in hectare)" | translate}}</th>
                <th scope="col">{{"Organic" | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let landDetail of landDetails | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
               
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td *ngIf="getUserTypes()">{{landDetail.farmerName}}</td>
                <td *ngIf="getUserTypes()">{{landDetail.parantsName}}</td>
                <td>{{landDetail.ownership}}</td>
                <td>{{landDetail.landArea}}</td>
                <td>{{landDetail.isorganc}}</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editLandDetail(landDetail)">{{'Edit'|translate}}</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(landDetail.landId)">{{'Delete'|translate}}</a>
                    </div>
                  </div>
                </td>
              </tr>
    
            </tbody>
          </table>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
