<div class="header pt-5 pt-md-8 ">
    <div class="container-fluid"> 
      <div class="header-body">
        <!-- Card stats -->
        <div class="row mb-2 main-tabs">
          <div class="col" >
            <div [ngClass]="{'active': showTable.val === 'A'}" class="card card-stats mb-3 mb-xl-0" (click)="showHiddenTable('A')"
            title="{{'Click to see Crops table' | translate}}">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Crops' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totCrops | number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div [ngClass]="{'active': showTable.val === 'B'}"  class="card card-stats mb-3 mb-xl-0" (click)="showHiddenTable('B')"
            title="{{'Click to see Fertilizers table' | translate}}">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Fertilizers' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{fertTot | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div [ngClass]="{'active': showTable.val === 'C'}" class="card card-stats mb-3 mb-xl-0" (click)="showHiddenTable('C')"
            title="{{'Click to see Seeds table' | translate}}">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Seeds' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{seedTot | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div [ngClass]="{'active': showTable.val === 'D'}" class="card card-stats mb-3 mb-xl-0" (click)="showHiddenTable('D')"
            title="{{'Click to see Insecticides table' | translate}}">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Insecticides' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{insTot | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
  
          <div class="col">
            <div [ngClass]="{'active': showTable.val === 'E'}" class="card card-stats mb-4 mb-xl-0" (click)="showHiddenTable('E')"
            title="{{'Click to see Machinary table' | translate}}">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Machinery' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{machTot | number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="mb-2">
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6 offset-lg-6 mt-2">
                <div class="row">
                  <div class="col-lg-2">
                    <label for="sel1" class="mt-2">{{'Status' | translate}}:</label>
                  </div>
                  <div class="col-lg-10">
                    <select class="form-control" id="sel1" [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
                      <option value="">All</option>
                      <option value="active">Active</option>
                      <option value="reject">Rejected</option>
                      <option value="fulfilled">Fullfilled</option>
                    </select>                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <br>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col">
  
        <div class="card shadow" *ngIf="showTable.val === 'A'">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{ 'Indent Raised Crops' |translate}}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{'SR. NO'|translate}}</th>
                    <th scope="col">{{'indentnumber'|translate}}</th>
                    <th scope="col">{{'Crop Name'|translate}}</th>
                    <th scope="col">{{'Cropveriety'|translate}}</th>
                    <th scope="col">{{'Quantity Required'|translate}}</th>
                    <th scope="col">{{'Fulfillment Date'|translate}}</th>
                    <th scope="col">{{'fpodeliveryaddr'|translate}}</th>
                    <th scope="col">{{'status'|translate}}</th>
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indent of indents | paginate: { itemsPerPage: 10, currentPage: p } let i=index; ">
                <td>
                    {{i+1}}
                </td>
                 <td>
                     {{indent.enquieryNumber}}
                 </td>
                 <td>
                     {{indent.cropMaster.cropName}}
                 </td>
                 <td>
                     {{indent.cropVeriety.verietyName}}
                 </td>
                 <td>
                     {{indent.quantity}}
                 </td>
                 
                 <td>
                     {{indent.fulfillmentDate | date: 'dd/MM/yyyy'}}
                 </td>
                 <td>
                     {{indent.deliveryAddress}}
                 </td>
                  <td>
                     {{indent.status}}
                 </td>     
                 <td class="text-right" *ngIf="indent.status == 'Active'">
                    <div placement="bottom-right">
                      <a class="btn btn-sm btn-primary" href="javascript:void(0)" (click)="cancelIndent(indent.id)">
                        {{'Cancel' | translate}}
                      </a>
                    </div>
                  </td>   
                  </tr>
                </tbody>
              </table>
              <div class="card-footer py-4">
                <nav aria-label="..." class="text-right">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </nav>
              </div>
          </div>
         
        </div>
  
        <div class="card shadow" *ngIf="showTable.val === 'B'">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{ 'Indent Raised Fertilizers' |translate}}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{'SR. NO'|translate}}</th>
                    <th scope="col">{{'indentnumber' | translate}}</th>
                    <th scope="col">{{'Fertilizer Name'|translate}}</th>
                    <th scope="col">{{'Fertilizer grade'|translate}}</th>
                    <th scope="col">{{'Created To'|translate}}</th>
                    <th scope="col">{{'Contact Details'|translate}}</th>
                    <th scope="col">{{'Created on'|translate}}</th>
                    <th scope="col">{{'Enquiry Id'|translate}}</th>
                    <th scope="col">{{'status'|translate}}</th>
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indent of indents3 | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                      {{indent.enquieryNumber}}
                    </td>
                    <td>
                       {{indent.fertilizer_name}}
                    </td>
                    <td>
                        {{indent.fertilizer_grade}}
                    </td>
                    <td>
                        {{indent.created_to}}
                    </td>
                    
                    <td>
                       {{indent.mobile}}
                    </td>
                    <td>
                        {{indent.create_date_time | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{indent.enqId}}
                    </td>
                     <td>
                        {{indent.status}}
                    </td>    
                    <td class="text-right" *ngIf="indent.status == 'active'">
                      <div placement="bottom-right">
                        <a class="btn btn-sm btn-primary" href="javascript:void(0)" (click)="cancelFertilizerIndent(indent.enqId)">
                          {{'Cancel' | translate}}
                        </a>
                      </div>
                    </td>      
                  </tr>
                 
                </tbody>
            </table>
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
         
        </div>
  
        <div class="card shadow" *ngIf="showTable.val === 'C'">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{ 'Indent Raised Seeds' |translate}}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{'SR. NO'|translate}}</th>
                    <th scope="col">{{'indentnumber' | translate}}</th>
                    <th scope="col">{{'Crop Name' | translate}}</th>
                    <th scope="col">{{"Crop Variety" | translate}}</th>
                    <th scope="col">{{'Indent Qty' | translate}}</th>
                    <th scope="col">{{'Created To'|translate}}</th>
                    <th scope="col">{{'Contact Details'|translate}}</th>
                    <th scope="col">{{'Enquiry Id'|translate}}</th>
                    <th scope="col">{{'status'|translate}}</th>
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indent of indents2 | paginate: { itemsPerPage: 10, currentPage: p } let i=index"> 
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                      {{indent.enquieryNumber}}
                    </td>
                    <td>
                        {{indent.crop_name}}
                    </td>
                    <td>
                        {{indent.varietyName}}
                    </td>
                    <td>
                        {{indent.indentQty}}
                    </td>
                    <td>
                        {{indent.created_to}}
                    </td>
                    
                    <td>
                       {{indent.mobile}}
                    </td>
                    <td>
                        {{indent.enqId}}
                    </td>
                     <td>
                        {{indent.status}}
                    </td>      
                    <td class="text-right" *ngIf="indent.status == 'active'">
                      <div placement="bottom-right">
                        <a class="btn btn-sm btn-primary" href="javascript:void(0)" (click)="cancelSeedIndent(indent.enqId)">
                          {{'Cancel' | translate}}
                        </a>
                      </div>
                    </td>    
                  </tr>
                </tbody>
            </table> 
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>   
          </div>
          
        </div>
  
        <div class="card shadow" *ngIf="showTable.val === 'D'">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{ 'Indent Raised Insecticides' |translate}}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{'SR. NO'|translate}}</th>
                    <th scope="col">{{'indentnumber' | translate}}</th>
                    <th scope="col">{{'Insecticide Type' | translate}}</th>
                    <th scope="col">{{"Insecticide Name" | translate}}</th>
                    <th scope="col">{{'Indent Qty' | translate}}</th>
                    <th scope="col">{{'Created To'|translate}}</th>
                    <th scope="col">{{'Contact Details'|translate}}</th>
                    <th scope="col">{{'Created on'|translate}}</th>
                    <th scope="col">{{'Enquiry Id'|translate}}</th>
                    <th scope="col">{{'status'|translate}}</th>
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indent of indents4 | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                    <td>
                            {{i+1}}
                    </td>
                    <td>
                      {{indent.enquieryNumber}}
                    </td>
                    <td>
                        {{indent.insecticide_type}}
                    </td>
                    <td>
                       
                        Sonapur
                    </td>
                    <td>
                        {{indent.indentQty}}
                    
                    </td>
                    <td>
                        {{indent.created_to}}
             
                    </td>
                    
                    <td>
                        {{indent.mobile}}
               
                    </td>
                    <td>
                        {{indent.create_date_time | date: 'dd/MM/yyyy'}}
                   
                    </td>
                    <td>
                        {{indent.enqId}}
                    </td>
                     <td>
                        {{indent.status}}
                    </td>    
                    <td class="text-right" *ngIf="indent.status == 'active'">
                      <div placement="bottom-right">
                        <a class="btn btn-sm btn-primary" href="javascript:void(0)" (click)="cancelInsecticidesIndent(indent.enqId)">
                          {{'Cancel' | translate}}
                        </a>
                      </div>
                    </td>      
                  </tr>
                </tbody>
            </table>  
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
          
        </div>
  
  
        <div class="card shadow" *ngIf="showTable.val === 'E'">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">{{ 'Indent Raised Machinery' |translate}}</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{'SR. NO'|translate}}</th>
                    <th scope="col">{{'indentnumber' | translate}}</th>
                    <th scope="col">{{'Equipment Name' | translate}}</th>
                    <th scope="col">{{"No. Of Days" | translate}}</th>
                    <th scope="col">{{'Indent Qty' | translate}}</th>
                    <th scope="col">{{'Created To'|translate}}</th>
                    <th scope="col">{{'Contact Details'|translate}}</th>
                    <th scope="col">{{'Created on'|translate}}</th>
                    <th scope="col">{{'Enquiry Id'|translate}}</th>
                    <th scope="col">{{'status'|translate}}</th>
                    <th scope="col">{{'Actions' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indent of indents5 | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                    <td>
                      {{i+1}}
                    </td>
                    <td>
                      {{indent.enquieryNumber}}
                    </td>
                    <td>
                       {{indent.equpment_name}}
                    </td>
                    <td>
                       {{indent.no_of_days}}
                    </td>
                    <td>
                       {{indent.indentQty}}
                    </td>
                    <td>
                        {{indent.created_to}}
                    </td>
                    
                    <td>
                       {{indent.mobile}}
                    </td>
                    <td>
                        {{indent.create_date_time | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        {{indent.enqId}}
                    </td>
                     <td>
                       {{indent.status}}
                    </td>    
                    <td class="text-right" *ngIf="indent.status == 'active'">
                      <div placement="bottom-right">
                        <a class="btn btn-sm btn-primary" href="javascript:void(0)" (click)="cancelMachineryIndent(indent.enqId)">
                          {{'Cancel' | translate}}
                        </a>
                      </div>
                    </td>      
                  </tr>
                </tbody>
            </table> 
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>


  
  
