<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="max-height: 300px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{'My profile'|translate}}</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="buyerprofileForm">
            <!-- [formGroup]="profileForm" -->
            <input type="hidden">
            <h6 class="heading-small text-muted mb-4">{{'User information'|translate}}</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'BuyerSeller Name'|translate}}</label>
                    <input type="email" formControlName="contactPerson" id="input-email"
                      class="form-control form-control-alternative" placeholder="contactPerson">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-userName">{{'Username'|translate}}</label>
                    <input type="text" formControlName="userName" id="input-userName"
                      class="form-control form-control-alternative" placeholder="userName">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Contact Person'|translate}}</label>
                    <input type="email" formControlName="contactPerson" id="input-email"
                      class="form-control form-control-alternative" placeholder="contactPerson">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-userName">{{'Designation Contact
                      Person'|translate}}</label>
                    <input type="text" formControlName="designationContactPerson" id="input-userName"
                      class="form-control form-control-alternative" placeholder="designationContactPerson">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'Mobile' | translate}} <span
                        class="required">*</span></label>
                    <input type="text" formControlName="mobileNumber" id="input-last-name"
                      class="form-control form-control-alternative" placeholder="mobileNumber">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'email' | translate}} <span
                        class="required">*</span></label>
                    <input type="text" formControlName="email" id="input-last-name"
                      class="form-control form-control-alternative" placeholder="email">
                  </div>
                </div>
              </div>


              <div class="form-group row mb-3">
                <div class="col-md-6">
                  <label class="form-control-label" for="input-first-name">{{'State1'|translate}} <span
                      class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" formControlName="stateRefId" >
                      <!-- (change)="selectState($event)" -->
                      <option value="">{{'Select State'|translate}}</option>
                      <!-- <option *ngFor="let state of states" [value]="state.stateId">{{state.stateName}}</option> -->
                    </select>
                  </div>
                  <!-- <div *ngIf="submitted && formControls.stateRefId.errors" class="text-danger">
                    <div *ngIf="formControls.stateRefId.errors.required">{{'State is required'|translate}}</div>
                  </div> -->
                </div>

                
                <div class="col-md-6">
                  <label class="form-control-label" for="input-first-name">{{'District1'|translate}} <span
                      class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" formControlName="districtRefId" >
                      <!-- (change)="selectDistrict($event)" -->
                      <option value="">{{'SelectDistrict1'|translate}}</option>
                      <!-- <option *ngFor="let district of districts" [value]="district.district_id"> -->
                        <!-- {{district.district_name}}</option> -->
                    </select>
                  </div>
                  <!-- <div *ngIf="submitted && formControls.districtRefId.errors" class="text-danger">
                    <div *ngIf="formControls.districtRefId.errors.required">{{'district is required'|translate}}</div>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- <hr class="my-4" /> -->
            <!-- Address -->
            <!-- <h6 class="heading-small text-muted mb-4">{{'Contact information'|translate}}</h6> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'Street Name'|translate}}</label>
                    <input id="input-address" formControlName="streetName" class="form-control form-control-alternative"
                      placeholder="Street Name" type="text">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'buildingName'|translate}}</label>
                    <input id="input-address" formControlName="buildingName"
                      class="form-control form-control-alternative" placeholder="buildingName" type="text">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'Pincode'|translate}}<span
                      class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <input id="input-address" formControlName="streetName" class="form-control form-control-alternative"
                      placeholder="Pincode" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'Area'|translate}}<span
                      class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <input id="input-address" formControlName="area" class="form-control form-control-alternative"
                      placeholder="Area" type="text">
                  </div>
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'WebSite'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <input class="form-control" type="text" formControlName="webSite">
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'GST Number'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <input class="form-control" type="text" formControlName="gstNumber" appOnlynumber>
                  </div>
                </div>

              </div>
              <!-- </div> -->
              <br>
              <!-- <h3>{{'Legal Details' |translate}}</h3> -->
              <!-- <div class="pl-lg-4"> -->
                <br>
              <div class="row">
               
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'TIN Number'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="tinNumber">
                  </div>

                </div>
              <!-- </div>

              <div class="row"> -->
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'PAN number'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="panNumber">
                  </div>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'Company Category'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="companyCategory">
                  </div>

                </div>

              <!-- </div>
              <div class="row"> -->
                <div class="col-md-6">
                  <label class="form-control-label" for="input-address">{{'Commdity Deals in'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="commdityDealsIn">
                  </div>

                </div>
                <!-- <div class="col-md-6">
                <label class="form-control-label" for="input-address">{{'variety Deals In'|translate}}</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input class="form-control" type="text" formControlName="varietyDealsIn">
                </div>
          
              </div> -->
              </div>
            </div>


            <div class="pl-lg-4">
              <button type="button" class="btn btn-yellow btn-primary my-4" (click)="updateProfile()">
                {{'Update profile'| translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>