.banner {
  padding: 20px 0;
  position: relative;
  background-image: url('../../../assets/image/img/slider/1.jpg');
  background-repeat: no-repeat;
  background-size: cover
}
  .banner:before {
    content: "";
    display: block;
    padding-top: 30%;
  }

.serachButton {
  width: 100%;
  pointer-events: all;
  line-height: 19px;
}

.header .parent {
  font-size: 26px;
  color: #ffffff;
  font-weight: 900;
}

.header .child {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}

.header .gov {
  font-size: 26px;
  color: #ffffff;
  font-weight: 900;
}

.header .up {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
}

.innerContent {
  min-height: 70vh;
  background: #ccc;
  border-radius: 0px 0 0 0;
  box-shadow: 2px 2px 0px #fff;
}
.main {
  width: 49%;
  margin: 0px auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


.dropdown-toggle::after {
  display: none;
}

.set_notifications {
  background-color: #926e00;
  color: rgb(212, 209, 16);
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
  padding: 10px;
}

.panel-body {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
  padding: 10px 20px 6px 15px;
}

.text-danger {
  color: #a94442 !important;
}

.news-item {
  overflow: hidden;
  height: 42.6994px;
  padding-top: 9.7044px;
  margin-top: 0px;
  padding-bottom: 9.7044px;
  margin-bottom: 0px;
  font-size: 10px;
  padding: 10px;
  border-top: 1px dotted #555;
  width: 87%;
  margin: 0px auto
}

.demo1 {
  padding: 0;
  margin: 0
}

.img-thumbnail {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: 100%;
  min-height: 128px
}

.set_comdbox {
  background: #fff;
  min-height: 100px;
  margin-right: 15px;
  padding-bottom: 1.4%;
  padding-top: 1.4%;
  border-radius: 10px;
  max-width: 32%;
}

.set_name {
  color: #020202dd;
  font-size: 16px;
  text-align: center;
}

.set_post {
  color: #336600;
  font-size: 12px;
  font-weight: bold;
}

.text-block {
  color: white;
  height: auto;
  margin-top: 1%;
  text-align: center;
}

  .text-block img {
    width: 23%;
  }

.col-md-12 {
  padding: 6%;
}

.set_row_bg_image {
  width: 100%;
  height: auto;
  background-color: #cfb000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 0px;
  margin: 0px;
  padding-bottom: 10px;
}

.tileBoxRow {
  margin: auto auto;
  padding-left: 0%;
  padding-right: 0%;
}

.col-md-4.set_box_md4 {
 
  max-width: 32%;
  padding-top: 1%;
}

.set_box_md4 {
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
  border: 3px solid #fff;
  margin-right: 17px;
  margin-top: 2%;
  min-height: 160px;
}

.set_span_titel_image {
  width: 100%;
  height: auto
}

.set_span_titel {
  position: absolute;
  text-align: center;
  width: 100%;
}

.tile_nember {
  width: 100%;
  padding-top: 0%;
  text-align: left;
  color: #32325d;
  font-size: 34px;
  font-weight: 800;
}

.set_span_titel {
  position: relative;
  margin-top: 2%;
  width: 100%;
  text-align: left;
  color: #8898aa;
  font-size: 18px;
  font-weight: bold;
}

.table_tile_text {
  color: #32325d;
  font-size: 14px;
  padding: 5px 0px 0px 5px;
}

.table_tile_number {
  color: #32325d;
  font-size: 14px;
  text-align: right;
  padding: 5px 5px 0px 0px;
  font-weight: 800;
}

.table_tile_tr {
  border-bottom: 2px double darkgray;
}

.footerBox {
  background-color: #cfb000;
  background-image: linear-gradient(#fbd70f, #735d17,#4a3c0f);
  height: 100px;
}

.footer {
  padding: 20px 0;
}

  .footer a,
  .footer p {
    color: rgb(238, 237, 237);
    font-weight: 500;
    font-size: 10px;
    margin: 0;
  }

  .footer a {
    margin: 5px;
  }

.navbar-nav > li > a {
  color: #ffffff;
  margin: 0 15px;
  font-size: 14px;
  margin-top: 3%;
}

element.style {
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}

.fms-wrapper {
  background-color: #cfb000; 
  height: 100%;
  max-height: 240px;
 
}
  

  .newsBox {
    padding: 0px 2%
  }

:host > > > .carousel-control-prev {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

:host > > > .carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.notificationBox {
  margin-top: 9%
}

:host > > > .carousel-control-next-icon, :host > > > .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

:host > > > .carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
}

  :host > > > .carousel-indicators li.active {
    background-color: #fff;
  }

:host > > > .carousel-caption {
  font-size: 14px;
}

:host > > > .carousel-item .item {
  padding: 5px;
}

:host > > > .carousel.slide {
  outline: none;
  background-color: #fff;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 -0.8rem rgba(0,123,255,.25);
}

.serachBarWpper {
  padding: 0px 2%;
}

.dropdown.searchDropDown {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #fff;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
  color: #fff;
  background-color: #926e00 !important;
  border-color: #926e00;
}

element.style {
  width: 100%;
  pointer-events: all;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
  background-color: #926e00;
  border-color: #926e00;
}
  .btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow:none
  }

.btn-warning {
  color: #fff;
  background-color: #926e00 !important;
  border-color: #926e00;
}

.btn.btn-default.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.form-control {
  height: calc(1.5em + 1.5rem + 4px);
}

#searchin {
    width:100%;
  padding: 12px 5px 12px 5px;
}
.searchBox {
  width: 100%;
  background-color: #cfb000;
}

.form-control-feedback.btn-warning {
  height: 48px;
}

.searchFPO {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  line-height:50px;
}

.news-item table {
  margin-top: -4%
}

.set_notifications .panel-body {
  padding: 15px 15px 5px 15px;
}

.icon.icon-shape {
  float: right;
}

.middleSection {
  border-top: 2px solid #000;
 
  background-color: #cfb000;
}
.middleSection .row {
  margin: 0% auto;
  width: 80%;
  padding: 2% 0px;
}
