<div class="banner"></div>
<div class="main" style="margin-top: 1%;">
  <div style="background-color: #cfb000;">
    <strong class="searchFPO ">Search FPO by Name/ District/ Crop/ Services/ Products</strong>
  </div>
  <div class="row serachBarWpper ">
    <div class="col-md-8" style="padding: 0px;">
      <div class="form-group has-feedback">
        <div class="form-group">
          <div id="filterDate2">
            <input type="text" id="homesearch" class="form-control" placeholder="Type here to search">
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2" style="padding: 0px;">
      <div class="dropdown searchDropDown ">
        <select class="btn btn-default dropdown-toggle" id="searchin" name="Searchin" style="width:100%">
          <option value="any">Any</option>
          <option value="crop">Crop</option>
          <option value="district">District</option>
          <option value="fpo_name">FPO</option>
          <option value="services">Services/ Products</option>
        </select>
      </div>
    </div>
    <div class="col-md-2" style="padding: 0px;">
      <input type="button" value="🔍 Search" class="form-control-feedback btn-warning" style="width: 100%; pointer-events: all;">
    </div>
  </div>
</div>

<div class="innerContent">
  <div class="container-fluid middleSection">
    <div class="row">



      <div class="col-md-4 set_comdbox no_padding">

        <div class="">


          <div class="text-block">
            <img src="../../../assets/newdesign/img/yogi.png" alt="Avatar">
            <!--<img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
            <h4 class="set_name">
              Shri. Yogi Adityanath
            </h4>
            <h4 class="set_post">
              Hon'ble Chief Minister
            </h4>
          </div>
        </div>


      </div>

      <div class="col-md-4 set_comdbox  no_padding">


        <div class="">
          <div class="text-block">
            <img src="../../../assets/newdesign/img/sury.png" alt="Avatar">
            <!-- <img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
            <h4 class="set_name">
              Shri Surya Pratap Shahi
            </h4>
            <h4 class="set_post">
              Hon'ble Agriculture Minister
            </h4>
          </div>

        </div>


      </div>

      <div class="col-md-4 set_comdbox  no_padding" style="margin-right:0px">


        <div class="">
          <div class="text-block">
            <img src="../../../assets/newdesign/img/lakhan.png" alt="Avatar">
            <!-- <img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
            <h4 class="set_name">
              Shri Lakhan Singh Rajput
            </h4>
            <h4 class="set_post">
              Hon'ble State Minister Agriculture
            </h4>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="container-fluid set_row_bg_image">
    <div class="row">
      <div class="col-md-2">
        <div class="">
          <div class="notificationBox" style="/* margin-top: 26px; */">
            <h4 class="set_notifications">
              Notifications
            </h4>
            <div class="panel panel-default" style="border: 0px;">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 newsBox">
                    <ul class="demo1">

                      <li class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document_1.pdf" class="text-left text-danger" target="_blank">
                                  FPO annual review meeting:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li style="" class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document.pdf" class="text-left text-danger" target="_blank">
                                  FPO orientation workshop:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document_1.pdf" class="text-left text-danger" target="_blank">
                                  FPO annual review meeting:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li style="" class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document.pdf" class="text-left text-danger" target="_blank">
                                  FPO orientation workshop:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document_1.pdf" class="text-left text-danger" target="_blank">
                                  FPO annual review meeting:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li style="" class="news-item">
                        <table cellpadding="4">
                          <tbody>
                            <tr>
                              <td><img src="../../../assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                              <td class="news-td">
                                <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document.pdf" class="text-left text-danger" target="_blank">
                                  FPO orientation workshop:
                                  12-Oct-20

                                </a>
                              </td>

                              <!-- <td class="news-td"></td> -->
                            </tr>
                          </tbody>
                        </table>
                      </li>


                    </ul>
                    <div class="text-right">
                      <small style="color:black"><a href="/viewallnotifications">View all</a>&nbsp;</small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>





          <!--Notifications End-->
          <!--View FPO's On Map End-->
        </div>
      </div>
      <div class="col-md-10 ">
        <div class=" ">
          <div class="row tileBoxRow " style="">
            <!-- FPO tile--->
            <div class="col-md-4 set_box_md4">
              <div>
                <span class="set_span_titel">
                  FPOs
                </span>
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
                <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
              </div>
              <div class="tile_nember">
                586
              </div>

            </div>
            <!--FPO tile end-->
            <!-- FPO tile--->
            <div class="col-md-4 set_box_md4">
              <div>
                <span class="set_span_titel">
                  Total Farmers

                </span> <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
              </div>
              <div class="tile_nember">


                203,026
              </div>

            </div>
            <!--FPO tile end-->
            <!-- Farmer tile-->

            <div class="col-md-4 set_box_md4" style="margin-right:0px">
              <div>
                <span class="set_span_titel">
                  Farmers
                </span>
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
                <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
              </div>
              <div>
                <table rowspacing="20" style="width: 99%;">
                  <tbody>
                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Marginal</td>
                      <td class="table_tile_number">
                        160,948
                        <!-- </a> -->
                      </td>
                    </tr>
                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Small</td>
                      <td class="table_tile_number">
                        27,697
                        <!-- </a> -->
                      </td>
                    </tr>
                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Others</td>
                      <td class="table_tile_number">
                        14,399
                        <!-- </a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>


              </div>
            </div>
            <!--Famer tile end--->
            <!-- Land tile -->
            <!-- Land tile end -->
          </div>
          <div class="row tileBoxRow " style="">
            <!-- Production tile -->
            <div class="col-md-4 set_box_md4">
              <div>
                <span class="set_span_titel">
                  Production (in Qt.)
                </span> <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
              </div>
              <div>
                <table rowspacing="20" style="width: 99%;">
                  <tbody>
                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Rabi</td>
                      <td class="table_tile_number">23,781</td>
                    </tr>

                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Zayd</td>
                      <td class="table_tile_number">0</td>
                    </tr>

                    <tr class="table_tile_tr">
                      <td class="table_tile_text">Kharif</td>
                      <td class="table_tile_number">21,870</td>
                    </tr>


                  </tbody>
                </table>

              </div>

            </div>
            <!-- Production tile end -->
            <!-- Farm Machinery bank tilw -->

            <div class="col-md-4 set_box_md4">
              <div>
                <span class="set_span_titel">
                  Farm Machinery Bank
                </span> <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
              </div>
              <div class="tile_nember">
                92
              </div>

            </div>
            <!-- Farm Manchinery Bank tile end -->
            <!-- Storage centre tile-->
            <div class="col-md-4 set_box_md4" style="margin-right:0px">
              <div>
                <span class="set_span_titel">
                  Warehouse / Cold Storage
                </span> <!--<img class="set_span_titel_image" src="../../../assets/newdesign/img/bg_box2.png" alt="" style="">-->
                <div _ngcontent-iol-c112="" class="icon icon-shape bg-info text-white rounded-circle shadow "><i _ngcontent-iol-c112="" class="fas fa-percent"></i></div>
              </div>
              <div class="tile_nember">
                <!--<img src="img/storage.png" alt="" class="set_box_image">-->
                4
              </div>

            </div>


            <!-- Storgare centre tile end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
