<div class="header pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Upload Photographs'|translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="photographForm" (ngSubmit)="addPhotograph()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'Image Caption'|translate}}<span class="required">*</span></label>
                    <input formControlName="description" type="text" id="input-username" class="form-control form-control-alternative" placeholder="Image caption" value="lucky.jesse">
                    <div *ngIf="submitted && formControls.description.errors" class="text-danger">
                      <div *ngIf="formControls.description.errors.required">{{'Image Caption Name is required'|translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'File'|translate}}<span class="required">*</span>
                      <span class="text-xs ml-2 file-format-msg">({{'only png, jpg, jpeg format with 2MB file size allowed' | translate}})</span>
                    </label>
                    <input #myInput formControlName="file" type="file" id="input-first-name"
                           (change)="handleFileInput($event.target.files)"
                           class="form-control form-control-alternative"
                           placeholder="First name" value="Lucky">
                    <span *ngIf="edit"><a href="{{filePathToEdit}}" target="_blank">{{fileToEdit}}</a></span>
                    <div *ngIf="submitted && formControls.file.errors" class="text-danger">
                      <div *ngIf="formControls.file.errors.required">{{'File is required'|translate}}</div>
                    </div>
                    <div *ngIf="checkfileFormat" class="text-danger">{{'only png,jpeg,jpg format is allow'| translate}}</div>
                  </div>
                </div>
              </div>  
              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addPhotograph()">
                  {{'Add Photograph'|translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updatePhotograph()">
                 
                  {{'Update Photograph'|translate}}
                </button>
                <!-- <button type="submit" class="btn btn-yellow btn-primary my-4">Add Photograph</button> -->
                <button type="button" class="btn btn-warning text-right" (click)="resetForm()">{{'Reset'|translate}}</button>
              </div>            
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Photos of FPO'|translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'Image Caption'|translate}}</th>
                <th scope="col">{{'File'|translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let photograph of photographs | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{photograph.description}}
                 </td>
                <td>
                  <a download href="{{photograph.filePath}}" target="_blank">
                    <i style=" height:20px; width:30px"  class="fas fa-file"></i>
                  </a>
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      {{'Actions'|translate}}
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editPhotograph(photograph)">
                        {{'Edit'|translate}}</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(photograph.id)">{{'Delete'|translate}}
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
