<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">

      </div>
    </div>
  </div>
</header>
<div class="bg-light d-flex align-items-start justify-content-between px-6">
  <div>
    <button type="button" class="btn btn-link" routerLink="/home">Home</button>
  </div>
  <div>
    <button type="button" class="btn btn-link" routerLink="/home">Back</button>
  </div>
</div>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <div class="card card-profile shadow py-0">
      <div class="card-header p-0">
        <h3></h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'Name' | translate}}</th>
                  <th scope="col">{{'Email' | translate}}</th>
                  <th scope="col">{{'Agency (associated with)' | translate}}</th>
                  <th scope="col">{{'Address' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{fpo.fpoName}}
                  </td>
                  <td>
                    {{fpo.fpoEmail}}
                  </td>
                  <td>
                    {{fpo.agency}}
                  </td>
                  <td>
                    {{fpo.fpoAddress}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card shadow">
      <div class="card-header p-0">
        <h3> FPO Details</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 text-center">
            <img class="card-img" src="../../../assets/img/img (1).gif" height="180px" width="100%"
              style="object-fit: cover;  object-positon: center center; object-fit: fill;" />
            <div class="col-12">
              <div class="card-body">
                <p class="card-text">Felicitation of Vikash Path FPO by Honorable Chief Minister</p>
              </div>
            </div>
          </div>

          <div class="card-img" class="col-md-4 col-sm-12 col-xs-12 text-center">
            <img class="card-img" src="../../../assets/img/img (2).gif" height="180px" width="100%"
              style="object-fit: cover;  object-positon: center center; object-fit: fill;" />

            <div class="col-12">
              <div class="card-body">
                <p class="card-text">
                  Felicitation of FPO</p>
              </div>
            </div>
          </div>
          <div class="card-img" class="col-md-4 col-sm-12 col-xs-12 text-center">
            <img class="card-img" src="../../../assets/img/img (3).gif" height="180px" width="100%"
              style="object-fit: cover;  object-positon: center center; object-fit: fill;" />

            <div class="col-12">
              <div class="card-body">
                <p class="card-text">Bio Fertilizer Production and Training Centre
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="board">
              <div class="panel panel-primary"
                style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">
                <div class="number text-center" style="margin: 10px;">
                  <h3>
                    <small>
                      910</small>
                    <br>
                    <small> Total Farmers</small>
                    <br>
                    <small>&nbsp;</small>
                  </h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board">
              <div class="panel panel-primary"
                style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">
                <div class="number text-center" style="margin: 10px;">
                  <h3>
                    <small>
                      1,015</small>
                    <br>
                    <small> Total Land</small>
                    <br>
                    <small>(in Ha.)</small>
                  </h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board">
              <div class="panel panel-primary"
                style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">
                <div class="number text-center" style="margin: 10px;">
                  <h3>
                    <small>
                      1</small>
                    <br>
                    <small> Farm Machinery Bank</small>
                    <br>
                    <small>&nbsp;</small>
                  </h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="board">
              <div class="panel panel-primary"
                style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">
                <div class="number text-center" style="margin: 10px;">
                  <h3>
                    <small>
                      1</small>
                    <br>
                    <small>Seed Processing Unit</small>
                    <br>
                    <small>&nbsp;</small>
                  </h3>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container mt-4">
    <div class="card shadow">
      <div class="card-header p-0">
        <h3>Season-wise Production </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container mt-4">
    <div class="card shadow">
      <div class="card-header p-0">
        <h3> Product/Services</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 text-center" *ngFor="let row of fpo?.fpoAdditionalServices">
            <img class="card-img" [src]="row.filePath" height="180px" width="100%"
              style="object-fit: cover;  object-positon: center center; object-fit: fill;" />
            <div class="col-12">
              <div class="card-body">
                <p class="card-text">{{row.descriptions}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="card shadow">

      <div class="card-header p-0">
        <h3 class="mb-0">Production Details (Annual)</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'Sr. No' | translate}}</th>
                <th scope="col">Crops</th>
                <th scope="col">Crop Variety</th>
                <th scope="col">Marketable Surplus 2021 (In Qt.)</th>
                <th scope="col">Sold Quantity 2021 (In Qt.)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let license of License | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                <!-- <td>
                <input type="checkbox">
              </td> -->
                <td>
                  -
                </td>
                <td>
                  -
                </td>
                <td>
                  -
                </td>
                <td>
                  -
                </td>
                <td>
                  -
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="container">
    <div class="card shadow">

      <div class="card-header p-0">
        <h3 class="mb-0">Other Details of FPO</h3>
      </div>
      <div class="card-body">
        <div class="card mb-4">

          <div class="card-header p-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">Board Members</h3>
              </div>
              <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'Sr. No' | translate}}</th>
                  <th scope="col">Member Name</th>
                  <th scope="col">Designations</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let row of fpo?.boardMember | paginate: { itemsPerPage: 10, currentPage: boardMemberPagination };let i=index">

                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{row.name}}
                  </td>
                  <td>
                    {{row.designation}}
                  </td>
                  <td>
                    {{row.email}}
                  </td>
                  <td>
                    {{row.contactNo}}
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="boardMemberPagination = $event"></pagination-controls>
            </nav>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header p-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">Warehouse / Cold Storage</h3>
              </div>
              <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'Sr. No' | translate}}</th>
                  <th scope="col">District</th>
                  <th scope="col">Storage Center Address</th>
                  <th scope="col">Storage Center Type</th>
                  <th scope="col">Storage Capacity (in Mt.)</th>
                  <th scope="col">Available Facilities</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let license of License | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                  <!-- <td>
                      <input type="checkbox">
                    </td> -->

                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>
                  <td>
                    -
                  </td>



                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header p-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">Licenses</h3>
              </div>
              <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'Sr. No' | translate}}</th>
                  <th scope="col">Licenses Type</th>
                  <th scope="col">Licenses Issued By</th>
                  <th scope="col">Licenses Number</th>
                  <th scope="col">Licenses From</th>
                  <th scope="col">Licenses To</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let row of fpo?.fpoLicenceDetails | paginate: { itemsPerPage: 10, currentPage: boardMemberPagination };let i=index">
                  <!-- <td>
                      <input type="checkbox">
                    </td> -->
                  
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{row.licenceType}}
                  </td>
                  <td>
                    {{row.licenceIssuedBy}}
                  </td>
                  <td>
                    {{row.liceneceNumber}}
                  </td>
                  <td>
                    {{row.issuedate}}
                  </td>
                  <td>
                    {{row.licenceValidTill}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>

        <div class="card mb-4">

          <div class="card-header p-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">Farm Machinery Bank</h3>
              </div>
              <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">{{'Sr. No' | translate}}</th>
                  <th scope="col">Name Of Equipment</th>
                  <th scope="col">No Of Equipment</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mech of machinerary | paginate: { itemsPerPage: 10, currentPage: p };index as i">

                  <td> </td>
                  <td>
                    {{mech.srNo}}
                  </td>
                  <td>
                    {{mech.nameOfEqu}}
                  </td>
                  <td>

                    {{mech.noOfEqu}}
                  </td>


                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>






  <br>

  <div class="container">
    <div class="row">
      <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">{{'Total Markatable Surplus and Sold Quanyity with FPO for Rabi season(in Qt).' | translate}}</h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
             
              <div class="chart">
                
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div> -->

      <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">{{'Total Markatable Surplus and Sold Quanyity with FPO for Rabi season(in Qt).' | translate}}</h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;"> 
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
             
              <div class="chart">
                
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">Total Marketable Surplus and Sold
                    Quantity with FPO for Kharif season (in
                    Qt.)
                    </h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">             
              <div class="chart">              
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>        -->
      <div class="mb-10"></div>
    </div>
  </div>



  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h3 class="modal-title text-center">Enquiry Form</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group mb-3">
          <label class="form-control-label" for="input-username">Your Full Name</label>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Full Name" type="text">
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-control-label" for="input-username">Email Address</label>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Email" type="text">
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-control-label" for="input-username">Quantity Required</label>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Quantity" type="text">
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-control-label" for="input-username">Fulfilled Date</label>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Fulfilled Date" type="date">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-login btn-product-search btn-primary my-4">Send</button>
        </div>
      </form>
    </div>
  </ng-template>
</section>