 <!-- Full Page Image Header with Vertically Centered Content -->
 <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
         
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container" >
      <div class="row">
        <div class="col-md-4">
            <div class="card card-profile shadow">   
                <div class="card-body pt-0 pt-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="" *ngIf="fpo">
                        <div>
                          Name: <h4>{{fpo.fpoName}}</h4>
                        </div>
                        <div class="">
                          Emai: <h4>{{fpo.fpoEmail}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="card-profile-stats d-flex justify-content-center">
                        <div>
                          <span class="heading">22</span>
                          <span class="description">Total Crops</span>
                        </div>
                        <div>
                          <span class="heading">10</span>
                          <span class="description">Production</span>
                        </div>
                        <div>
                          <span class="heading">89</span>
                          <span class="description">markatable Surplus</span>
                        </div>
                      </div>
                    </div>
                  </div>
            
                </div>
              </div>
        </div>
        <div class="col-md-8">      
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-12 order-xl-1">
                    <div class="card shadow">
                      <div class="card-body">
                        <div class="row">          
                          <div class="col-md-12"><h3>Available Products:</h3></div>

                          <div class="col-md-12 horizontal-product">
                            <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-3 mb-2">
                                  <img src="../../../assets/img/carrot.jpeg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-5 mb-2">
                                  <div class="card-body">
                                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12 horizontal-product">
                            <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-3 mb-2">
                                  <img src="../../../assets/img/potato.jpeg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-5 mb-2">
                                  <div class="card-body">
                                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                                </div>
                              </div>
                            </div>
                          </div>
                
                          <div class="col-md-12 horizontal-product">
                            <div class="card mb-3">
                              <div class="row no-gutters">
                                <div class="col-md-3 mb-2">
                                  <img src="../../../assets/img/onion.jpeg" class="card-img" alt="...">
                                </div>
                                <div class="col-md-5 mb-2">
                                  <div class="card-body">
                                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
     
      </div>
    </div>
    <div class="container" >
      <div class="row">
        
        <br>
        <div class="col-md-12">      
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-12 order-xl-1">
                    <div class="card shadow" style="margin-top: 10px;">
                      <div class="card-body">
                        <div class="row">          
                          <div class="col-md-12"><h3> FPO Details</h3></div>
                          <div   class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <img  class="card-img" src="../../../assets/img/img (1).gif"
                             height="180px" width="100%" style="object-fit: cover;  object-positon: center center; object-fit: fill;"/>
                             <div class="col-12">
                              <div class="card-body">
                                <p class="card-text">Felicitation of Vikash Path FPO by Honorable Chief Minister</p>
                              </div>
                            </div>
                          </div>
                          
                          <div   class="card-img" class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <img class="card-img" src="../../../assets/img/img (2).gif" height="180px" width="100%" style="object-fit: cover;  object-positon: center center; object-fit: fill;"/>
                          
                            <div class="col-12">
                              <div class="card-body">
                                <p class="card-text">
                                  Felicitation of FPO</p>
                              </div>
                            </div>
                          </div>    
                          <div   class="card-img" class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <img class="card-img" src="../../../assets/img/img (3).gif" height="180px" width="100%" style="object-fit: cover;  object-positon: center center; object-fit: fill;"/>
                          
                            <div class="col-12">
                              <div class="card-body">
                                <p class="card-text">Bio Fertilizer Production and Training Centre
                                </p>
                              </div>
                            </div>
                          </div>                         
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="board">
                              <div class="panel panel-primary" style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">                    
                                <div class="number text-center" style="margin: 10px;">
                                  <h3>                    
                                    <medium>
                                    910</medium>                    
                                   <br>
                                    <medium> Total Farmers</medium>
                                    <br>
                                    <small>&nbsp;</small>  
                                  </h3>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="board">
                              <div class="panel panel-primary" style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">                    
                                <div class="number text-center" style="margin: 10px;">
                                  <h3>                    
                                    <medium>
                                    1,015</medium>                    
                                   <br>
                                    <medium> Total Land</medium>
                                    <br>
                                    <small>(in Ha.)</small>  
                                  </h3>
                                </div>
                               
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="board">
                              <div class="panel panel-primary" style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">                    
                                <div class="number text-center" style="margin: 10px;">
                                  <h3>                    
                                    <medium>
                                    1</medium>                    
                                   <br>
                                    <medium> Farm Machinery Bank</medium>
                                    <br>
                                    <small>&nbsp;</small>  
                                  </h3>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="board">
                              <div class="panel panel-primary" style="background-color: #deebdd; background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);">                    
                                <div class="number text-center" style="margin: 10px;">
                                  <h3>                    
                                    <medium>
                                    1</medium>                    
                                   <br>
                                    <medium>Seed Processing Unit</medium>
                                    <br>
                                    <small>&nbsp;</small>  
                                  </h3>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
     
      </div>
    </div>
    <div class="container" >
      <div class="row">
        
        <br>
        <div class="col-md-12">      
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xl-12 order-xl-1">
                    <div class="card shadow" style="margin-top: 10px;">
                      <div class="card-body">
                        <div class="row">          
                          <div class="col-md-12"><h3> Product/Services</h3></div>

                          <div   class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <img  class="card-img" src="../../../assets/img/productSevice.gif"
                             height="180px" width="100%" style="object-fit: cover;  object-positon: center center; object-fit: fill;"/>
                             <div class="col-12">
                              <div class="card-body">
                                <p class="card-text">Bio Fertilizer Production
                                  Healthy Plant. Safe Produce</p>
                              </div>
                            </div>
                          </div>
                          
                          <div   class="card-img" class="col-md-4 col-sm-12 col-xs-12 text-center">
                            <img class="card-img" src="../../../assets/img/productSevice1.jpg" height="180px" width="100%" style="object-fit: cover;  object-positon: center center; object-fit: fill;"/>
                          
                            <div class="col-12">
                              <div class="card-body">
                                <p class="card-text">Bio Fertilizer Production
                                  Healthy  Produce</p>
                              </div>
                            </div></div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
     
      </div>
    </div>
   
    <br>
    <div class="container" >
      <div class="">
        <div class="col">
          <div class="card shadow">
            
            <div class="card-header border-0">
              <div class="row">
                <div class="col-9">
                  <h3 class="mb-0">Licenses</h3>
                </div>
                <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{{'Sr. No' | translate}}</th>
                    <th scope="col">Licenses Type</th>
                    <th scope="col">Licenses Issued By</th>
                    <th scope="col">Licenses Number</th>
                    <th scope="col">Licenses Issue Date</th>
                    <th scope="col">Licenses Valid Till</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let license of License | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                    <!-- <td>
                      <input type="checkbox">
                    </td> -->
                    <td>
                    </td>
                    <td>
                      {{license.srNo}}
                    </td>
                    <td>
                      {{license.licenseType}}
                    </td>
                    <td>
                      {{license.licenseIssueBy}}
                    </td>
                    <td>
                      {{license.licenseNumber}}
                    </td>
                    <td>
                      {{license.licenseDate | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                      {{license.licenseValidtill | date: 'dd/MM/yyyy'}}
                    </td>
                   
                  
                   
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
        

    <br>
    <div class="container" >
      <div class="">
        <div class="col">
          <div class="card shadow">
            
            <div class="card-header border-0">
              <div class="row">
                <div class="col-9">
                  <h3 class="mb-0">Board Members</h3>
                </div>
                <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{{'Sr. No' | translate}}</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Designations</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let board of boardMember | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                    <td>
                    </td>
                    <td>
                      {{board.srNo}}
                    </td>
                    <td>
                      {{board.name}}
                    </td>
                    <td>
                      {{board.designation}}
                    </td>
                    <td>
                      {{board.email}}
                    </td>
                    <td>
                      {{board.contactNo}}
                    </td>
                   
                   
                   
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <div class="container" >
      <div class="">
        <div class="col">
          <div class="card shadow">
            
            <div class="card-header border-0">
              <div class="row">
                <div class="col-9">
                  <h3 class="mb-0">Farm Machinery Bank</h3>
                </div>
                <!-- <div class="col-3 text-right">
                  <button class="btn btn-primary text-right">Add Member</button>
                </div> -->
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{{'Sr. No' | translate}}</th>
                    <th scope="col">Name Of Equipment</th>
                    <th scope="col">No Of Equipment</th>
                  
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mech of machinerary | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                    
                    <td> </td>
                    <td>
                      {{mech.srNo}}
                    </td>
                    <td>
                      {{mech.nameOfEqu}}
                    </td>
                    <td>
    
                      {{mech.noOfEqu}}
                    </td>
                   
                   
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">{{'Total Markatable Surplus and Sold Quanyity with FPO for Rabi season(in Qt).' | translate}}</h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
             
              <div class="chart">
                
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">{{'Total Markatable Surplus and Sold Quanyity with FPO for Rabi season(in Qt).' | translate}}</h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;"> 
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
             
              <div class="chart">
                
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-xl-4 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent" style="height: 160PX;">
              <div class="row align-items-center">
                <div class="col-md-5">
                  <h6 class="text-uppercase  ls-1 mb-1">Total Marketable Surplus and Sold
                    Quantity with FPO for Kharif season (in
                    Qt.)
                    </h6>
                  <h2 class="text-white mb-0">{{'Sales value' | translate}}</h2>
                </div>
                <div class="col-md-7">
                  <ul class="nav nav-pills justify-content-end" style="margin-bottom: 50px;">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()" style="margin-bottom: 10px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                        <span class="d-none d-md-block">Markatable Surplus</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()" style="margin-right: 45px;">
                      <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                        <span class="d-none d-md-block">{{'Sold' | translate}}</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">             
              <div class="chart">              
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>        -->
        <div class="mb-10"></div>
      </div>
    </div>

   
  
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h3 class="modal-title text-center">Enquiry Form</h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group mb-3">
            <label class="form-control-label" for="input-username">Your Full Name</label>
            <div class="input-group input-group-alternative">
              <input class="form-control" placeholder="Full Name" type="text">
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-control-label" for="input-username">Email Address</label>
            <div class="input-group input-group-alternative">
              <input class="form-control" placeholder="Email" type="text">
            </div>
          </div>
  
          <div class="form-group mb-3">
            <label class="form-control-label" for="input-username">Quantity Required</label>
            <div class="input-group input-group-alternative">
              <input class="form-control" placeholder="Quantity" type="text">
            </div>
          </div>
  
          <div class="form-group mb-3">
            <label class="form-control-label" for="input-username">Fulfilled Date</label>
            <div class="input-group input-group-alternative">
              <input class="form-control" placeholder="Fulfilled Date" type="date">
            </div>
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn btn-login btn-product-search btn-primary my-4">Send</button>
          </div>
        </form>
      </div>
    </ng-template>
  </section>
