.wapper {
  display: block;
  border-radius: 150px 0 0 0;
}
.title a {
  color: rgb(82, 95, 127);
  cursor: pointer
}
.Register {
  cursor:pointer
}
.logo-image {
  width: 50px;
  height: 50px;
}

.innerContent {
  min-height: 70vh;
  background: #ccc;
  border-radius: 150px 0 0 0;
  box-shadow: 2px 2px 0px #fff;
}