pool:
  name: Hosted Ubuntu 1604
  demands: npm

steps:
- task: Npm@1
  displayName: 'npm install'
  inputs:
    verbose: false

- task: Npm@1
  displayName: 'npm build dev'
  inputs:
    command: custom
    verbose: false
    customCommand: 'run build-prod'
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'master'))

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: webapp'
  inputs:
    PathtoPublish: dist
    ArtifactName: webapp