<div class="header pb-8 pt-5 pt-md-8 ">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row mb-2">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'FPOs' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{fpo |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Total Land (in Ha.)' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{farmerDetails?.totalland |  number:'1.0-2'}}
                    <sub></sub></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Farm Machinery Bank' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{fmbs |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Seed Processing Unit' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{seedProcessing |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Total Farmers' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{farmerDetails?.totalfarmers |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Marginal Farmers' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{farmerDetails?.marginalfarmers |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Small Farmers' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{farmerDetails?.smalltotal |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Others Farmers' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{farmerDetails?.bigfarmers |  number:'1.0-2'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<br>

<div class="container-fluid mt--7 mb-7 dashboard">
  <div class="row">
    <div class="col-lg-9">
      <div class="form-check">
        <label class="form-check-label" for="radio1"  >
          <input type="radio" class="form-check-input" name="optradio" value="surplus" (click)="showGraphs('markatable_surplus')" checked>
          {{'Marketable Surplus' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="production" (click)="showGraphs('actual_production')" >
          {{'Actual Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="sales" (click)="showGraphs('sales_production')">
          {{'Sale Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
    </div>
      <div class="col-lg-3">
        <div class="form-group">
          <select class="custom-control custom-select" ng-model="fin_year" (change)="getDashboardDetails($event.target.value)">
            <option value="{{year}}" *ngFor="let year of finYears">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <br/>
  <div class="card shadow">
    <div class="card-body">
      <div *ngIf="markatable_surplus" class="row">
        <div class="col-12" *ngFor="let row of markatableProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title | translate}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>

      <div *ngIf="actual_production" class="row">
        <div class="col-12" *ngFor="let row of actualProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title | translate}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>

      <div *ngIf="sales_production" class="row">
        <div class="col-12" *ngFor="let row of salesProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title | translate}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container-fluid mt--7 mb-7">
  <div class="card shadow">
    <div class="card-body">
      <h4>{{'Agency-wise Number & Percentage of FPOs' | translate}}</h4>
      <div style="display: block;">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div>
</div><br>