<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 ">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row mb-2">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'FPOs' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalFpo | number: '1.0-0'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Total Land (in Ha.)' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.landArea | number}}
                    <sub></sub></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Farm Machinery Bank' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalFpo | number}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Seed Processing Unit' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.landArea | number}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Total Farmers' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalfarmers | number}}
                  </span>

                </div>
                <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Marginal' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalMarginalFarmer | number}}
                  </span>
                </div>
                <!-- <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div> -->
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Small' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalSmallFarmer | number}}
                  </span>
                </div>
                <!-- <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div> -->
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-3 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{'Others' | translate}}</h5>
                  <span class="h2 font-weight-bold mb-0">
                    {{totals.totalOtherFarmer | number}}
                  </span>
                </div>
                <!-- <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div> -->
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<br>

<div class="container-fluid mt--7 mb-7 dashboard">
  <div class="row">
    <div class="col-lg-9">
      <div class="form-check">
        <label class="form-check-label" for="radio1"  >
          <input type="radio" class="form-check-input" name="optradio" value="surplus" (click)="showGraphs('markatable_surplus')" checked>
          {{'Marketable Surplus' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="production" (click)="showGraphs('actual_production')" >
          {{'Actual Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" name="optradio" value="sales" (click)="showGraphs('sales_production')">
          {{'Sale Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      </div>
    </div>
      <div class="col-lg-3">
        <div class="form-group">
          <select class="custom-control custom-select" ng-model="fin_year" (change)="getDashboardDetails($event.target.value)">
            <option value="{{year}}" *ngFor="let year of finYears">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <br/>
  <div class="card shadow">
    <div class="card-body">
      <div *ngIf="markatable_surplus" class="row">
        <div class="col-12" *ngFor="let row of markatableProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>

      <div *ngIf="actual_production" class="row">
        <div class="col-12" *ngFor="let row of actualProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme1" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>

      <div *ngIf="sales_production" class="row">
        <div class="col-12" *ngFor="let row of salesProduction">
          <div class="row px-5 mb-0">
            <strong> {{row.title}}</strong>
          </div>
          <div class="row mb-4" style="border-bottom: solid;">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme1" [results]="row.data"
              [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [legendTitle]="legendTitle" [legendPosition]="'below'">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container-fluid mt--7 mb-7">
  <div class="card shadow">
    <div class="card-body">
      <h4>Agency-wise Number & Percentage of FPOs</h4>
      <div style="display: block;">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div>
</div><br>
<!-- 
<div class="container-fluid mt--7 mb-7">
  <div class="card shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">{{'District' | translate}} </label>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"></span>
              </div>
              <select class="form-control">
                <option value="">{{'Select District' | translate}}</option>
                <option *ngFor="let district of districts" [value]="district.district_id">{{district.district_name}}</option>
              </select>
            </div>
           
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label" for="input-last-name">{{'Crops' | translate}}</label>
            <select   class="custom-control custom-select mb-3">
              <option value="">{{'Select Crops' | translate}}</option>
              <option  [value]=""></option>
            </select>
          </div>
        </div>
        <div class="col-lg-4"> 
          <div class="form-group mt-4">
            <button class="btn btn-primary mt-2 text-right" >{{'View Reports' | translate}}</button>
          </div>
        </div>
      </div>
      <br>
      <h3>{{'Production Report' | translate}}</h3>

      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">{{'District' | translate}}</th>
              <th scope="col">{{'Crop Name' | translate}}</th>
              <th scope="col">{{'Crop Variety' | translate}}</th>
              <th scope="col">{{'Total FPO' | translate}}</th>
              <th scope="col">{{'Estimated Production (in Qt.)' | translate}}</th>
              <th scope="col">{{'Actual Production (in Qt.)' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of productions ; let i=index">
              <td>
                {{i+1}}
              </td>
              <td>
                {{u.fpo_name}}
              </td>
              <td>
                {{u.user_name}}
              </td>
              <td>
                {{u.district_name}}
              </td>
              <td>
                {{u.date_of_regi}}
              </td>
              <td>
                {{u.fpo_email}}
              </td>

            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div> -->