<div class="card mt-3" *ngIf="lang==='en'">
  <div class="card-body">
    <p>
      <i>"Terms and Conditions" </i>
    </p>
    <p>
      This website is designed, developed and maintained by Agriculture Department, Government of Uttar Pradesh
    </p>
    <p>
      Though all efforts have been made to ensure the accuracy and currency of the content on this website, the same
      should not be construed as a statement of law or used for any legal purposes. In case of any ambiguity or doubts,
      users are advised to verify/check with the Department(s) and/or other source(s), and to obtain appropriate
      professional advice. Under no circumstances will this Department be liable for any expense, loss or damage
      including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever
      arising from use, or loss of use, of data, arising out of or in connection with the use of this website.
    </p>
    <p>
      These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute
      arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.
    </p>
    <p>
      The information posted on this website could include hypertext links or pointers to information created and
      maintained by non-Government / private organisations. Agriculture Department, Government of Uttar Pradesh is
      providing these links and pointers solely for your information and convenience. When you select a link to an
      external website, you are leaving the Agriculture Department, Government of Uttar Pradesh website and are subject
      to the privacy and security policies of the owners/ sponsors of the external website.
    </p>
    <p>
      Agriculture Department, Government of Uttar Pradesh does not guarantee availability of linked pages at all times.
      And Department cannot authorise use of copyrighted materials contained in linked website. Users are advised to
      request such authorisation from owners of linked websites. Agriculture Department, Government of Uttar Pradesh
      does not guarantee that linked websites comply with Indian Government Web Guidelines.
    </p>
  </div>
</div>
<div class="card mt-3" *ngIf="lang==='hi'">
  <div class="card-body">
    <p>
      <i>"संदर्भ और शर्ते"" </i>
    </p>
    <p>
      यह वेबसाइट कृषि विभाग, उत्तर प्रदेश द्वारा डिजाइन, विकसित और अनुरक्षित है।
    </p>
    <p>
      यद्यपि इस वेबसाइट में प्रदत्त सूचना की परिशुद्धता और सामयिकता बनाए रखने के लिए सभी प्रयास किए गए हैं, लेकिन इन्हें
      बतौर विधिक कथन नहीं लिया जाना चाहिए या कानूनी प्रयोजनों के लिए इनका उपयोग नहीं किया जाना चाहिए। किसी भी अस्पष्टता
      या संदेह के मामले में, उपयोगकर्ता को, विभाग(गों) और /या अन्य स्रोत(तों) से जांच करने/सत्यापित करने, और उपयुक्त
      पेशेवर सलाह प्राप्त करने की सलाह दी जाती है। किसी भी स्थिति में यह विभाग, इस वेबसाइट के उपयोग के संबंध में या इसके
      आंकड़ों के प्रयोग से, या प्रयोग न होने से उत्पन्न होने वाले, बिना सीमा के, अप्रत्यक्ष या परिणामी हानि या क्षति
      सहित किसी भी खर्च, नुकसान या क्षति के लिये उत्तरदायी नहीं होगा।
    </p>
    <p>
      ये नियम व शर्तें भारतीय विधि द्वारा नियंत्रित एवं उसके अनुसार परिभाषित होंगी। इन नियमों व शर्तों के अंतर्गत
      उत्पन्न कोई भी विवाद, भारतीय न्यायालय के क्षेत्राधिकार के तहत कार्यवाई के अधीन होगा।
    </p>
    <p>
      इस वेबसाइट पर पोस्ट की गई जानकारी में हाइपरटेक्स्ट कड़ी या गैर-सरकारी/निजी संगठनों द्वारा निर्मित और रखी गई सूचना
      के पॉइंटर्स शामिल किए जा सकते हैं। कृषि विभाग, उत्तर प्रदेश सरकार ये लिंक्स और संकेत केवल आपकी जानकारी और सुविधा
      के लिए प्रदान कर रहा है। जब आप एक बाहरी वेबसाइट के लिए एक लिंक का चयन करते हैं, तो आप कृषि विभाग, उत्तर प्रदेश की
      वेबसाइट छोड़ देते हैं और आप बाहरी वेबसाइट के मालिकों / प्रायोजकों की गोपनीयता और सुरक्षा नीतियों के अधीन होते हैं।
    </p>
    <p>
      कृषि विभाग, उत्तर प्रदेश लिंक किए गए पृष्ठों की हर समय उपलब्धता की गारंटी नहीं देता है, और विभाग लिंक की गई
      वेबसाइटों में निहित कॉपीराइट सामग्री के प्रयोग को प्राधिकृत नहीं कर सकता है। उपयोगकर्ताओं को सलाह दी जाती है कि
      ऐसे प्राधिकरण के लिए वे लिंक की गयी वेबसाइट(टों) के स्वामियों से अनुरोध करें। कृषि विभाग, उत्तर प्रदेश लिंक्ड
      वेबसाइटों के लिए भारत सरकार के वेब दिशानिर्देशों के अनुपालन की गारंटी नहीं देता है।
    </p>
  </div>
</div>
