<div class="footer footerBox">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-center">

        <!-- Accessibility Statement -->


        <a href="/accessibilityen" title="Accessibility Statement">
          {{'Accessibility' |translate}}
        </a>
        |
        <a href="/privacypolicyen" title="Privacy Policy">
          {{'Privacy Policy' | translate}}
        </a>
        |
        <!--Hyper Linnking Policy  -->
        <a href="/hyperlinkingpolicyen" title="HyperLinking Policy">
          {{'Hyper Linking Policy' | translate}}
        </a>
        |

        <!-- Copyright Policy -->


        <a href="/copyrightpolicyen" title="Copyright Policy">
          {{'Copyright Policy' | translate }}
        </a>

        |

        <a href="/termsconditionsen" title="Terms and Conditions">
          {{'Terms and Conditions' | translate }}
        </a>
        |
        <a href="/disclaimeren" title="Disclaimer">
          {{'Disclaimer' | translate}}
        </a>

        |
        <!--Help  -->


        <a href="/helpen" title="Help">

          {{'Help' | translate}}
        </a>


        <p>
          {{'footerText1' | translate}}

        </p>
        <p>
          {{'footerText2' | translate}}
          .
        </p>
      </div>
      <div class="col-sm-5 text-center">
        <p style="margin: 0;"> {{'footerText3' | translate}}</p>
        <p> {{'footerText4' | translate}}</p>

      </div>
    </div>
  </div>
</div>
