<div class="footer footerBox">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-center">

        <!-- Accessibility Statement -->


        <a href="/accessibilityen" title="Accessibility Statement">
          Accessibility Statement
        </a>
        |
        <a href="/privacypolicyen" title="Privacy Policy">
          Privacy Policy
        </a>
        |
        <!--Hyper Linnking Policy  -->
        <a href="/hyperlinkingpolicyen" title="HyperLinking Policy">
          Hyper Linking Policy
        </a>
        |

        <!-- Copyright Policy -->


        <a href="/copyrightpolicyen" title="Copyright Policy">
          Copyright Policy
        </a>

        |

        <a href="/termsconditionsen" title="Terms and Conditions">
          Terms and Conditions
        </a>
        |
        <a href="/disclaimeren" title="Disclaimer">
          Disclaimer
        </a>

        |
        <!--Help  -->


        <a href="/helpen" title="Help">

          Help
        </a>


        <p>
          Content on this website is published and managed by State Agriculture Directorate Uttar Pradesh Krishi Bhawan Lucknow.

        </p>
        <p>
          For any questions about this website, please contact
          Web Information Manager
          .
        </p>
      </div>
      <div class="col-sm-5 text-center">
        <p style="margin: 0;">Last reviewed and updated on: 23-07-2020</p>
        <p> © State Agriculture Directorate Uttar Pradesh, India | All rights reserved.</p>

      </div>
    </div>
  </div>
</div>
