<div class="card mt-3" *ngIf="lang==='en'">
  <div class="card-body">
    <p>
      <i>"Hyperlinking Policy" </i>
    </p>
    <p>
      <strong>Links to external websites/portals</strong>
    </p>
    <p>
      At many places on this website, you shall find links to other websites/portals. These links have been placed for
      your convenience. Agriculture Department is not responsible for the contents and reliability of the linked
      websites and does not necessarily endorse the views expressed in them. The mere presence of the link or its
      listing on this website should not be assumed as endorsement of any kind. We cannot guarantee that these links
      will work all the time and we have no control over availability of linked pages.
    </p>
    <p>
      <strong>Links to Agriculture Department, Uttar Pradesh from other websites/portals
      </strong>
    </p>
    <p>
      Prior permission is required before hyperlinks are directed from any website/portal to this site. Permission for
      the same, stating the nature of the content of the pages from where the link has to be given and the exact
      language of the Hyperlink has to be obtained by sending a request to Agriculture Department, Uttar Pradesh.
    </p>
  </div>
</div>
<div class="card mt-3" *ngIf="lang==='hi'">
  <div class="card-body">
    <p>
      <i>"हाइपरलिंकिंग नीति" </i>
    </p>
    <p>
      <strong>बाहरी वेबसाइटों / पोर्टलों से लिंक:</strong>
    </p>
    <p>
      इस वेबसाइट में कई जगहों पर आपको अन्य वेबसाइटों / पोर्टलों के लिए लिंक मिल सकता है। यह लिंक आपकी सुविधा के लिए लगाए
      गए हैं। कृषि विभाग, उत्तर प्रदेश इस वेबसाइट से जुडी हुई वेबसाइट के सामग्री और विश्वसनीयता के लिए उत्तरदायी नहीं है
      तथा यह जरुरी नहीं है की विभाग उनमें प्रकट दृष्टिकोणों का समर्थन करता हो। अतः वेबसाइट में मात्र किसी लिंक या किसी
      वेबसाइट के सूचीकरण को किसी भी प्रकार का समर्थन नहीं माना जाए। हम इस बात का आश्वासन नहीं देते हैं की यह लिंक हर समय
      काम करेंगे तथा हमारा जुड़े पृष्ठों की उपलब्धता पर कोई नियंत्रण नहीं है।
    </p>
    <p>
      <strong>अन्य वेबसाइटों / पोर्टलों द्वारा कृषि विभाग, उत्तर प्रदेश के लिए लिंक
      </strong>
    </p>
    <p>
      किसी भी वेबसाइट / पोर्टल से इस वेबसाइट में हाइपरलिंक प्रत्यक्ष करने के लिए कृषि विभाग, उत्तर प्रदेश सरकार से पूर्व
      अनुमति लेना आवश्यक है। इस अनुमति को प्राप्त करने के लिए कृषि विभाग, उत्तर प्रदेश को निवेदन द्वारा हाइपरलिंक किये
      जाने वाले पृष्ठों की भाषा एवं स्वरुप की सूची प्राप्त कराना अनिवार्य है।
    </p>
  </div>
</div>
