<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Add FPO's Crop Production</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="productionForm" (ngSubmit)="addCropProduction()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Season<span class="required">*</span></label>
                    <select formControlName="season" class="form-control form-control-alternative">
                      <option value="">Select Season</option>
                      <option value="1"> Rabi</option>
                      <option value="2"> Kharip</option>
                      <option value="3"> Zayad</option>
                    </select> 
                    <div *ngIf="submitted && formControls.season.errors" class="text-danger">
                      <div *ngIf="formControls.season.errors.required">Season is required</div>
                    </div>                       
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Crop Name<span class="required">*</span></label>
                    <select formControlName="cropName" class="form-control form-control-alternative">
                      <option value="">Select Crop</option>
                      <option value="1"> crop 1</option>
                      <option value="2"> crop 2</option>
                      <option value="3"> crop 3</option>
                    </select> 
                    <div *ngIf="submitted && formControls.cropName.errors" class="text-danger">
                      <div *ngIf="formControls.cropName.errors.required">Crop Name is required</div>
                    </div>                       
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Crop variety<span class="required">*</span></label>
                    <select formControlName="cropVariety" class="form-control form-control-alternative">
                      <option value="">Select variety</option>
                      <option value="1"> variety 1</option>
                      <option value="2"> variety 2</option>
                      <option value="3"> variety 3</option>
                    </select>   
                    <div *ngIf="submitted && formControls.cropVariety.errors" class="text-danger">
                      <div *ngIf="formControls.cropVariety.errors.required">Crop Variety is required</div>
                    </div>                     
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Actual Production (in Qt.)<span class="required">*</span></label>
                    <input formControlName="actualProduction" type="text" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.actualProduction.errors" class="text-danger">
                      <div *ngIf="formControls.actualProduction.errors.required">Actual Production is required</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Marketable Surplus (in Qt.)<span class="required">*</span></label>
                    <input formControlName="marketableSurplus" type="text" id="input-last-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.marketableSurplus.errors" class="text-danger">
                      <div *ngIf="formControls.marketableSurplus.errors.required">Marketable Surplus is required</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="card-footer py-4 text-center">
                <button type="submit" class="btn btn-yellow btn-primary my-4">Add Crop Production</button>
                <button class="btn btn-warning text-right">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">FPO's Crop Productions</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Season</th>
                <th scope="col">Crop Name</th>
                <th scope="col">Variety</th>
                <th scope="col">Actual Production</th>
                <th scope="col">Marketable Surplus</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let production of cropProductions | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{production.season}}
                 </td>
                <td>
                  {{production.cropName}}
                </td>
                <td>
                  {{production.cropVariety}}
                </td>
                <td>
                  {{production.actualProduction}}
                </td>
                <td>
                  {{production.marketableSurplus}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
