<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"Add FPO's Crop Production"|translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="productionForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'Season'|translate}}<span class="required">*</span></label>
                    <select formControlName="season" class="form-control form-control-alternative" (change)="getCropsBySeasonId($event.target.value)">
                      <option value="">{{'Select Season'|translate}}</option>                    
                      <option value="{{season.seasonId}}" *ngFor="let season of seasons">{{season.season}}</option>
                    </select> 
                    <div *ngIf="submitted && formControls.season.errors" class="text-danger">
                      <div *ngIf="formControls.season.errors.required">{{'Season is required'|translate}}</div>
                    </div>                       
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'Crop Name'| translate}}<span class="required">*</span></label>
                    <select formControlName="cropId" class="form-control form-control-alternative" (change)="getCropVarietiesByCropId($event.target.value)">
                      <option value="">{{'Select Crop'|translate}}</option>
                      <option value="{{crop.cropId}}" *ngFor="let crop of crops">{{crop.cropName}}</option>
                    </select> 
                    <div *ngIf="submitted && formControls.cropId.errors" class="text-danger">
                      <div *ngIf="formControls.cropId.errors.required">{{'Crop Name is required'|translate}}</div>
                    </div>                       
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Crop variety'|translate}}<span class="required">*</span></label>
                    <select formControlName="verietyId" class="form-control form-control-alternative">
                      <option value="">{{'Select variety'| translate}}</option>
                      <option value="{{variety.verietyId}}" *ngFor="let variety of cropVarieties">{{variety.verietyName}}</option>
                    </select>   
                    <div *ngIf="submitted && formControls.verietyId.errors" class="text-danger">
                      <div *ngIf="formControls.verietyId.errors.required">{{'Crop Variety is required'|translate}}</div>
                    </div>                     
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Actual Production (in Qt.)'|translate}}<span class="required">*</span></label>
                    <input formControlName="actualQuantity" type="text" id="input-email" class="form-control form-control-alternative" appOnlynumber>
                    <div *ngIf="submitted && formControls.actualQuantity.errors" class="text-danger">
                      <div *ngIf="formControls.actualQuantity.errors.required">{{'Actual Production is required'|translate}}</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Marketable Surplus (in Qt.)'|translate}}<span class="required">*</span></label>
                    <input formControlName="marketableQuantity" type="text" id="input-last-name" class="form-control form-control-alternative" appOnlynumber >
                    <div *ngIf="submitted && formControls.marketableQuantity.errors" class="text-danger">
                      <div *ngIf="formControls.marketableQuantity.errors.required">{{'Marketable Surplus is required'|translate}}</div>
                    </div>  
                    <div class="row" *ngIf="checkMQ()">
                      <div class="col-lg-12 text-center">
                        <span class="required">{{'markatable surplus should be less than or equal to 20% more than actual yeild.' | translate}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addCropProduction()">
                  {{'Save' | translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateCropProduction()">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-warning text-right" (click)="resetForm()">{{'Reset1'|translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"FPO's Crop Productions"|translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">{{'Sr.no'|translate}}</th>
                <th scope="col">{{'Season'|translate}}</th>
                <th scope="col">{{'Crop Name'| translate}}</th>
                <th scope="col">{{'Variety'|translate}}</th>
                <th scope="col">{{'Actual Production (in Qt.)'|translate}}</th>
                <th scope="col">{{'Marketable Surplus (in Qt.)'|translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let production of cropProductions | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                <td>
                  <input type="checkbox">
                </td>
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td>
                 {{production.season_name}}
                 </td>
                <td>
                  {{production.crop_name}}
                </td>
                <td>
                  {{production.crop_variety}}
                </td>
                <td>
                  {{production.actual_quantity}}

                </td>
                <td>
                  {{production.marketable_quantity}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      {{'Actions'|translate}}
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editCropProduction(production)">{{'Edit'|translate}}</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(production.marketable_id)">{{'Delete'|translate}}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
