<div class="card mt-3" *ngIf="lang==='en'">
  <div class="card-body">
    <p>
      <i>"Disclaimer" </i>
    </p>
    <p>
      Though all efforts have been made to ensure the accuracy of the contents on this Portal, the same should not be
      construed as accurate reproduction of the text for use for any legal purposes. Agriculture Department, Uttar
      Pradesh accept no responsibility in relation to the accuracy, completeness, usefulness or otherwise, of the
      contents. In no event, Agriculture Department, Uttar Pradesh will be liable for any loss, damage, liability or
      expense incurred or suffered that is claimed to have resulted from use of this Portal, including, without
      limitation, any fault, virus, error, omission, interruption or delay, with respect thereto, indirect or remote.
      The use of website is of the user's sole risk. User specifically acknowledges and agrees that Agriculture
      Department, Uttar Pradesh are not liable for any conduct of any user. Links to other websites that have been
      included on this Portal are provided for public convenience only. However, Agriculture Department, Uttar Pradesh
      is not responsible for the contents or reliability of linked websites and does not necessarily endorse the views
      expressed therein. Agriculture Department, Government of Uttar Pradesh does not guarantee the availability of such
      linked pages at all times. Any disputes arising out of these terms and conditions, shall be subject to the
      exclusive jurisdiction of the courts of India.
    </p>
  </div>
</div>
<div class="card mt-3" *ngIf="lang==='hi'">
  <div class="card-body">
    <p>
      <i>"अस्वीकरण" </i>
    </p>
    <p>
      इस पोर्टल पर उपलब्ध सामग्री की सटीकता एंव विश्वसनीयता सुनिश्चित करने के लिए सभी आवश्यक प्रयास किए गए है, उपलब्ध
      सामग्री का किसी भी प्रकार के कानूनी प्रयोजनों के लिए प्रतिकृति या पुनरुत्‍पादन के रूप में उपयोग नहीं किया जाना
      चाहिए। कृषि विभाग, उत्तर प्रदेश सामग्री की सटीकता, पूर्णता या उपयोगिता के संबंध में कोई भी जिम्मेदारी स्वीकार नहीं
      करते हैं। इस पोर्टल के उपयोग द्वारा किसी घटना के मामले में, जैसे- सीमा रहित, किसी भी प्रकार की गलती, वायरस,
      त्रुटि, चूक, रुकावट या देरी, अप्रत्यक्ष या रिमोट के कारण किसी भी प्रकार की हानि, क्षति, देयता या खर्च के लिए कृषि
      विभाग, उत्तर प्रदेश उत्तरदायी नहीं होगा। वेबसाइट के उपयोग द्वारा किसी भी प्रकार की हानि उपयोगकर्ता का व्यक्तिगत
      जोखिम है। उपयोगकर्ता विशेष रूप से स्वीकार तथा सहमत होता है की, कृषि विभाग, उत्तर प्रदेश किसी भी उपयोगकर्ता के किसी
      भी आयोजन के लिए उत्तरदायी नहीं हैं। इस पोर्टल पर उपलब्ध अन्य वेबसाइटों के लिंक नागरिकों की सुविधा के लिए ही प्रदान
      किए जाते हैं। हालांकि, कृषि विभाग, उत्तर प्रदेश सामग्री या लिंक वेबसाइटों की विश्वसनीयता के लिए जिम्मेदार नहीं हैं
      और न ही उसमें व्यक्त किए गए विचार का समर्थन करते हैं। कृषि विभाग, उत्तर प्रदेश सरकार ऐसे सम्बद्ध पृष्ठों की हर समय
      उपलब्धता की गारंटी नहीं देते है। इन नियमों और शर्तों से उत्पन्न कोई भी विवाद, भारतीय न्यायालयों के क्षेत्राधिकार
      के अधीन होगा।
    </p>
  </div>
</div>
