<div class="header bg-gradient-yellow py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-3">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
  <div class="container mt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center mb-4">
              <h4>Please enter registered email address to reset your password.</h4>
            </div>
            <form role="form" [formGroup]="forgotPasswordForm" (ngSubmit)="sendForgotPasswordEmail()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input formControlName="email" class="form-control" placeholder="email" type="text">
                </div>
                <div *ngIf="submitted && formControls.email.errors" class="text-danger">
                  <div *ngIf="formControls.email.errors.required">Email is required</div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-login btn-yellow btn-primary my-4">Send password reset email</button>
              </div>
            </form>
            <div class="row">
              <div class="col-6">
                <a routerLink="/login" class=""><small>Login now</small></a>
              </div>
              <div class="col-6 text-right">
                <a routerLink="/register" class=""><small>Create new account</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
