<div class="card mt-3" *ngIf="lang==='en'">
  <div class="card-body">
    <p>
      <i>"PrivacyPolicy" </i>
    </p>
    <p>
      As a general rule, this website does not collect Personal Information about you when you visit the site. You can
      generally visit the site without revealing Personal Information, unless you choose to provide such information.
    </p>
    <p>
      <strong>Site Visit data:</strong>
    </p>
    <p>

      This website records your visit and logs the following information for statistical purposes -your server’s
      address; the name of the top-level domain from which you access the Internet (for example, .gov, .com, .in, etc.);
      the type of browser you use; the date and time you access the site; the pages you have accessed and the documents
      downloaded and the previous Internet address from which you linked directly to the site.
    </p>
    <p>
      We will not identify users or their browsing activities, except when a law enforcement agency may exercise a
      warrant to inspect the service provider’s logs.
    </p>
    <p>
      <strong>Cookies: </strong>
    </p>
    <p>
      A cookie is a piece of software code that an internet web site sends to your browser when you access information
      at that site. This site does not use cookies.
    </p>
    <p>
      <strong>Email Management:</strong>
    </p>
    <p>Your email address will only be recorded if you choose to send a message. It will only be used for the purpose
      for which you have provided it and will not be added to a mailing list. Your email address will not be used for
      any other purpose, and will not be disclosed, without your consent.</p>
    <p>
      <strong>
        Collection of Personal Information:
      </strong>
    </p>
    <p>
      If you are asked for any other Personal Information you will be informed how it will be used if you choose to give
      it. If at any time you believe the principles referred to in this privacy statement have not been followed, or
      have any other comments on these principles, please notify the webmaster through the contact us page.
    </p>
    <p>
      <i><strong>* Note:</strong> The use of the term “Personal Information” in this privacy statement refers to any
        information from which your identity is apparent or can be reasonably ascertained</i>
    </p>
  </div>
</div>
<div class="card mt-3" *ngIf="lang==='hi'">
  <div class="card-body">
    <p>
      <i>"गोपनीयता नीति" </i>
    </p>
    <p>
      एक सामान्य नियम के रूप में, जब भी आप साइट पर जाते हैं, यह वेबसाइट, आप के बारे में व्यक्तिगत जानकारी एकत्र नहीं
      करती है। आप आम तौर पर व्यक्तिगत जानकारी का खुलासा किए बिना साइट पर जा सकते हैं जब तक कि आप इस तरह की जानकारी
      प्रदान करने का चुनाव नहीं करते हैं।
    </p>
    <p>
      <strong>साइट विजिट डेटा:</strong>
    </p>
    <p>
      यह वेबसाइट आपकी विजिट को रिकॉर्ड करती है और सांख्यिकीय प्रयोजनों के लिए निम्न जानकारी लॉग करती है-आपके सर्वर का
      पताय आप के द्वारा इंटरनेट का उपयोग किये जाने के लिये शीर्ष स्तर डोमेन का नाम (उदाहरण के लिए, .gov, .com, .in,
      आदि); आपके द्वारा उपयोग किये गये ब्राउजर का प्रकार; आपके द्वारा इस साइट के उपयोग का तारीख और समय; आपके द्वारा
      पहुँचे पृष्ठों और डाउनलोड किये गये दस्तावेज और पिछला इंटरनेट पता जिससे आप साइट से सीधे जुड़े थे।
    </p>
    <p>
      जब तक कि कोई कानून प्रवर्तन एजेंसी सेवा प्रदाता का लॉग निरीक्षण करने के लिए ऐसा आवश्यक हो, ऐसी स्थिति को छोड़कर,
      हम उपयोगकर्ता या उनकी ब्राउजिंग गतिविधियों की पहचान नहीं करते हैं।
    </p>
    <p>
      <strong>कुकीजः </strong>
    </p>
    <p>
      कुकी एक छोटा सॉफ्टवेयर कोड है जो आपके द्वारा किसी साइट की जानकारी का उपयोग किए जाने पर वह इंटरनेट वेब साइट आपके
      ब्राउजर को भेजती है। यह साइट कुकीज का उपयोग नहीं करती है।
    </p>
    <p>
      <strong>ईमेल प्रबंधनः</strong>
    </p>
    <p>यदि आप संदेश भेजना चाहते हैं तो आपका केवल ईमेल पता ही दर्ज किया जाएगा। इसे केवल उसी उद्देश्य के लिए इस्तेमाल किया
      जाएगा जिसके लिये आपने इसे प्रदान किया है और उसे मेलिंग सूची में नहीं जोड़ा जाएगा। आपका ईमेल पता किसी अन्य उद्देश्य
      के लिए इस्तेमाल नहीं किया जाएगा, और आपकी सहमति के बिना, उसका खुलासा नहीं किया जाएगा।</p>
    <p>
      <strong>
        व्यक्तिगत जानकारी का संग्रहः
      </strong>
    </p>
    <p>
      यदि आपसे कोई भी अन्य व्यक्तिगत जानकारी मांगी जाती है, और यदि आप उसे देने के लिए चुनते हैं तो उसका उपयोग कैसे किया
      जाएगा इसके बारे में सूचित किया जाएगा। यदि किसी भी समय आप को यह लगता है कि इस गोपनीयता कथन में निर्दिष्ट सिद्धांतों
      का पालन नहीं किया गया है, या इन सिद्धांतों पर कोई अन्य टिप्पणी है, तो हमसे संपर्क करें पृष्ठ के माध्यम से
      वेबमास्टर को सूचित करें।
    </p>
    <p>
      <i><strong>* नोटः </strong> इस गोपनीयता कथन में शब्द ‘‘व्यक्तिगत जानकारी‘‘ का उपयोग ऐसी किसी भी जानकारी को
        संदर्भित करता है जिससे आपकी पहचान सुनिश्चित की जा सकती या यथोचित पता लगायी जा सकती है।</i>
    </p>
  </div>
</div>
