<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0"> Board Member Details</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="memberForm" (ngSubmit)="addBoardMember()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Board Member Name</label>
                    <input formControlName="name" type="text" id="input-username" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.name.errors" class="text-danger">
                      <div *ngIf="formControls.name.errors.required">Board Member Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Father's/ Husband's Name</label>
                    <input formControlName="fatherName" type="text" id="input-first-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.fatherName.errors" class="text-danger">
                      <div *ngIf="formControls.fatherName.errors.required">Father's/ Husband's Name is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input formControlName="email" type="email" id="input-email" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.email.errors" class="text-danger">
                      <div *ngIf="formControls.email.errors.required">Email is required</div>
                      <div *ngIf="formControls.email.errors.pattern">Invalid Email Address</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Mobile</label>
                    <input formControlName="mobile" type="number" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.mobile.errors" class="text-danger">
                      <div *ngIf="formControls.mobile.errors.required">Mobile is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Designation</label>
                    <input formControlName="designation" type="text" id="input-last-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.designation.errors" class="text-danger">
                      <div *ngIf="formControls.designation.errors.required">Designation is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label" for="input-last-name">Gender</label><br/>
                    <div class="custom-control custom-radio mb-3 " style="display: inline;margin-right: 20px;">
                      <input name="custom-radio-2" formControlName="gender" value="Male" class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">Male</label>
                    </div>
                    <div class="custom-control custom-radio mb-3" style="display: inline;margin-right: 20px;">
                      <input name="custom-radio-2" formControlName="gender" value="Female" class="custom-control-input" id="customRadio6" checked="" type="radio">
                      <label class="custom-control-label" for="customRadio6">Female</label>
                    </div> 
                    <div class="custom-control custom-radio mb-3" style="display: inline;margin-right: 20px;">
                      <input name="custom-radio-2" formControlName="gender" class="custom-control-input" id="customRadio7" type="radio">
                      <label class="custom-control-label" for="customRadio7">Other</label>
                    </div>
                    <div *ngIf="submitted && formControls.gender.errors" class="text-danger">
                      <div *ngIf="formControls.gender.errors.required"> Gender is required</div>
                    </div>               
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">District</label>
                    <select formControlName="district" class="custom-control custom-select">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                    <div *ngIf="submitted && formControls.district.errors" class="text-danger">
                      <div *ngIf="formControls.district.errors.required">District is required</div>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Block</label>
                    <select formControlName="block" class="custom-control custom-select">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>  
                    <div *ngIf="submitted && formControls.block.errors" class="text-danger">
                      <div *ngIf="formControls.block.errors.required">Block is required</div>
                    </div>                
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Gram Panchayat</label>
                    <select formControlName="grampanchayat" class="custom-control custom-select">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select> 
                    <div *ngIf="submitted && formControls.grampanchayat.errors" class="text-danger">
                      <div *ngIf="formControls.grampanchayat.errors.required">Gram Panchayat is required</div>
                    </div>                 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Village</label>
                    <select formControlName="village" class="custom-control custom-select">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>  
                    <div *ngIf="submitted && formControls.village.errors" class="text-danger">
                      <div *ngIf="formControls.village.errors.required">Village is required</div>
                    </div>                
                  </div>
                </div>
              </div>

              <div class="card-footer py-4 text-center">
                <button type="submit" class="btn btn-yellow btn-primary my-4" (click)="addBoardMember()">Add Member</button>
                <button class="btn btn-warning text-right">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Board Member Details</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Member Name</th>
                <th scope="col">Father's/Husband's Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Designation</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{member.name}}
                 </td>
                <td>
                  {{member.fatherName}}
                </td>
                <td>
                  {{member.gender}}
                </td>
                <td>
                  {{member.designation}}
                </td>
                <td>
                  {{member.mobile}}
                </td>
                <td>
                  {{member.email}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editBoardMember(member)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="deleteBoardMember(member.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
