<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Board Member Details' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="memberForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'Board Member Name' | translate}}<span class="required">*</span></label>
                    <input formControlName="name" type="text" id="input-username" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.name.errors" class="text-danger">
                      <div *ngIf="formControls.name.errors.required">{{'Board Member Name is required' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{"Father's/ Husband's Name" | translate}}<span class="required">*</span></label>
                    <input formControlName="guardianName" type="text" id="input-first-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.guardianName.errors" class="text-danger">
                      <div *ngIf="formControls.guardianName.errors.required">{{"Father's/ Husband's Name is required" | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Designation' | translate}}<span class="required">*</span></label>
                    <input formControlName="designation" type="text" id="input-last-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.designation.errors" class="text-danger">
                      <div *ngIf="formControls.designation.errors.required">{{'Designation is required' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label" for="input-last-name">{{'Gender' | translate}}<span class="required">*</span></label><br/>
                    <div class="custom-control custom-radio mb-3 " style="display: inline;margin-right: 20px;">
                      <input  formControlName="gender" value="Male" class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">{{'Male' | translate}}</label>
                    </div>
                    <div class="custom-control custom-radio mb-3" style="display: inline;margin-right: 20px;">
                      <input  formControlName="gender" value="Female" class="custom-control-input" id="customRadio6" checked="" type="radio">
                      <label class="custom-control-label" for="customRadio6">{{'Female' | translate}}</label>
                    </div> 
                    <div class="custom-control custom-radio mb-3" style="display: inline;margin-right: 20px;">
                      <input formControlName="gender" class="custom-control-input" id="customRadio7" type="radio">
                      <label class="custom-control-label" for="customRadio7">{{'Other' | translate}}</label>
                    </div>
                    <div *ngIf="submitted && formControls.gender.errors" class="text-danger">
                      <div *ngIf="formControls.gender.errors.required"> {{'Gender is required' | translate}}</div>
                    </div>               
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Email address' | translate}}<span class="required">*</span></label>
                    <input formControlName="email" type="email" id="input-email" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.email.errors" class="text-danger">
                      <div *ngIf="formControls.email.errors.required">{{'Email is required' | translate}}</div>
                      <div *ngIf="formControls.email.errors.pattern">{{'Invalid Email Address' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Mobile' | translate}}</label>
                    <input formControlName="contactNo" type="text" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.contactNo.errors" class="text-danger">
                      <span *ngIf="formControls.contactNo.errors.pattern">{{'Mobile number should be 10 digit' | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'District' | translate}}</label>
                    <select formControlName="distId" class="custom-control custom-select" (change)="selectDistrict($event.target.value)">
                      <option name="opt" [value]="undefined" selected disabled>Select District</option>
                      <option *ngFor="let district of districts" [value]="district.district_id">{{district.district_name}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.distId.errors" class="text-danger">
                      <div *ngIf="formControls.distId.errors.required">{{'District is required' | translate}}</div>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Block' | translate}}</label>
                    <select formControlName="blockId" class="custom-control custom-select" (change)="selectBlock($event.target.value)">
                      <option *ngFor="let block of blocks" [value]="block.id">{{block.blockName}}</option>
                    </select>  
                    <div *ngIf="submitted && formControls.blockId.errors" class="text-danger">
                      <div *ngIf="formControls.blockId.errors.required">{{'Block is required' | translate}}</div>
                    </div>                
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Gram Panchayat' | translate}}</label>
                    <select formControlName="panchayatId" class="custom-control custom-select" (change)="selectPanchayat($event.target.value)">
                      <option name="opt" [value]="undefined" selected disabled>Select Gram Panchayat</option>
                      <option *ngFor="let panchayat of panchayats" [value]="panchayat.panchayat_id">{{panchayat.panchayat_name}}</option>
                    </select> 
                    <div *ngIf="submitted && formControls.panchayatId.errors" class="text-danger">
                      <div *ngIf="formControls.panchayatId.errors.required">{{'Gram Panchayat is required' | translate}}</div>
                    </div>                 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Village' | translate}}</label>
                    <select formControlName="villageId" class="custom-control custom-select">
                      <option name="opt" [value]="undefined" selected disabled >Select Village</option>
                      <option *ngFor="let village of villages" [value]="village.villageId">{{village.villageName}}</option>
                    </select>  
                    <div *ngIf="submitted && formControls.villageId.errors" class="text-danger">
                      <div *ngIf="formControls.villageId.errors.required">{{'Village is required' | translate}}</div>
                    </div>                
                  </div>
                </div>
              </div>

              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addBoardMember()">
                  {{'Save' | translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateBoardMember()">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-warning text-right" (click)="reset()">{{'Reset' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Board Member Details' | translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">{{'SR. NO' | translate}}</th>
                <th scope="col">{{'MEMBER NAME' | translate}}</th>
                <th scope="col">{{"Father's/ Husband's Name" | translate}}</th>
                <th scope="col">{{'Gender' | translate}}</th>
                <th scope="col">{{'Designation' | translate}}</th>
                <th scope="col">{{'Mobile' | translate}}</th>
                <th scope="col">{{'Email' | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let member of members | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                <td>
                  <input type="checkbox">
                </td>
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td>
                 {{member.name}}
                 </td>
                <td>
                  {{member.guardianName}}
                </td>
                <td>
                  {{member.gender}}
                </td>
                <td>
                  {{member.designation}}
                </td>
                <td>
                  {{member.contactNo}}
                </td>
                <td>
                  {{member.email}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editBoardMember(member)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(member.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
