.container-fluid{
    background:#f6f9fc;
  }
  .custom-radio{
    display: inline;
    margin-right: 20px;  
  }

  @media screen and (max-width: 480px) {
    .custom-radio{
      display: block; 
    }
  
  }