<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7 mp-7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0"> 
                    Complaints</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="complaintForm" (ngSubmit)="addComplaint()">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Title <span class="required">*</span></label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <input class="form-control" type="text" formControlName="title">
                      </div>
                      <div *ngIf="submitted && formControls.title.errors" class="text-danger">
                        <div *ngIf="formControls.title.errors.required">title is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Message <span class="required">*</span></label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <input class="form-control" type="text" formControlName="message">
                      </div>
                      <div *ngIf="submitted && formControls.message.errors" class="text-danger">
                        <div *ngIf="formControls.message.errors.required">message is required</div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="">Complaints/ Suggestions Description<span class="required">*</span></label>
                      <textarea formControlName="desc" class="form-control" id="exampleFormControlTextarea12" rows="3"></textarea>

                      <div *ngIf="submitted && formControls.desc.errors" class="text-danger">
                        <div *ngIf="formControls.desc.errors.required">Complaints/ Suggestions description is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="input-label">Status</label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <input class="form-control" type="text" formControlName="status">
                      </div>
                      
                    </div>
                  </div>

                  <div class="card-footer py-4 text-center">
                    <button type="submit" class="btn btn-yellow btn-primary my-4">Add Complaint/Suggestion</button>
                    <button class="btn btn-warning text-right">Reset</button>
                  </div>
                </div>              
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <br/>
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row">
              <div class="col-9">
                <h3 class="mb-0">Complaints/ Suggestions</h3>
              </div>
              <!-- <div class="col-3 text-right">
                <button class="btn btn-primary text-right">Add Member</button>
              </div> -->
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Complaints/ Suggestions Category</th>
                  <th scope="col">Complaints/ Suggestions Description</th>
                  <th scope="col">File</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let complaint of complaints | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>
                   {{complaint.category}}
                   </td>
                  <td>
                    {{complaint.description}}
                  </td>
                  <td>
                    <a href="" download >{{complaint.file}}</a>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                        Actions
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                        <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
