<div class="card mt-3" *ngIf="lang==='en'">
  <div class="card-body">
    <p>
      <i>"Copyright Policy" </i>
    </p>
    <p>
      All copyrights are reserved with the Agriculture Department, Uttar Pradesh. The material posted on the website may
      be reproduced without formal permission for the purposes of non-commercial research, private study, review and
      news reporting provided that the material is appropriately attributed. However, the material has to be reproduced
      accurately and not to be used in a derogatory manner or in a misleading context. The permissions to reproduce this
      material shall not extend to any material which is identified as being copyright of a third party. Authorization
      to reproduce such material must be obtained from the copyright holders concerned.
    </p>
  </div>
</div>
<div class="card mt-3" *ngIf="lang==='hi'">
  <div class="card-body">
    <p>
      <i>"अधिकार नीति" </i>
    </p>
    <p>
      इस साइट पर प्रदर्शित सामग्री का निःशुल्क पुनरूत्पादन किया जा सकता है। हालांकि, सामग्री का पुनरूत्पादन सटीक रूप में
      होना चाहिये न कि एक अपमानजनक तरीके से या गुमराह करने के संदर्भ में। जहाँ भी इस सामग्री को प्रकाशित किया जाना है या
      दूसरों को जारी किया जाना है वहाँ स्रोत को प्रमुखता से आभार प्रकट किया जाना चाहिए। हालांकि, इस सामग्री को
      पुनरूप्रकाशित करने की अनुमति तृतीय पक्ष की कॉपी राइट के रूप में चिन्हित किसी भी सामग्री के रूप में नहीं दी जा सकती
      है। ऐसी सामग्री के पुनरूत्पादन का प्राधिकार संबंधित विभागों/कॉपीराइट धारकों से प्राप्त किया जाना चाहिए।
    </p>
    <p>
      हालांकि, चूंकि यह एक सरकारी विभाग का कर्तव्य है कि वह सार्वजनिक डोमेन में सभी जानकारी को स्वतंत्र रूप से नागरिकों
      को उपलब्ध कराए, विभागों को एक उदार कॉपीराइट नीति का लक्ष्य रखना चाहिए।
    </p>
    <p>
      ये नियम व शर्तें भारतीय विधि द्वारा नियंत्रित एवं उसके अनुसार परिभाषित होंगी। इन नियमों और शर्तों के अधीन उत्पन्न
      होने वाला कोई भी विवाद भारतीय न्यायालयों के अनन्य क्षेत्राधिकार के अधीन होगा।
    </p>
  </div>
</div>
