<section class="py-5 header" style="background-color: #e7e7e7;
border-radius: 80px;">
    <div class="container py-4" style="margin: auto; margin-top: -50px;max-width: 1398px;">
        <nav class="navbar-light bg-light m-0">
            <a class="navbar-brand" href="#">{{'Home' | translate}}</a>/
            <a class="navbar-brand" href="#">{{'Schemes' | translate}}</a>
        </nav>
        <br>

        <div class="tabordion">
            <section id="section1">
                <input type="radio" name="sections" id="option1" checked>
                <label for="option1" (click)="tabtype('Seeds')">{{'Seeds' | translate}}</label>
                <article>
                   <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Seeds' | translate}}
                    </h4>
                   <div class="row"><div class="col-md-8"></div>
                    <div>
                        <span style="font-size: 14px;"><b>Search</b></span>:<input type="text" >
                     </div>
                   </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <!-- <td><i class="fa fa-file"></i></td> -->
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>
            <section id="section2">
                <input type="radio" name="sections" id="option2">
                <label for="option2" (click)="tabtype('Fertilizer')">{{'Fertilizer' | translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Fertilizer' |
                        translate}}</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>
            <section id="section3">
                <input type="radio" name="sections" id="option3">
                <label for="option3" (click)="tabtype('Agri Equipment')">{{'Agri Equipment' | translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Agri Equipment' |
                        translate}}</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>
            <section id="section4">
                <input type="radio" name="sections" id="option4">
                <label for="option4" (click)="tabtype('Agri Equipment Bank')">{{'Agri Equipment Bank' |
                    translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Agri Equipment Bank'
                        | translate}}</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>

            <section id="section5">
                <input type="radio" name="sections" id="option5">
                <label for="option5" (click)="tabtype('Export')">{{'Export' | translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Export' | translate}}
                    </h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>

            <section id="section6">
                <input type="radio" name="sections" id="option6">
                <label for="option6" (click)="tabtype('Organic Farming')">{{'Organic Farming' | translate}}</label>
                <article>
                    <h4 class="mb-4">{{'Organic Farming' | translate}}</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>

            <section id="section7">
                <input type="radio" name="sections" id="option7">
                <label for="option7" (click)="tabtype('Special Crop')">{{'Special Crop' | translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">{{'Special Crop' |
                        translate}}</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>

            <section id="section8">
                <input type="radio" name="sections" id="option8">
                <label for="option8" (click)="tabtype('Finance')">{{'Finance' | translate}}</label>
                <article>
                    <h4 class="mb-4" style="background-color: rgb(243, 191, 22);padding: 10px;">Finance</h4>
                    <div class="row">
                        <div class="col">
                            <!-- <div class="card shadow"> -->
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>{{'SR. NO' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th>{{'URL' | translate}}</th>
                                            <th>{{'View' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let schema of SchemasList | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{schema.description}}
                                            </td>
                                            <td>
                                                {{schema.createDate | date: 'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{schema.url}}
                                            </td>
                                            <td>
                                                <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                        src="../../../../assets/image/img/pdficon.png"
                                                        style=" height:20px; width:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer py-4"> -->
                            <nav aria-label="..." class="text-right">
                                <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                            </nav>
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </article>
            </section>


        </div>
    </div>
</section>
