<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
    <!-- Form -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">{{'Fertilizer' | translate}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="fertilizerForm" (ngSubmit)="addfertilizer()">
                         <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Fertilizer Type' | translate}}<span class="required">*</span></label>
                                        <select class="form-control" formControlName="type_id" (change)="selectFertilizerType($event.target.value)">
                                            <option value="">{{'Select Type' | translate}}</option>
                                            <option *ngFor="let ferti of fertilizertypelist" [value]="ferti.id">{{ferti.fertilizerType}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && formControls.type_id.errors" class="text-danger">
                                            <div *ngIf="formControls.type_id.errors.required">{{'This field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div *ngIf="fertitype == '1'">
                                            <label>{{'Chemical Fertilizer' | translate}} <span class="required">*</span></label>
                                            <select class="form-control" formControlName="name_id" (change)="selectedtype($event.target.value)">
                                                <option value="">{{'Select Type' | translate}}</option>
                                                <option *ngFor="let fertisub of subtypes" [value]="fertisub.id">{{fertisub.fertilizerName}}
                                                </option>
                                            </select>
                                        </div>

                                        <div *ngIf="fertitype == '2'">
                                            <label>{{'Bio Fertilizer' | translate}}<span class="required">*</span></label>
                                            <select class="form-control" formControlName="name_id" (change)="selectedtype($event.target.value)">
                                                <option value="">{{'Select Type' | translate}}</option>
                                                <option *ngFor="let fertisub of subtypes" [value]="fertisub.id">{{fertisub.fertilizerName}}
                                                </option>
                                            </select>
                                        </div>

                                        <div *ngIf="fertitype == '3'">
                                            <label>{{'Organic' | translate}}<span class="required">*</span></label>
                                            <select class="form-control" formControlName="name_id" (change)="selectedtype($event.traget.value)">
                                                <option value="">{{'Select Type' | translate}}</option>
                                                <option *ngFor="let fertisub of subtypes" [value]="fertisub.id">{{fertisub.fertilizerName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="fertitype == '1' || fertitype == '2' || fertitype == '3'">
                                            <div *ngIf="submitted && formControls.name_id.errors" class="text-danger">
                                                <div *ngIf="formControls.name_id.errors.required">{{'This field is required'| translate}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{'Fertilizer grade' | translate}}<span class="required">*</span> </label>
                                        <select class="form-control" formControlName="fertilizer_grade">
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                        </select>
                                        <div *ngIf="submitted && fertitype != '' && formControls.fertilizer_grade.errors" class="text-danger">
                                            <div *ngIf="formControls.fertilizer_grade.errors.required">{{'This field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div *ngIf="subtype == 0" class="form-group">
                                        <label>{{'Other' | translate}}</label>
                                        <input type="text" id="input-first-name" formControlName="name_id" class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Name of Manufacturer' | translate}} <span class="required">*</span></label>
                                        <input type="text" id="input-first-name" formControlName="manufacturer_name" class="form-control form-control-alternative">
                                        <div *ngIf="submitted && fertitype != '' && formControls.manufacturer_name.errors" class="text-danger">
                                            <div *ngIf="formControls.manufacturer_name.errors.required">{{'This field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Picture of Fertilizer packets' | translate}}</label>
                                        <input type="file" id="input-first-name" formControlName="file" (change)="upload($event.target.files)" class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="card-footer py-4 text-center">
                    <button *ngIf="!isEdit" type="submit" class="btn btn-yellow" (click)="addfertilizer()">{{'Save' | translate}}</button>
                    <button *ngIf="isEdit" class="btn btn-yellow text-right" (click)="updatefertilizer()"> {{'Update' | translate}}</button>
                    <button class="btn btn-warning" (click)="resetForm()">{{'Reset' |  translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">
                               {{'Fertilizer Details' | translate}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{'S.No' | translate}}</th>
                                <th scope="col"> {{'Fertilizer Type' | translate}}</th>
                                <th scope="col">{{'Fetilizer Grade' | translate}}</th>

                                <th scope="col">{{'Name of Manufacturer' | translate}}</th>

                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let fdata of fertilizerDetails | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                            <tr>
                                <td>
                                    {{(p-1) * 10 + i + 1}}
                                </td>
                                <td>{{fdata.fertilizer_type}}
                                  </td>
                                <td>
                                    {{fdata.fertilizer_grade}}
                                </td>
                                <td>
                                    {{fdata.manufacturer_name}}
                                </td>
                                <td class="text-center">
                                    <div ngbDropdown placement="bottom-center">
                                        <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                                        {{'Actions' | translate}}
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-center dropdown-menu-arrow">
                                        <a class="dropdown-item" (click)="editfertilizer(fdata)">{{'Edit' |
                                            translate}}</a>
                                        <a class="dropdown-item" (click)="confirmDelete(fdata.id)">{{'Delete' |
                                            translate}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>                  
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="..." class="text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>

