<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">Fertilizer</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Fertilizer Type<span class="required">*</span></label>
                                        <select class="form-control" (change)="selectvalue($event.target.value)">
                                            <option value="select">Select Type</option>
                                            <option value="chemical">Chemical Fertilizer</option>
                                            <option value="bio">Bio Fertilizer</option>
                                            <option value="organic">Organic</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" *ngIf="fertitype == 'chemical'">
                                        <label>Chemical Fetilizer <span class="required">*</span></label>
                                        <select class="form-control" (change)="selectedtype($event.target.value)">
                                            <option>Urea</option>
                                            <option>DAP</option>
                                            <option>NPK</option>
                                            <option>MOP</option>
                                            <option>Fortified</option>
                                            <option>zinc</option>
                                            <option>Micro Nutrient Mixture</option>
                                            <option>Sulphur</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>

                                    <div class="form-group" *ngIf="fertitype == 'bio'">
                                        <label>Bio Fetilizer<span class="required">*</span></label>
                                        <select class="form-control" (change)="selectedtype($event.target.value)">
                                            <option>Rhizobium</option>
                                            <option>Culture</option>
                                            <option>PSB</option>
                                            <option>BGA</option>
                                            <option>Azotobacter</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>

                                    <div class="form-group" *ngIf="fertitype == 'organic'">
                                        <label>Organic Fetilizer<span class="required">*</span></label>
                                        <select class="form-control" (change)="selected($event.traget.value)">
                                            <option>Vermi Compost</option>
                                            <option>Nadep Compost</option>
                                            <option>City Compost</option>
                                            <option>Jiva Mrit</option>
                                            <option>Ghan Jiva Mrit</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> Fertilizer grade<span class="required">*</span> </label>
                                        <select class="form-control">
                                            <option>A</option>
                                            <option>B</option>
                                            <option>C</option>
                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div *ngIf="subtype == 'other'" class="form-group">
                                        <label>Others</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Name of Manufacturer <span class="required">*</span></label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Picture of Fertilizer packets</label>
                                        <input type="file" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="card-footer py-4 text-center">
                    <button class="btn btn-yellow">Save</button>
                    <!-- <button class="btn btn-yellow">Save and continue</button> -->
                    <button class="btn btn-warning">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">
                                Fertilizer Details
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col"> Fertilizer Type</th>
                                <th scope="col">Fetilizer Grade</th>

                                <th scope="col">Manufacturer</th>

                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    O1
                                </td>
                                <td>Chemical
                                  </td>
                                <td>
                                    A
                                </td>
                                <td>
                                    xyz
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                                            Actions
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    O1
                                </td>
                                <td>Organic
                                </td>
                                <td>
                                    A+
                                </td>
                                <td>
                                    Pqr
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                                            Actions
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>