<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Farmer's Production Details</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <div class="form-group mb-3">
                      <label class="input-label">Financial Year</label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <select class="form-control">
                          <option value="Select Farmer Name">Select Financial Year</option>
                          <option value="">2018-2019</option>
                          <option value="">2020-2021</option>

                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="input-label">Farmer Name</label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <select class="form-control">
                        <option value="Select Farmer Name">Select Farmer Name</option>
                        <option value="">Aditya Kumar</option>
                        <option value="">Arun kumar</option>
                        <option value="">Rajj</option>
                        <option value="">Babula </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Father's/ Husband's Name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" value="Lucky">
                  </div>
                </div>
              </div>
            


            </div>
     
          </form>
        </div>
        <div class="card-footer py-4 text-center">
          <button class="btn btn-primary text-right">Get crop sowing info</button>
         
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">
                Farmer's Production Details
              </h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Farmer Name</th>
                <th scope="col">Farmer's Father/ Husband Name</th>
                <th scope="col">Season</th>
                <th scope="col">Crop Name</th>
                <th scope="col">Crop Variety</th>
                <th scope="col">Actual Production (in Qt.)</th>
                <th scope="col">Quantity as marketable surplus (in Qt.)</th>

                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  O1
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  O2
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  O3
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  O4
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  O5
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
