<form role="form" [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="form-group row mb-3">
    <div class="col-6">
      <label class="input-label">{{'Buyer Seller Name'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="buyerSellerName">
      </div>
      <div *ngIf="submitted && formControls.buyerSellerName.errors" class="text-danger">
        <div *ngIf="formControls.buyerSellerName.errors.required">{{'buyer/trader name is required'|translate}}</div>
      </div>
    </div>
    <div class="col-6">

      <label class="input-label">{{'Username'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="userName">
      </div>
      <div *ngIf="submitted && formControls.userName.errors" class="text-danger">
        <div *ngIf="formControls.userName.errors.required">{{'username is required1'|translate}}</div>
        <div *ngIf="formControls.userName.errors.pattern">{{'user name should be 6 to 20 character'|translate}}</div>
      </div>

    </div>

  </div>
  <div class="form-group row mb-3">

    <div class="col-6">
      <label class="input-label">{{'Contact Person'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="contactPerson">
      </div>
      <div *ngIf="submitted && formControls.contactPerson.errors" class="text-danger">
        <div *ngIf="formControls.contactPerson.errors.required">{{'contact person is required'|translate}}</div>
      </div>
    </div>
    <div class="col-6">

      <label class="input-label">{{'Designation Contact Person'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="designationContactPerson">
      </div>
      <div *ngIf="submitted && formControls.designationContactPerson.errors" class="text-danger">
        <div *ngIf="formControls.designationContactPerson.errors.required">
          {{
'designation Contact Person is
          required'|translate
          }}
        </div>
      </div>

    </div>
  </div>
  <div class="form-group row mb-3">
    <!-- Mobile -->
    <div class="col-6">

      <label class="input-label">{{'Mobile' | translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="mobileNumber" maxlength="10" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.mobileNumber.errors" class="text-danger">
        <div *ngIf="formControls.mobileNumber.errors.required">{{'mobile number is required'|translate}}</div>
        <div *ngIf="formControls.mobileNumber.errors.pattern">{{'Mobile number should be 10 digit1'|translate}}</div>
      </div>

    </div>
    <!-- Email -->
    <div class="col-6">
      <label class="input-label">{{'Email'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="email">
      </div>
      <div *ngIf="submitted && formControls.email.errors" class="text-danger">
        <div *ngIf="formControls.email.errors.required">{{'email is required'|translate}}</div>
        <div *ngIf="formControls.email.errors.pattern">{{'Invalid Email Address'|translate}}</div>
      </div>
    </div>

  </div>

  <div class="form-group row mb-3">
    <div class="col-6">
      <label class="input-label">{{'State1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="stateRefId" (change)="selectState($event)">
          <option value="">{{'Select State'|translate}}</option>
          <option *ngFor="let state of states" [value]="state.stateId">{{state.stateName}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.stateRefId.errors" class="text-danger">
        <div *ngIf="formControls.stateRefId.errors.required">{{'State is required'|translate}}</div>
      </div>
    </div>

    <div class="col-6">
      <label class="input-label">{{'District1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="districtRefId" (change)="selectDistrict($event)">
          <option value="">{{'SelectDistrict1'|translate}}</option>
          <option *ngFor="let district of districts" [value]="district.district_id">{{district.district_name}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.districtRefId.errors" class="text-danger">
        <div *ngIf="formControls.districtRefId.errors.required">{{'district is required'|translate}}</div>
      </div>
    </div>


  </div>
  <div class="form-group row mb-3">

    <div class="col-6">

      <label class="input-label">{{'Street Name'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="streetName">
      </div>
      <div *ngIf="submitted && formControls.streetName.errors" class="text-danger">
        <div *ngIf="formControls.streetName.errors.required">{{'street name is required'|translate}}</div>
      </div>

    </div>

    <!-- Building Name -->
    <div class="col-6">
      <label class="input-label">{{'Building Name'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="buildingName">
      </div>
      <div *ngIf="submitted && formControls.buildingName.errors" class="text-danger">
        <div *ngIf="formControls.buildingName.errors.required">{{'Building Name is required'|translate}}</div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-3">
    <div class="col-6">
      <label class="input-label">{{'Pincode'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" maxlength="6" formControlName="pincode" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.pincode.errors" class="text-danger">
        <div *ngIf="formControls.pincode.errors.required">{{'pin code is required'|translate}}</div>
        <div *ngIf="formControls.pincode.errors.pattern"> {{'maximun 6 digit is required' | tarnslate}}</div>
      </div>
    </div>
    <div class="col-6">
      <label class="input-label">{{'Area (Landmark)'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="area">
      </div>
      <div *ngIf="submitted && formControls.area.errors" class="text-danger">
        <div *ngIf="formControls.area.errors.required">{{'area is required'|translate}}</div>

      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <div class="col-6">

      <label class="input-label">{{'WebSite'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="webSite">
      </div>


    </div>
    <div class="col-6">

      <label class="input-label">{{'Create Password'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="password" formControlName="password">
      </div>
      <div *ngIf="submitted && formControls.password.errors" class="text-danger">
        <div *ngIf="formControls.password.errors.required">{{'password is required'|translate}}</div>
        <div *ngIf="!!!formControls.password.errors.required && registerForm.controls['password'].invalid" class="text-danger">
          {{'Please enter atleast 8 characters; one upper, one lower case letter, one digit, one special character'|translate}}
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row mb-3">

    <div class="col-6">
      <label class="input-label"> {{'Confirm Password'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="password" formControlName="confirmPassword">
      </div>
      <div *ngIf="submitted && formControls.confirmPassword.errors" class="text-danger">
        <div *ngIf="formControls.confirmPassword.errors.required">{{'confirm password is required'|translate}}</div>
        <div *ngIf="formControls.confirmPassword.errors.mustMatch">{{'password does not match'|translate}}</div>
      </div>
    </div>

  </div>

  <hr />
  <h3>{{'Legal Details' |translate}}</h3>
  <div class="form-group row mb-3">

    <div class="col-6">
      <label class="input-label">{{'GST Number'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="gstNumber" appUppercase>
      </div>
      <div *ngIf="submitted && formControls.gstNumber.errors" class="text-danger">
        <div *ngIf="formControls.gstNumber.errors.pattern">{{'Invalid GST Number'|translate}}</div>

      </div>
    </div>
    <div class="col-6">
      <label class="input-label">{{'TIN Number'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="tinNumber">
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">

    <div class="col-6">
      <label class="input-label">{{'PAN number'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="PANnumber" appUppercase>
      </div>
      <div *ngIf="submitted && formControls.PANnumber.errors" class="text-danger">
        <div *ngIf="formControls.PANnumber.errors.pattern">{{'Invalid PAN Number'|translate}}</div>

      </div>
    </div>
    <div class="col-6">
      <label class="input-label">{{'Company Category'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="companyCategory">
      </div>

    </div>

  </div>
  <div class="form-group row mb-3">


    <div class="col-6">
      <label class="input-label">{{'Commdity Deals in'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <!--<input class="form-control" type="text" formControlName="commdityDealsIn">-->
       
        <tag-input formControlName="commdityDealsIn" (onAdd)="onAdded($event)" (onSelect)="onSelected($event)" (onRemove)="onItemRemoved($event)" [placeholder]="''" [secondaryPlaceholder]="''">
          <tag-input-dropdown [autocompleteObservable]='requestAutocompleteItems'></tag-input-dropdown>
        </tag-input>
      </div>

    </div>
    <div class="col-6">
      <label class="input-label">{{'variety Deals In'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="varietyDealsIn">
      </div>

    </div>
  </div>
  <div class="form-group row mb-3">


    <div class="col-6">
      <ngx-recaptcha2 #captchaElem [siteKey]="'6Lev4jUaAAAAAFdB-YYoLKJucgHZzCC9Bd6ACzEs'"
                      (success)="handleSuccess($event)" [useGlobalDomain]="false" formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>


  </div>
  <div class="form-group row mb-3">

    <div class="col-12">

      <div class="tnc">
        <input class="form-control" type="checkbox" formControlName="tnc">
        <span><span class="required pl-1">*</span>{{'I agree to the terms and conditions.'|translate}}<a href="#">{{'Click here'|translate}}</a>{{'to view in details' |translate }}</span>

      </div>
      <div *ngIf="submitted && formControls.tnc.errors" class="text-danger tncError">
        <div *ngIf="formControls.tnc.errors.required"> {{'tnc is required'|translate}}</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-login btn-yellow btn-primary my-4">{{"Register"| translate}}</button>
  </div>
</form>
