<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Add License</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="licenseForm" (ngSubmit)="addLicense()">
            <div class="pl-lg-4">
              <div class="row">
                <input type="hidden" formControlName="id">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">License Type</label>
                    <select formControlName="licenseType" class="form-control form-control-alternative">
                      <option value="">Select License Type</option>
                      <option value="License 1"> License 1</option>
                      <option value="License 2"> License 2</option>
                      <option value="License 3"> License 3</option>
                    </select>
                    <div *ngIf="submitted && formControls.licenseType.errors" class="text-danger">
                      <div *ngIf="formControls.licenseType.errors.required">License Type is required</div>
                    </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">License Issued By</label>
                    <input formControlName="licenseIssuedBy" type="text" id="input-first-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.licenseIssuedBy.errors" class="text-danger">
                      <div *ngIf="formControls.licenseIssuedBy.errors.required">License Issued By is required</div>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">License Number</label>
                    <input formControlName="licenseNumber" type="text" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.licenseNumber.errors" class="text-danger">
                      <div *ngIf="formControls.licenseNumber.errors.required">License Number is required</div>
                    </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">License Issued Date</label>
                    <input formControlName="issuedDate" type="date" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.issuedDate.errors" class="text-danger">
                      <div *ngIf="formControls.issuedDate.errors.required">Issued Date is required</div>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">License Valid Till</label>
                    <input formControlName="validTill" type="date" id="input-last-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.validTill.errors" class="text-danger">
                      <div *ngIf="formControls.validTill.errors.required">Valid till Date is required</div>
                    </div>   
                  </div>
                </div>
              </div>

              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="submit" class="btn btn-yellow btn-primary my-4" (click)="addLicense()">
                  Add License
                </button>
                <button *ngIf="edit" type="submit" class="btn btn-yellow btn-primary my-4" (click)="updateLicense()">
                  Update License
                </button>
                <button class="btn btn-warning text-right" (click)="resetForm()">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">License Details</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">License type</th>
                <th scope="col">Issued By</th>
                <th scope="col">License Number</th>
                <th scope="col">Issued Date</th>
                <th scope="col">Valid Till Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let license of licenses | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{license.licenseType}}
                 </td>
                <td>
                  {{license.licenseIssuedBy}}
                </td>
                <td>
                  {{license.licenseNumber}}
                </td>
                <td>
                  {{license.issuedDate}}
                </td>
                <td>
                  {{license.validTill}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editLicense(license)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(license)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <div class="card-footer py-4">
              <nav aria-label="..." class="text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </nav>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
