<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'License' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="licenseForm" >
            <div class="pl-lg-4">
              <div class="row">
                <input type="hidden" formControlName="id">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'License Type' | translate}}<span class="required">*</span></label>
                    <select formControlName="licenceType" class="form-control form-control-alternative">
                      <option value="">{{'Select License Type'|translate}}</option>
                      <option value="{{licensesType.licenseName}}" *ngFor="let licensesType of licensesTypes">{{licensesType.licenseName}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.licenceType.errors" class="text-danger">
                      <div *ngIf="formControls.licenceType.errors.required">{{'License Type is required' | translate}}</div>
                    </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'License Issued By' | translate}}<span class="required">*</span></label>
                    <input formControlName="licenceIssuedBy" type="text" id="input-first-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.licenceIssuedBy.errors" class="text-danger">
                      <div *ngIf="formControls.licenceIssuedBy.errors.required">{{'License Issued By is required' | translate}}</div>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'License Number' | translate}}<span class="required">*</span></label>
                    <input formControlName="liceneceNumber" type="text" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.liceneceNumber.errors" class="text-danger">
                      <div *ngIf="formControls.liceneceNumber.errors.required">{{'License Number is required' | translate}}</div>
                    </div>   
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'License Issued Date' | translate}}</label>
                    <input formControlName="issuedate" type="date" [max]="getToday()" id="input-email" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.issuedate.errors" class="text-danger">
                      <div *ngIf="formControls.issuedate.errors.required">{{'Issued Date is required' | translate}}</div>
                    </div>   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'License Valid Till' | translate}}</label>
                    <input formControlName="licenceValidTill" type="date" [min]="getToday()" id="input-last-name" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.licenceValidTill.errors" class="text-danger">
                      <div *ngIf="formControls.licenceValidTill.errors.required">{{'Valid till Date is required' | translate}}</div>
                    </div>   
                  </div>
                </div>
              </div>

              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addLicense()">
                  {{'Save' | translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateLicense()">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-warning text-right" (click)="resetForm()">{{'Reset' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"License" | translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'SR. NO' | translate}}</th>
                <th scope="col">{{"License type" | translate}}</th>
                <th scope="col">{{"Issued By" | translate}}</th>
                <th scope="col">{{"License Number" | translate}}</th>
                <th scope="col">{{"Issued Date" | translate}}</th>
                <th scope="col">{{"Valid Till Date" | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let license of licenses | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td>
                 {{license.licenceType}}
                 </td>
                <td>
                  {{license.licenceIssuedBy}}
                </td>
                <td>
                  {{license.liceneceNumber}}
                </td>
                <td>
                  {{license.issuedate}}
                </td>
                <td>
                  {{license.licenceValidTill}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      {{'Actions' | translate}}
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editLicense(license)">{{'Edit' | translate}}</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(license.id)">{{'Delete' | translate}}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
