<form role="form" [formGroup]="fpoRegisterForm">

  <div class="form-group row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 text-center">
      <label class="input-label font-weight-bold">{{'Registered Under' | translate}} <span class="required mr-2">*</span>
          <div class="ml-2 form-check form-check-inline">
            <input class="form-check-input" type="radio"
            formControlName="registeredUnder" id="inlineRadio1" value="Company-Act">
            <label class="form-check-label" for="inlineRadio1">{{'Company Act' | translate}}</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"
            formControlName="registeredUnder"  id="inlineRadio2" value="Society-Act">
            <label class="form-check-label" for="inlineRadio2">{{'Society Act' | translate}}</label>
          </div>
        </label> 
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Agency' | translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="agency" (change)="selectAgency($event)">
          <option value="">
            {{'select Agency' |translate}}
          </option>
          <option value="NABARD" *ngFor="let agency of agencies">{{agency}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.agency.errors" class="text-danger">
        <div *ngIf="formControls.agency.errors.required">{{'agency is required' |translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'District1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="distRefId" (change)="selectDistrict($event)">
          <option value="">{{'SelectDistrict1'|translate}}</option>
          <option *ngFor="let district of districts" [value]="district.district_id">{{district.district_name}}</option>
        </select>
      </div>
      <div *ngIf="submitted && formControls.distRefId.errors" class="text-danger">
        <div *ngIf="formControls.distRefId.errors.required">{{'district is required'|translate}}</div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Block1'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="blockRef" (change)="selectBlock($event)">
          <option value="">{{'Select Block'| translate}} </option>
          <option *ngFor="let block of blocks" [value]="block.id">{{block.blockName}}</option>


        </select>
      </div>
      <div *ngIf="submitted && formControls.blockRef.errors" class="text-danger">
        <div *ngIf="formControls.blockRef.errors.required">{{'block is required'| translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'FPO Name'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="fpoName">
      </div>
      <div *ngIf="submitted && formControls.fpoName.errors" class="text-danger">
        <div *ngIf="formControls.fpoName.errors.required">{{'fpo name is required'|translate}}</div>
        <!-- <div *ngIf="formControls.fpoName.errors.pattern"> {{'maximun 6 digit is required' | translate}}</div> -->
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'FPO Registration Date'| translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
        </div>
        <input [maxDate]="today" type="text" class="form-control" bsDatepicker
               [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }" formControlName="dateOfRegistration">
      </div>
      <div *ngIf="submitted && formControls.dateOfRegistration.errors" class="text-danger">
        <div *ngIf="formControls.dateOfRegistration.errors.required">
          {{'fpo registration date is required'|translate}}
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'FPO Registration No'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="fpoRegistrationNo" (blur)="validateFpoRegNumber($event.target.value)">
      </div>
      <div *ngIf="submitted && formControls.fpoRegistrationNo.errors" class="text-danger">
        <div *ngIf="formControls.fpoRegistrationNo.errors.required">
          {{'fpo registration number is required'|translate}}
        </div>
        <div *ngIf="formControls.fpoRegistrationNo.errors.pattern">
          {{'Invalid fpo registration number' | translate}}
        </div>
      </div>
      <div *ngIf="invalidRegNo" class="text-danger">
        {{'Please provide valid Registration No' | translate}}
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Pincode'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" maxlength="6" formControlName="pincode" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.pincode.errors" class="text-danger">
        <div *ngIf="formControls.pincode.errors.required">{{'pin code is required'|translate}}</div>
        <div *ngIf="formControls.pincode.errors.pattern"> {{'maximun 6 digit is required' | translate}}</div>
      </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'FPO Contact No' |translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text"  formControlName="fpolandLine" appOnlynumber>
      </div>
      <div *ngIf="submitted && formControls.fpolandLine.errors" class="text-danger">
        <div *ngIf="formControls.fpolandLine.errors.required">{{'fpo contact is required'|translate}}</div>
        <span *ngIf="formControls.fpolandLine.errors.pattern">{{'mobile number should be 10 digit'|translate}}</span>
      </div>

    </div>
 
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'FPO Email'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="fpoEmail">
      </div>
      <div *ngIf="submitted && formControls.fpoEmail.errors" class="text-danger">
        <div *ngIf="formControls.fpoEmail.errors.required">{{'fpo email is required' | translate}}</div>
        <div *ngIf="formControls.fpoEmail.errors.pattern">{{'Invalid Email Address'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'FPO Office Address'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="fpoAddress">
      </div>
      <div *ngIf="submitted && formControls.fpoAddress.errors" class="text-danger">
        <div *ngIf="formControls.fpoAddress.errors.required">{{'fpo office address is required'|translate}}</div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'Username'|translate}}<span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="userName" (blur)="validateUserName($event.target.value)">
      </div>
      <div *ngIf="submitted && formControls.userName.errors" class="text-danger">
        <div *ngIf="formControls.userName.errors.required">{{'username is required'|translate}}</div>
        <div *ngIf="formControls.userName.errors.pattern">{{'user name should be 6 to 20 character'|translate}}</div>
      </div>
      <div *ngIf="invalidUserName" class="text-danger">
        {{'User Name already taken'|translate}}
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">

      <label class="input-label">{{'Create Password'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" type="password" formControlName="password">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextType,
              'fa-eye': fieldTextType
            }"
            (click)="toggleFieldTextType()"></i>
          </span>
       </div>
      </div>
      <div *ngIf="submitted && formControls.password.errors" class="text-danger">
        <div *ngIf="formControls.password.errors.required">{{'password is required'|translate}}</div>
        <div *ngIf="!!!formControls.password.errors.required && fpoRegisterForm.controls['password'].invalid"
             class="text-danger">
          {{'Please enter atleast 8 characters; one upper, one lower case letter, one digit, one special
        character'|translate
          }}
        </div>
      </div>
    </div>
 
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Confirm Password'|translate}} <span class="required">*</span></label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input [type]="fieldTextTypeCpwd ? 'text' : 'password'" class="form-control" type="password" formControlName="confirmPassword">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa"
            [ngClass]="{
              'fa-eye-slash': !fieldTextTypeCpwd,
              'fa-eye': fieldTextTypeCpwd
            }"
            (click)="toggleFieldTextTypeCpwd()"></i>
          </span>
       </div>
      </div>
      <div *ngIf="submitted && formControls.confirmPassword.errors" class="text-danger">
        <div *ngIf="formControls.confirmPassword.errors.required">{{'confirm password is required'|translate}}</div>
        <div *ngIf="formControls.confirmPassword.errors.mustMatch">{{'password does not match'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Upload Registration Certificate'|translate}} <span class="required">*</span></label>
      <input type="file" class="form-control">
      <!-- <div *ngIf="submitted && formControls.confirmPassword.errors" class="text-danger">
        <div *ngIf="formControls.confirmPassword.errors.required">{{'confirm password is required'|translate}}</div>
        <div *ngIf="formControls.confirmPassword.errors.mustMatch">{{'password does not match'|translate}}</div>
      </div> -->
    </div>
  </div>
  <hr />
  <h3>{{'Bank Details'|translate}}</h3>
  <div class="form-group row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Bank Name'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <select class="form-control" formControlName="fpoBankName" (change)="selectBanks($event)">
          <option value="">{{'Select Bank Name'|translate}}</option>
          <option *ngFor="let bank of banks" [value]="bank.bankId">{{bank.bankName}}</option>
        </select>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'Bank Account Number1'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="number" minlength="11" maxlength="16" formControlName="fpoBankAccNo">
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <label class="input-label">{{'IFSC'|translate}}</label>
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"></span>
        </div>
        <input class="form-control" type="text" formControlName="fpoIFSC">
      </div>
      <div *ngIf="submitted && formControls.fpoIFSC.errors" class="text-danger">
        <div *ngIf="formControls.fpoIFSC.errors.pattern"> {{'IFSC Code should be 11 digit'|translate}}</div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-3">
      <ngx-recaptcha2 #captchaElem [siteKey]="'6Lff1DAbAAAAAFQa6iec9pY-tgJn3wbNWibl1t3i'"
                      (success)="handleSuccess($event)" [useGlobalDomain]="false" formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>
    
    <div class="col-12">

      <div class="tnc">
        <input class="form-control" type="checkbox" formControlName="tnc">
        <span><span class="required pl-1">* </span>{{'I agree to the terms and conditions.'|translate}} <a href="#" data-toggle="modal" data-target="#myModal" >{{'Click here'|translate}}</a> {{'to view in details' |translate }}</span>
      </div>
      <div *ngIf="submitted && formControls.tnc.errors" class="text-danger tncError">
        <div *ngIf="formControls.tnc.errors.required"> {{'tnc is required'|translate}}</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-login btn-yellow btn-primary my-4" (click)="register()">
      {{"Sign Up"|translate}}
    </button>
  </div>
</form>

<!--MODAL-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="term-text">Terms and Condition</h3>
        <button type="button" class="close term-text" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-terms-condition></app-terms-condition>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-yellow btn-sm term-text " data-dismiss="modal">{{'close' | translate}</button>
      </div>
    </div>
    
  </div>
</div>