<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">{{'Insectices/Pesticides' | translate}}</h3>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form  [formGroup]="insectForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Insecticdes Type' | translate}}<span class="required">*</span></label>
                                         <select class="form-control" formControlName="insecticide_type_id">
                                            <option value="">{{'Select Type' | translate}}</option>
                                            <option *ngFor="let insect of insecttypelist" [value]="insect.id">{{insect.insecticideType}}</option>
                                          </select>
                                    </div>
                                </div>
                               
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Picture of Fertilizer packets' | translate}}<span class="required">*</span></label>
                                        <input type="file"  formControlName="file" (change)="upload($event.target.files)" class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                   
                                    <div class="form-group">
                                        <label>{{'Quantity' | translate}} <span class="required">*</span></label>
                                        <input type="text" id="input-first-name" formControlName="quantity" class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Name of Manufacturer' | translate}} <span class="required">*</span></label>
                                        <input type="text" id="input-first-name" formControlName="manufacturer_name" class="form-control form-control-alternative">
                                    </div>
                                </div> 
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'CIB & RC Number' | translate}}</label>
                                        <input type="text" formControlName="cib_rc_number" class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'CIB & RC Issue Date' | translate}}</label>
                                        <input type="date"  formControlName="cib_rc_issuedate" class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-4 text-center">
                            <button *ngIf="!isEdit" type="submit" class="btn btn-yellow" (click)="addinsecticides()">{{'Save' | translate}}</button>
                            <button *ngIf="isEdit" class="btn btn-yellow text-right" (click)="updatinsect()">
                                {{'Update' | translate}}</button>
                           <button class="btn btn-warning">{{'Reset' | translate}}</button>
                        </div>
                    </form>
                </div>
              
              
            </div>
        </div>
    </div>

    <br />
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">
                                 {{'Insecticdes/Pesticides Details' | translate}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{'S.no' | translate}}</th>
                                <th scope="col"> {{'Insecticdes Type' | translate}}</th>
                                <th scope="col">{{'Name of Manufacturer' | translate}}</th>
                                <th scope="col">{{'Quantity' 
                                    | translate}} </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let idata of insecticidedetails; index as i">
                            <tr>
                                <td>
                                    {{i+1}}
                                </td>
                                <td> {{idata.insecticide_type}}</td>
                                <td>
                                   {{idata.manufacturer_name}}
                                </td>
                                <td>
                                    {{idata.quantity}}
                                </td>
                                <td>

                                    <div style="font-size: 20px;text-indent: 10px;">
                                        <i class="fas fa-edit" (click)="editinsect(idata)"></i>
                                        <i class="fas fa-trash-alt" (click)="deleteinsect(idata)"></i>

                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>