<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    
    </div>
  </div>

  <div class="container-fluid mt--7 mp-7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0"> 
            <div class="card-header border-0"> 
                <div class="row">
                  <div class="col-9">
                    <h3 class="mb-0">{{'Search' | translate }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body" style="height: 200px;">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" id="homesearch" name="homesearch" class="form-control" placeholder="{{'Type here to search'|translate}}" [(ngModel)]="searchValue"
                         >
                      </div>
                    </div>
                    <div class="col-lg-3">
                        <select  class="form-control form-control-alternative" name="Searchin" [(ngModel)]="searchType">
                         
                          <option value="crop">{{'Crop' | translate }}</option>
                          <option value="insecticide">{{'Insecticides' | translate }}</option>
                          <option value="seed">{{'Seeds' | translate }}</option>
                          <option value="fmb">{{'machinery' | translate }}</option>
                          <option value="fertilizer">{{'Fertilizers' | translate }}</option>           
                        </select>  
                    </div>
                    <div class="col-lg-3">
                      <button type="button" (click)="selectValue()"  class="btn btn-yellow btn-primary btn-block">
                        {{'Search' | translate}}
                      </button>
                  </div>
                  </div>
                
                </div>
              </form>

            </div>
        </div>
     </div>
    </div>
</div>
