<section class="fms-wrapper">
  <div class="innerContent">
    <div class="container py-4">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header">
              <div class="row">
                <div class="col-12">
                  <h3 *ngIf="isPost" class="mb-0 ml-2">{{'Post-FPO Registration'|translate}}</h3>
                  <h3 *ngIf="!isPost" class="mb-0 ml-2">{{'Pre-FPO Registration'|translate}}</h3>
                </div>
              </div>
            </div>
            <div class="border border-dark m-4">
              <div class="row p-3">
                <div class="col-4 col-lg-4 col-sm-12">
                  <input type="text" [id]="'search'" [(ngModel)]="searchText" (input)="p=1" style="border-radius: 0;"
                  name="search" placeholder="Search" autocomplete="off" class="form-control input-md" />                
                </div>
                <div class="col-8 col-lg-8 col-sm-12">
                  <form role="form" [formGroup]="fpoGuideLineFrom" style="width:100%">
                    <div class="form-group row m-0">
                      <div class="custom-control custom-radio " style="display: inline;margin-right: 20px;">
                        <input formControlName="isPostRegistration" value="isPerRegistration"
                          class="custom-control-input" id="customRadio6" type="radio" checked=""
                          (change)="isProPostRegistration()">
                        <label class="custom-control-label" for="customRadio6">{{'Pre-FPO Registration' |
                          translate}}</label>
                      </div>

                      <div class="custom-control custom-radio" style="display: inline;margin-right: 20px;">
                        <input formControlName="isPostRegistration" value="isPostRegistration"
                          class="custom-control-input" id="customRadio7" type="radio" checked=""
                          (change)="isProPostRegistration()">

                        <label class="custom-control-label" for="customRadio7">{{'Post-FPO Registration' |
                          translate}}</label>
                      </div>
                    </div>
                  </form>                
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead class="thead-light">
                    <tr>

                      <th scope="col">{{'SR. NO'|translate}}</th>
                      <th scope="col" class="sort" (click)="onClickOrderBy('description')">{{'DESCRIPTION'|translate}}
                      </th>
                      <th scope="col" class="sort" (click)="onClickOrderBy('uploadDate')">{{'Date'|translate}}</th>
                      <th>{{'URL' | translate}}</th>
                      <th scope="col">{{'View Details'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let indent of fpoGuideLines | tableSearch:searchText  | sort:orderBy  | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                      <td>
                        {{(p-1) * 10 + i + 1}}
                      </td>
                      <td *ngIf="Englishlang">
                        {{indent.description}}
                      </td>
                      <td *ngIf="!Englishlang">
                        {{indent.hindiDescription}}
                      </td>
                      <td>
                        {{indent.uploadDate | date: 'dd/MM/yyyy'}}
                      </td>
                      <td>
                        <ng-container *ngIf="indent.url != 'null' &&  indent.url != ''">
                          <a target="_blank" [href]="indent.url"><img
                           src="./assets/image/img/url.png"
                           style=" height:20px; width:20px"></a>
                          </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="Englishlang && indent.filePath || !Englishlang && indent.hinFilePath">
                          <a [href]="Englishlang ? indent.filePath: indent.hinFilePath" download target="_blank"><img
                            src="./assets/image/img/pdficon.png" style=" height:20px; width:30px"></a>
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row mx-0 mt-2" style="align-items: center;">
                  <div class="col-sm-6 col-xs-12 col-12 custom-data-entries-align">
                  </div>
                  <div class="col-xs-12 col-sm-6 col-12 custom-pagination-align">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>