<div class="header pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
    <!-- form -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">{{'Machinery/Equipment' | translate}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="machineryForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Machinery Category' | translate}} <span
                                                class="required">*</span></label>
                                        <select class="form-control" formControlName="machinery_type_id"
                                            (change)="selectmachinaryname($event.target.value)">
                                            <option value="">{{'Select Type' | translate}}</option>
                                            <option *ngFor="let mach of mtypes" [value]="mach.machineTypeId">
                                                {{mach.equipType}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && formControls.machinery_type_id.errors" class="text-danger">
                                            <div *ngIf="formControls.machinery_type_id.errors.required">{{'This Field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Name of the Machinery' | translate}} <span
                                                class="required">*</span></label>
                                        <select class="form-control" formControlName="machinery_name_id">
                                            <option value="">{{'Select Type' | translate}}</option>
                                            <option *ngFor="let mach of machinerynamelist" [value]="mach.id">
                                                {{mach.equpmentname}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && formControls.machinery_name_id.errors" class="text-danger">
                                            <div *ngIf="formControls.machinery_name_id.errors.required">{{'This Field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label *ngIf="this.userRole !== 'ROLE_INPUTSUPPLIER'">{{'Rent/day' | translate}}<span *ngIf="this.userRole == 'ROLE_CHCFMB'" class="required">*</span></label>
                                        <label *ngIf="this.userRole == 'ROLE_INPUTSUPPLIER'">{{'Quoted Price' | translate}}</label>
                                        <input type="text" id="input-first-name" formControlName="rent_per_day"
                                            class="form-control form-control-alternative" appOnlynumber>
                                        <div *ngIf="submitted && formControls.rent_per_day.errors" class="text-danger">
                                            <div *ngIf="formControls.rent_per_day.errors.required">{{'This Field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Quantity1' | translate}}<span class="required">*</span></label>
                                        <input type="text" id="input-first-name" formControlName="quantity"
                                            class="form-control form-control-alternative" appOnlynumber>
                                        <div *ngIf="submitted && formControls.quantity.errors" class="text-danger">
                                            <div *ngIf="formControls.quantity.errors.required">{{'This Field is required'| translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Name of Manufacturer' | translate}}
                                        </label>
                                        <input type="text" id="input-first-name" formControlName="manufacturer_name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Technical specifications of the Machinery' | translate}}</label>
                                        <input type="text" id="input-first-name" formControlName="specification"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Upload Photo' | translate}}
                                            <span class="text-xs ml-2 file-format-msg">({{'only png, jpg, jpeg format with 2MB file size allowed' | translate}})</span>
                                        </label>
                                        <input type="file" id="input-first-name" formControlName="file"
                                            (change)="upload($event.target.files)"
                                            class="form-control form-control-alternative">
                                        <span *ngIf="isEdit"><a href="{{filePathToEdit}}" target="_blank">{{fileToEdit}}</a></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">{{'Whether Govt.-assistance used in procurement of Equipment' |
                                            translate}} <span class="required">*</span></label><br/>
                                        <div class="custom-control custom-radio mb-3 ">
                                            <input formControlName="isGovernmentAssistance" (change)="updateGovernmentScheme(1)"  value="1"  class="custom-control-input" id="customRadio5" type="radio">
                                            <label class="custom-control-label" for="customRadio5">{{'Yes' | translate}}</label>
                                        </div>
                                        <div class="custom-control custom-radio mb-3">
                                            <input formControlName="isGovernmentAssistance"  (change)="updateGovernmentScheme(0)" value="0" class="custom-control-input" id="customRadio6"  type="radio">
                                            <label class="custom-control-label" for="customRadio6">{{'No' | translate}}</label>
                                        </div>      
                                        <div *ngIf="submitted && formControls.isGovernmentAssistance.errors" class="text-danger">
                                            <div *ngIf="formControls.isGovernmentAssistance.errors.required">{{'This Field is required' | translate}}</div>
                                        </div>            
                                    </div>
                                </div>
                                <div class="col-lg-12" *ngIf="goveScheme == 1">
                                    <div class="form-group">
                                      <label>{{'Govt. Scheme under which -assistance was provided' |
                                                              translate}}</label>
                                      <input type="text" id="govt" class="form-control form-control-alternative" name="govt scheme"
                                      formControlName="govt_scheme">
                                      <div *ngIf="submitted && formControls.govt_scheme.errors" class="text-danger">
                                        <div *ngIf="formControls.govt_scheme.errors.required">{{'This Field is required'| translate}}</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-4 text-center">
                            <button *ngIf="!isEdit" type="submit" class="btn btn-yellow"
                                (click)="addmachinery()">{{'Save' | translate}}</button>
                            <button *ngIf="isEdit" class="btn btn-yellow text-right" (click)="updatemachinery()">
                                {{'Update' | translate}}</button>
                            <button class="btn btn-warning" (click)="resetForm()">{{'Reset' | translate}}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <br />
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">
                                {{'Machinery Details' | translate}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{'S.No' | translate}}</th>
                                <th scope="col"> {{'Machinery Category' | translate}}</th>
                                <th scope="col"> {{'Equipment Name' | translate}}</th>
                                <th scope="col">{{'Machinery Manufacturer' | translate}}</th>
                                <th scope="col">{{'Quantity1' | translate}} </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let mdata of machinerydetails | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                            <tr>
                                <td>
                                    {{(p-1) * 10 + i + 1}}
                                </td>
                                <td>
                                    {{mdata.type}}
                                </td>
                                <td>
                                    {{mdata.equpment_name}}
                                </td>
                                <td>
                                    {{mdata.manufacturer_name}}
                                </td>
                                <td>
                                    {{mdata.quantity}}
                                </td>
                                <td class="text-center">
                                    <div ngbDropdown placement="bottom-center">
                                        <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                                        {{'Actions' | translate}}
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-center dropdown-menu-arrow">
                                        <a class="dropdown-item" (click)="editmachinery(mdata)">{{'Edit' |
                                            translate}}</a>
                                        <a class="dropdown-item" (click)="confirmDelete(mdata.id)">{{'Delete' |
                                            translate}}</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                <div class="card-footer py-4">
                    <nav aria-label="..." class="text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>