<div class="header">
  <a routerLink="/">
    <div class="logo mr-3 ml-3">
      <img class="logo-image" src="assets/image/img/logo.png" />
    </div>
    <div class="text-center mainTitle">
      <span class="parent">{{'mainTitle' |translate}} </span>
      <br>
      <span class="child">
        {{'mainTitle2' |translate}}
      </span>
    </div>
  </a>

  <div class="headingTitle">
    <span class="gov">{{'Agriculture Department' | translate}}</span>
    <br>
    <span class="up">{{'Uttar Pradesh'|translate}}</span>

  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light" *ngIf="isHome">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ in: isOpen }">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggeIn">
      <div class="triangle-topright"></div>
      <li class="nav-item" *ngIf="isHomePage!=='/' || isHomePage!=='/home'">
        <a class="nav-link" routerLink="/">
          <span style="color: #474200;background: #e1cb00;padding: 6px;border-radius: 2px;">
            <i class="fas fa-home fa-1x" style="margin-top: 5px;"></i>
          </span>
          {{'Home' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <div ngbDropdown placement="bottom-left" class="menu_langauge_btn">
          <a class="languageText" ngbDropdownToggle>
            <img class="nav-image nav-image1" src="assets/image/img/language.png" />
            {{'Language' | translate}}
            <img class="arrowImage" src="assets/image/img/arrodwon.png" alt="logo">
          </a>
          <div ngbDropdownMenu class="dropdown-menu-md">
            <a class="dropdown-item" (click)="useLanguage('hi')">{{'Hindi' | translate}}</a>
            <a class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
          </div>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fpo_guidelines">
          <img class="nav-image" src="assets/image/img/fpomenu.png" />
          {{'FPO guidelines' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/schema">
          <img class="nav-image" src="assets/image/img/scemenu.png" />
          {{'Schemes' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggeIn">
        <a class="nav-link" routerLink="/login">
          <img class="nav-image" src="assets/image/img/signup.png" />
          {{'Login' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggeIn">
        <a class="nav-link" href="javascript:void(0)" (click)="logout()">
          <img class="nav-image" src="assets/image/img/signup.png" />
          {{'Logout' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">
          <img class="nav-image" src="assets/image/img/signup.png" />
          {{'Sign Up' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggeIn">
      <div class="triangle-topright"></div>
      <li class="nav-item dropdown">
        <div ngbDropdown placement="bottom-left" class="menu_langauge_btn">
          <a class="languageText" ngbDropdownToggle>
            <img class="nav-image nav-image1" src="assets/image/img/language.png" />
            {{'Language' | translate}}
            <img class="arrowImage" src="assets/image/img/arrodwon.png" alt="logo">
          </a>
          <div ngbDropdownMenu class="dropdown-menu-md">
            <a class="dropdown-item" (click)="useLanguage('hi')">{{'Hindi' | translate}}</a>
            <a class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
          </div>
        </div>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="nav-image" src="assets/image/img/fpomenu.png" />
          {{'FPO guidelines' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">
          <img class="nav-image" src="assets/image/img/scemenu.png" />
          {{'Schemes' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item" *ngIf="isLoggeIn">
        <a class="nav-link" href="javascript:void(0)" (click)="logout()">
          <img class="nav-image" src="assets/image/img/signup.png" />
          {{'Logout' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>

  </div>
</nav>
