.header {
    position:absolute;
    top:0;
    z-index:1;
   width:100%;
}
.logo {
  position: absolute;
  top: 6%;
  left: 0.4%;
  max-width: 200px;
  max-height: 200px;
}

.logo-image {
  width: 60%;
  border-radius: 58px 58px 58px 58px;
  border: 5px solid #C7A100;
}
.navbar-nav {
  float: right;
  margin: 0;
  background: #926e00;
  position: relative;
  height: 50px;
  width: 80%;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-bottom: 50px solid #926e00;
  border-left: 50px solid transparent;
  float: left;
  left: -50px;
  position: absolute;
}

.nav-item {
  width: 20%;
  text-align: center;
}

.nav-image {
  width: 25%;
}

.nav-item.dropdown.show, .dropdown-menu.show {
  background-color: #cdae01;
}

.bg-light {
  background: none;
}

.navbar {
  padding: 0px;
  top: 0%;
  position: absolute;
  right: 0;
}

.headingTitle {
  margin-left: 11%;
  margin-top: -4.5%;
}
