<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"Crop Sowing Details"|translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="cropSowingForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-group mb-3">
                      <label class="input-label">{{'Farmer Name' | translate}}<span class="required">*</span></label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <select formControlName="farmerId" class="form-control" (change)="getFarmerDetails($event.target.value)">
                          <option value="" selected>{{'Select Farmer Name' | translate}}</option>
                          <option value="{{farmer.farmerId}}" *ngFor="let farmer of farmers">{{farmer.farmerName}}</option>
                        </select>  
                      </div>
                      <div *ngIf="submitted && formControls.farmerId.errors" class="text-danger">
                        <div *ngIf="formControls.farmerId.errors.required">{{'Please select farmer' | translate}}</div>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{"Father's/ Husband's Name" | translate}}</label>
                    <input readonly formControlName="guardianName" type="text" id="input-first-name" class="form-control form-control-alternative" value="Lucky">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Season' | translate}} <span class="required">*</span></label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <select formControlName="seasonRefName" class="form-control" (change)="getCropsBySeasonId($event.target.value)">
                        <option value="">{{'Select Season'|translate}}</option>                    
                        <option value="{{season.seasonId}}" *ngFor="let season of seasons">{{season.season}}</option>
                      </select> 
                    </div>
                    <div *ngIf="submitted && formControls.seasonRefName.errors" class="text-danger">
                      <div *ngIf="formControls.seasonRefName.errors.required">{{'Please select season' | translate}}</div>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Total Land' | translate}}</label>
                    <input readonly formControlName="baseland" type="text" id="input-email" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="col-lg-12 py-2 text-right">
                  <button class="btn btn-primary text-right" (click)="addNewRow()">{{'Add Sowing' | translate}}</button>
                </div>
                  <div formArrayName="list">
                    <div  *ngFor="let itemRow of cropSowingForm.get('list')['controls']; let i=index"  [formGroupName]="i">
                      <div class="card shadow p-3 mb-2">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group text-right">
                              <button *ngIf="cropSowingForm.get('list')['controls'].length > 1" class="btn btn-sm btn-danger mt-4" (click)="deleteRow(i)"><i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="form-group mb-3">
                            <label class="form-control-label">{{'Crop' | translate}}<span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                              </div>
                              <select formControlname="cropRefName" [id]="i+'crop'" class="form-control"  (change)="getCropVarietiesByCropId($event.target.value,i)">
                                <option [value]="undefined">{{'Select Crop' | translate}}</option>
                                <option *ngFor="let crop of crops" [value]="crop.cropId" >{{crop.cropName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="form-group mb-3">
                            <label class="form-control-label">{{'Crop variety' | translate}}<span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                              </div>
                              <select formControlname="verietyRef" [id]="i+'cropver'" (change)="setCropVarieties($event.target.value,i)" class="form-control">
                                <option [value]="undefined">{{'Select variety' | translate}}</option>
                                <option *ngFor="let variety of cropVarieties" [value]="variety.verietyId">{{variety.verietyName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">{{'Sowing Area' | translate}}<span class="required">*</span></label>
                          <input formControlName="sowingArea" type="text" [id]="i+'sowingArea'" class="form-control form-control-alternative" appOnlynumber>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">{{'Expected Yield' | translate}}<span class="required">*</span></label>
                          <input formControlName="expectedYield" type="text" [id]="i+'ex_yield'" class="form-control form-control-alternative" appOnlynumber>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">{{'Actual Yield' | translate}}</label>
                          <input formControlName="actualYield" type="text" [id]="i+'actual_yeild'" class="form-control form-control-alternative" appOnlynumber>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">{{'Markatable Surplus' | translate}}</label>
                          <input formControlName="marketableQuantity" type="text" [id]="i+'markatable_surplus'" class="form-control form-control-alternative" appOnlynumber>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="checkMQ(i)">
                      <div class="col-lg-12 text-center">
                        <span class="required">{{'markatable surplus should be less than or equal to 20% more than actual yeild.' | translate}}</span>
                      </div>
                    </div>

                  </div>

                  </div>
                  <div class="row" *ngIf="sowingError">
                    <div class="col-lg-12 text-center">
                      <span class="required">{{'Some of the fields of sowing details are empty or invalid.' | translate}}</span>
                    </div>
                  </div>
                </div>

                <div class="card-footer py-4 text-center">
                  <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addSowingDetails()">
                    {{'Save' | translate}}
                  </button>
                  <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateSowingDetails()">
                    {{'Save' | translate}}
                  </button>
                  <button class="btn btn-warning text-right" (click)="reset()">{{'Reset1'|translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-8">
              <h3 class="mb-0">{{"Crop Sowing Details"|translate}}</h3>
            </div>
            <div class="col-4 text-right">
                <input type="text" [(ngModel)]="searchText" (input)="onInputSearch()"
                    style="border-radius: 0;" name="search" placeholder="Search" autocomplete="off"
                    class="form-control input-md" />
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <!-- <th scope="col"></th> -->
                <th scope="col">{{'S.no' | translate}}</th>
                <th *ngIf="!farmerLogin" scope="col" class="sort" (click)="sortOrder('farmer_name')">{{'Farmer' | translate}} <br/>{{'Name' | translate}}</th>
                <th *ngIf="!farmerLogin" scope="col" class="sort" (click)="sortOrder('father_husband_name')">{{'Father' | translate}}/ <br/>{{'Husband' | translate}} <br/> {{'Name' | translate}}</th>
                <th scope="col" class="sort" (click)="sortOrder('season_name')">{{'Season' | translate}}</th>
                <th scope="col" class="sort" (click)="sortOrder('crop_name')">{{'Crop' | translate}}<br/> {{'Name' | translate}}</th>
                <th scope="col" class="sort" (click)="sortOrder('crop_veriety')">{{'Crop' | translate}} <br/>{{'Variety' | translate}}</th>
                <th scope="col" class="sort" (click)="sortOrder('sowing_area')">{{'Sowing' | translate}} <br/>{{'Area' | translate}} <br/>({{'in Ha' | translate}}.)</th>
                <th scope="col" class="sort" (click)="sortOrder('ex_yield')">{{'Expected' | translate}}<br/>{{'yield' | translate}} <br/>({{'in Qt' | translate}}.)</th>
                <th scope="col" class="sort" (click)="sortOrder('actual_yield')">{{'Actual' | translate}} <br/>{{'yield' | translate}} <br/>({{'in Qt' | translate}}.)</th>
                <th scope="col" class="sort" (click)="sortOrder('marketable_quantity')">{{'Markatable' | translate}} <br/>{{'surplus' | translate}} <br/>({{'in Qt' | translate}}.)</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of cropSowingData | sort:orderBy | tableSearch:searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                <!-- <td>
                  <input type="checkbox">
                </td> -->
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td *ngIf="!farmerLogin">
                 {{d.farmer_name}}
                 </td>
                <td *ngIf="!farmerLogin">
                  {{d.father_husband_name}}
                </td>
                <td>
                  {{d.season_name}}
                </td>
                <td>
                  {{d.crop_name}}
                </td>
                <td>
                  {{d.crop_veriety}}
                </td>
                <td>
                  {{d.sowing_area}}
                </td>
                <td>
                  {{d.ex_yield}}
                </td>
                <td>
                  {{d.actual_yield}}
                </td>
                <td>
                  {{d.marketable_quantity}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      {{'Actions' | translate}}
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editCropSowingDetails(d, content)"> {{'Edit' | translate}}</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(d.crop_id)">{{'Delete' | translate}}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-center" id="modal-basic-title">{{'Update Crop Sowing' | translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="cropSowingUpdateForm">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group mb-3">
                  <label class="input-label">{{'Farmer Name' | translate}}<span class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <select disabled readonly formControlName="farmerId" class="form-control" (change)="getFarmerDetails($event.target.value)">
                      <option value="" selected>{{'Select Farmer Name' | translate}}</option>
                      <option value="{{farmer.farmerId}}" *ngFor="let farmer of farmers">{{farmer.farmerName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">{{"Father's/ Husband's Name" | translate}}</label>
                <input readonly formControlName="guardianName" type="text" id="input-first-name" class="form-control form-control-alternative" value="Lucky">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">{{'Season'|translate}} <span class="required">*</span></label>
                <div class="input-group input-group-alternative">
                  <select disabled readonly formControlName="seasonRefName" class="form-control">
                    <option value="">{{'Select Season'|translate}}</option>                    
                    <option value="{{season.seasonId}}" *ngFor="let season of seasons">{{season.season}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">{{'Total Land' | translate}}</label>
                <input readonly formControlName="baseland" type="text" id="input-email" class="form-control form-control-alternative">
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col">
                <div class="card shadow p-3 mb-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="form-group mb-3">
                            <label class="form-control-label" for="input-email">{{'Crop'|translate}} <span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <select formControlName="cropRefName" class="form-control" >
                                <option value="" selected>{{'Select Crop'|translate}}</option>                    
                                <option value="{{crop.cropId}}" *ngFor="let crop of crop_list">{{crop.cropName}}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <div class="form-group mb-3">
                          <label class="form-control-label" for="input-email">{{'Crop variety'|translate}} <span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <select formControlName="verietyRef" class="form-control" >
                                <option value="" selected>{{'Select variety'|translate}}</option>                    
                                <option value="{{variety.verietyId}}" *ngFor="let variety of varieties">{{variety.verietyName}}</option>
                              </select>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">{{'Sowing Area'|translate}}<span class="required">*</span></label>
                        <input formControlName="sowingArea" type="text" class="form-control form-control-alternative" appOnlynumber>
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">{{'Expected Yield' | translate}}<span class="required">*</span></label>
                      <input formControlName="expectedYield" type="text" class="form-control form-control-alternative" appOnlynumber>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">{{'Actual Yield' | translate}}</label>
                      <input formControlName="actualYield" type="text" class="form-control form-control-alternative" appOnlynumber>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">{{'Markatable Surplus' | translate}}</label>
                      <input formControlName="marketableQuantity" type="text" class="form-control form-control-alternative" appOnlynumber>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card-footer py-4 text-center">
              <button type="button" class="btn btn-yellow btn-primary my-4" (click)="updateSowingDetails()">
                {{'Update Crop Sowing' | translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>