<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"Add FPO's Crop Production"|translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="cropSowingForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-group mb-3">
                      <label class="input-label">Farmer Name<span class="required">*</span></label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"></span>
                        </div>
                        <select formControlName="farmerId" class="form-control" (change)="getFarmerDetails($event.target.value)">
                          <option value="" selected>Select Farmer Name</option>
                          <option value="{{farmer.farmerId}}" *ngFor="let farmer of farmers">{{farmer.farmerName}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Father's/ Husband's Name</label>
                    <input readonly formControlName="guardianName" type="text" id="input-first-name" class="form-control form-control-alternative" value="Lucky">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Season <span class="required">*</span></label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <select formControlName="seasonRefName" class="form-control">
                        <option value="">{{'Select Season'|translate}}</option>                    
                        <option value="{{season.seasonId}}" *ngFor="let season of seasons">{{season.season}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Total Land</label>
                    <input readonly formControlName="baseland" type="text" id="input-email" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="col-lg-12 py-2 text-right">
                  <button class="btn btn-primary text-right" (click)="addNewRow()">Add Sowing</button>
                </div>
                  <div formArrayName="list">
                    <div  *ngFor="let itemRow of cropSowingForm.get('list')['controls']; let i=index"  [formGroupName]="i">
                      <div class="card shadow p-3 mb-2">

                      <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="form-group mb-3">
                            <label class="form-control-label">Crop<span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                              </div>
                              <select formControlname="cropRefName" [id]="i+'crop'" class="form-control"  (change)="getCropVarietiesByCropId($event.target.value,i)">
                                <option [value]="undefined">Select Crop</option>
                                <option *ngFor="let crop of crops" [value]="''+crop.cropId" >{{crop.cropName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <div class="form-group mb-3">
                            <label class="form-control-label">Crop variety<span class="required">*</span></label>
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"></span>
                              </div>
                              <select formControlname="verietyRef" [id]="i+'cropver'" (change)="setCropVarieties($event.target.value,i)" class="form-control">
                                <option [value]="undefined">Select Variety</option>
                                <option *ngFor="let variety of cropVarieties" [value]="variety.verietyId">{{variety.verietyName}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group text-right">
                          <button class="btn btn-sm btn-danger mt-4" (click)="deleteRow(i)"><i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Sowing Area<span class="required">*</span></label>
                          <input appOnlynumber formControlName="sowingArea" type="text" id="input-first-name" class="form-control form-control-alternative">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Expected Yield<span class="required">*</span></label>
                          <input appOnlynumber formControlName="expectedYield" type="text" id="input-first-name" class="form-control form-control-alternative">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Actual Yield<span class="required">*</span></label>
                          <input appOnlynumber formControlName="actualYield" type="text" id="input-first-name" class="form-control form-control-alternative" >
                        </div>
                      </div>
                    </div>

                    <!-- <button type="button" (click)="deleteRow(i)" *ngIf="formArr.controls.length > 1" >
                      Delete
                    </button> -->
                  </div>

                  </div>
                </div>
                <div class="card-footer py-4 text-center">
                  <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addSowingDetails()">
                    {{'Save' | translate}}
                  </button>
                  <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateSowingDetails()">
                    {{'Save' | translate}}
                  </button>
                  <button class="btn btn-warning text-right">{{'Reset1'|translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"FPO's Crop Productions"|translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Farmer Name</th>
                <th scope="col">Farmer's Father/ Husband Name</th>
                <th scope="col">Season</th>
                <th scope="col">Crop Name</th>
                <th scope="col">Crop Variety</th>
                <th scope="col">Sowing Area (in Ha.)</th>
                <th scope="col">Expected yield (in Qt.)</th>

                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  O1
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  O2
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  O3
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  O4
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  O5
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  Ramsaini
                </td>
                <td>
                  Rabi
                </td>
                <td>
                  Wheat
                </td>
                <td>
                  HD3086
                </td>
                <td>2.0</td>
                <td>10</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
