<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Add Storage/ Processing Unit</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="storageUnitForm" (ngSubmit)="addStorageUnit()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Type of Storage</label><br/>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="storageType"  class="custom-control-input" id="coldstorageradio" value ="Cold Storage" type="radio">
                      <label class="custom-control-label" for="coldstorageradio">Cold Storage</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="storageType" value ="Warehouse"  class="custom-control-input" id="warehouseradio" checked="" type="radio">
                      <label class="custom-control-label" for="warehouseradio">Warehouse</label>
                    </div> 
                    <div *ngIf="submitted && formControls.storageType.errors" class="text-danger">
                      <div *ngIf="formControls.storageType.errors.required">Storage Type is required</div>
                    </div>                 
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Facilities available</label>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input formControlName="washingfacility"  class="custom-control-input" id="washingfacilitycheck" type="checkbox">
                      <label class="custom-control-label" for="washingfacilitycheck">Washing facility</label> 
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input formControlName="sortingmachines" class="custom-control-input" id="sortingmachinescheck"  type="checkbox" >
                      <label class="custom-control-label" for="sortingmachinescheck">Sorting machines</label>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input formControlName="gradingmachines"  class="custom-control-input" id="gradingmachinescheck" value="Grading machines" type="checkbox" >
                      <label class="custom-control-label" for="gradingmachinescheck">Grading machines</label>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input formControlName="packagingmachines"  class="custom-control-input" id="packagingmachinescheck" value="Packaging machines" type="checkbox" checked="" >
                      <label class="custom-control-label" for="packagingmachinescheck">Packaging machines</label>
                    </div>
                    <div *ngIf="submitted && formControls.facilities.errors" class="text-danger">
                      <div *ngIf="formControls.facilities.errors.required">Facilities is required</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Storage Capacity (In Mt.)</label>
                    <input formControlName="storageCapacity"  type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Storage Capacity" value="Jesse">
                    <div *ngIf="submitted && formControls.storageCapacity.errors" class="text-danger">
                      <div *ngIf="formControls.storageCapacity.errors.required">Storage Capacity is required</div>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Do you have Seed Processing Unit? *</label><br/>
                    <div class="custom-control custom-radio mb-3 ">
                      <input formControlName="isProcessingUnit"  value="Yes"  class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">Yes</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input formControlName="isProcessingUnit"  value="No" class="custom-control-input" id="customRadio6"  type="radio">
                      <label class="custom-control-label" for="customRadio6">No</label>
                    </div>      
                    <div *ngIf="submitted && formControls.isProcessingUnit.errors" class="text-danger">
                      <div *ngIf="formControls.isProcessingUnit.errors.required">This Field is required</div>
                    </div>            
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">District</label>
                    <select formControlName="district" id="districtselect" class="custom-control custom-select">
                      <option name="opt" [value]="undefined" selected disabled>Please Select District</option>
                      <option *ngFor="let district of districtlist" [value]="district.district_id">{{district.district_name}}</option>
                      
                    </select>
                    <div *ngIf="submitted && formControls.district.errors" class="text-danger">
                      <div *ngIf="formControls.district.errors.required">District is required</div>
                    </div>  
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Block</label>
                    <select formControlName="block"  id="blk" class="custom-control custom-select">
                      <option name="opt2" [value]="undefined" selected disabled>Please Select Block</option>
                      <option *ngFor="let block of blocklist" [value]="block.id">{{block.blockName}}</option>
                      
                    </select>  
                    <div *ngIf="submitted && formControls.block.errors" class="text-danger">
                      <div *ngIf="formControls.block.errors.required">Block is required</div>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Address</label>
                    <textarea formControlName="address"  class="form-control form-control-alternative" rows="3" placeholder="Address"></textarea>
                    <div *ngIf="submitted && formControls.address.errors" class="text-danger">
                      <div *ngIf="formControls.address.errors.required">Address is required</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="card-footer py-4 text-center">
                <button type="submit" class="btn btn-yellow btn-primary my-4">Add Storage Unit</button>
                <button class="btn btn-warning text-right" (click)="reset()">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Storage/ Processing Units</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Type of storage</th>
                <th scope="col">Address</th>
                <th scope="col">Storage Capacity</th>
                <th scope="col">Facilities available</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let unit of storageUnits | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{unit?.storageType?unit.storageType:'N/A'}}
                 </td>
                <td>
                  {{unit.address}}, {{unit.block}}, {{unit.district}}
                </td>
                <td>
                  {{unit.storageCapacity}}
                </td>
                <td>
                  {{unit?.facilities?unit.facilities:'N/A'}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editCollectionCenter(unit)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(unit.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
