<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Add Member</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Type of Storage</label><br/>
                    <div class="custom-control custom-radio mb-3 ">
                      <input name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">Cold Storage</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input name="custom-radio-2" class="custom-control-input" id="customRadio6" checked="" type="radio">
                      <label class="custom-control-label" for="customRadio6">Warehouse</label>
                    </div>                
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Facilities available</label>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck5" type="checkbox">
                      <label class="custom-control-label" for="customCheck5">Washing facility</label>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck6" type="checkbox" checked="">
                      <label class="custom-control-label" for="customCheck6">Sorting machines</label>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck7" type="checkbox" >
                      <label class="custom-control-label" for="customCheck7">Grading machines</label>
                    </div>
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck8" type="checkbox" checked="" >
                      <label class="custom-control-label" for="customCheck8">Packaging machines</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Storage Capacity (In Mt.)</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Storage Capacity" value="Jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Do you have Seed Processing Unit? *</label><br/>
                    <div class="custom-control custom-radio mb-3 ">
                      <input name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio">
                      <label class="custom-control-label" for="customRadio5">Yes</label>
                    </div>
                    <div class="custom-control custom-radio mb-3">
                      <input name="custom-radio-2" class="custom-control-input" id="customRadio6" checked="" type="radio">
                      <label class="custom-control-label" for="customRadio6">No</label>
                    </div>                
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">District</label>
                    <select class="custom-control custom-select mb-3">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Block</label>
                    <select class="custom-control custom-select mb-3">
                      <option>A</option>
                      <option>B</option>
                      <option>C</option>
                    </select>                  
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Address</label>
                    <textarea class="form-control form-control-alternative" rows="3" placeholder="Address"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer py-4 text-center">
          <button class="btn btn-primary text-right">Save</button>
          <button class="btn btn-warning text-right">Reset</button>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Members</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Type of storage</th>
                <th scope="col">Address</th>
                <th scope="col">Storage Capacity</th>
                <th scope="col">Facilities available</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">ABlack Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">React Material Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">ABlack Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">React Material Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                 v@gmail.com
                </td>
                <td>
                 732843473464
                </td>
                <td>
                  Female
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
