<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
    <div class="container-fluid">
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">{{'Machinery/Equipment' | translate}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Equipment Category' | translate}} <span
                                                class="required">*</span></label>
                                        <select class="form-control" (change)="ChangingValue($event.target.value)">
                                            <option value="select">{{'Select Type' | translate}}</option>
                                            <!-- <option value="chemical">{{'Tractor' | translate}}</option>
                                            <option value="bio">{{'Trolley' | translate}}</option>
                                            <option value="bio">{{'Thresher' | translate}}</option>
                                            <option value="bio">{{'Harvester' | translate}}</option>
                                            <option value="bio">{{'other implements' | translate}}</option> -->
                                            <option value="chemical">{{'Farm Machinery' | translate}}</option>
                                            <option value="bio">{{'Irrigation' | translate}}</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Equipment' | translate}} <span class="required">*</span></label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Equipment Capacity' | translate}} <span
                                                class="required">*</span></label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Equipment Purchase Year' | translate}} <span
                                                class="required">*</span></label>
                                        <input type="date" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Image of the Equipment' | translate}}</label>
                                        <input type="file" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Equipment Manufacturer (company/Brand)' | translate}} <span
                                                class="required">*</span></label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Quantity Available' | translate}}</label>
                                        <input type="date" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Rent/day' | translate}}</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative" value=" Rs.">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>{{'Whether Govt.-assistance used in procurement of Equipment' |
                                            translate}}</label>
                                          <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">
                                                    {{'Documents' | translate}}
                                                    <span class="required">*</span> :
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                                                          [(ngModel)]="formRadio" name="inlineRadio" id="inlineRadio1" value="yes">
                                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                                      </div>
                                                      <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                                                          [(ngModel)]="formRadio" name="inlineRadio" id="inlineRadio2" value="No">
                                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                                      </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" *ngIf="formRadio ==='yes'">
                                    <div class="form-group">
                                        <label>{{'Govt. Scheme under which -assistance was provided' |
                                            translate}}</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>

                           

                        </div>
                    </form>
                </div>
                <div class="card-footer py-4 text-center">
                    <button class="btn btn-yellow">Save</button>
                    <button class="btn btn-warning">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-9">
                            <h3 class="mb-0">
                                {{'Machinery/Equipment details' | translate}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{{'S.no' | translate}}</th>
                                <th scope="col"> {{'Equipment Available' | translate}}</th>
                                <th scope="col">{{'Equipment Capacity' | translate}}</th>

                                <th scope="col">{{'Equipment Purchase Year' | translate}}</th>

                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    O1
                                </td>
                                <td>Tractor</td>
                                <td>
                                    ABC
                                </td>
                                <td>
                                    xyz
                                </td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                                            Actions
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

        
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>