<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="max-height: 300px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    
    <div class="col-xl-12 order-xl-1">
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{'My profile'|translate}} </h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="profileForm">
            <input type="hidden" formControlName="fpoId">
            <h6 class="heading-small text-muted mb-4">{{'User information'|translate}}</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-userName">{{'Username'|translate}}</label>
                    <input type="text" formControlName="userName" id="input-userName" class="form-control form-control-alternative" >
                    <div *ngIf="submitted && formControls.userName.errors" class="text-danger">
                      <div *ngIf="formControls.userName.errors.required">{{'username is required'|translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">{{'Email'|translate}}</label>
                    <input type="email" formControlName="fpoEmail" id="input-email" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.fpoEmail.errors" class="text-danger">
                      <div *ngIf="formControls.fpoEmail.errors.required">{{'email is required'|translate}}</div>
                      <div *ngIf="formControls.fpoEmail.errors.email">{{'Invalid Email Address'|translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'Full name'| translate}}</label>
                    <input type="text" formControlName="fpoName" id="input-first-name" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.fpoName.errors" class="text-danger">
                      <div *ngIf="formControls.fpoName.errors.required">{{'Full Name is required'|transalte}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="input-label">{{'Agency' | translate}} <span class="required">*</span></label>
                    <select formControlName="agency" class="form-control form-control-alternative">
                      <option value="">
                        {{'select Agency' |translate}}
                      </option>
                      <option value="NABARD">NABARD</option>
                      <option value="SFAC">SFAC</option>
                      <option value="UPBSN">UPBSN</option>
                      <option value="UP State Bio-Energy Development Board">UP State Bio-Energy Development Board</option>
                    </select>
                    <div *ngIf="submitted && formControls.agency.errors" class="text-danger">
                      <div *ngIf="formControls.agency.errors.required">{{'agency is required' |translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">{{'Contact information'|translate}}</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">{{'Address'|translate}}</label>
                    <input id="input-address" formControlName="fpoAddress" class="form-control form-control-alternative" type="text">
                    <div *ngIf="submitted && formControls.fpoAddress.errors" class="text-danger">
                      <div *ngIf="formControls.fpoAddress.errors.required">{{'Address is required'|translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-lg-12">
                  <label class="input-label">{{'District1'|translate}}<span class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" formControlName="distRefId">
                      <option value="">{{'SelectDistrict1'|translate}}</option>
                      <option *ngFor="let district of districtlist" [value]="district.district_id" (change)="selectDistrict($event.target.value)">
                        {{district.district_name }}
                      </option>
                    </select>

                  </div>
                  <div *ngIf="submitted && formControls.distRefId.errors" class="text-danger">
                    <div *ngIf="formControls.distRefId.errors.required">{{'district is required'|translate}}</div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-6">
                  <label class="input-label">{{'Block1'|translate}} <span class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" formControlName="blockRef">
                      <option [value]="undefined" selected disabled>{{'Select Block'| translate}}</option>
                      <option *ngFor="let block of blocklist" [value]="block.id">{{block.blockName}}</option>
                    </select>

                  </div>
                  <div *ngIf="submitted && formControls.blockRef.errors" class="text-danger">
                    <div *ngIf="formControls.blockRef.errors.required">{{'block is required'| translate}}</div>
                  </div>
                </div>
                <div class="col-6">
                  <label class="input-label">{{'Pincode'|translate}}<span class="required">*</span></label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" type="text" formControlName="pincode">

                  </div>
                  <div *ngIf="submitted && formControls.pincode.errors" class="text-danger">
                    <div *ngIf="formControls.pincode.errors.required">{{'pin code is required'|translate}}</div>
                    <div *ngIf="formControls.pincode.errors.pattern"> {{'maximun 6 digit is required' | tarnslate}}</div>
                  </div>
                </div>
              </div>

              <hr class="my-4" />
              <h6 class="heading-small text-muted mb-4">{{'Bank information' | translate}}</h6>
              <div class="form-group row mb-3">
                <div class="col-6">
                  <label class="input-label">{{'Bank Name'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <select class="form-control" formControlName="fpoBankName" >
                      <option value="">{{'Select Bank Name'|translate}}</option>
                      <option *ngFor="let bank of banks" [value]="bank.bankId">{{bank.bankName}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <label class="input-label">{{'IFSC'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" formControlName="fpoIFSC" type="text">
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-6">
                  <label class="input-label">{{'Bank Account Number1'|translate}}</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" formControlName="fpoBankAccNo" type="text">
                  </div>
                </div>
              </div>

            </div>

            <div class="pl-lg-4">
              <button type="button" class="btn btn-yellow btn-primary my-4" (click)="updateProfile()">
                {{'Update profile'| translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
