.header-back{
    background-color: #fff;
    padding: 1.5rem;
}

/* .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
  } */