<div class="row header-back">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            {{'FPO Details'|translate}}
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-12">
        <app-data-table tableClass="table table-striped table-bordered table-hover"  [data]="data.fpoDetails" [options]="options"
        [columns]="columns">
          </app-data-table>
    </div>
</div>

<div class="row header-back">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            {{'Input Supplier'|translate}}
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-12">
        <app-data-table tableClass="table table-striped table-bordered table-hover"  [data]="data.inputSupplierDetails" [options]="options"
        [columns]="columns2">
          </app-data-table>
    </div>
</div>

<div class="row header-back">
    <div class="col-md-12">
        <div class="d-flex justify-content-center">
            {{'CHC/FMB'|translate}}
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-md-12">
        <app-data-table tableClass="table table-striped table-bordered table-hover"  [data]="data.chcFmbDetails" [options]="options"
        [columns]="columns3">
          </app-data-table>
    </div>
</div>

