<div class="header">
  <div class="logo mr-3">
    <img class="logo-image" src="assets/image/img/logo.png" />
  </div>
  <div class="text-center mainTitle ">
    <span class="parent">{{'mainTitle' |translate}} </span>
    <br>
    <span class="child">
      {{'mainTitle2' |translate}}
    </span>
  </div>

  <div class="headingTitle">
    <span class="gov">{{'Agriculture Department' | translate}}</span>
    <br>
    <span class="up">{{'Uttar Pradesh'|translate}}</span>
  </div>
</div>
<section class="fms-wrapper">

  <div class="innerContent">

    <nav class="navbar navbar-expand-lg navbar-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span _ngcontent-aau-c122="" class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarToggleExternalContent" [ngClass]="{ in: isOpen }">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggeIn">
          <div class="triangle-topright"></div>
          <li class="nav-item dropdown">
            <div ngbDropdown placement="bottom-left" class="menu_langauge_btn">
              <a class="languageText" ngbDropdownToggle>
                <img class="nav-image nav-image1" src="assets/image/img/language.png" />
                {{'Language' | translate}}
                <img class="arrowImage" src="assets/image/img/arrodwon.png" alt="logo">
              </a>
              <div ngbDropdownMenu class="dropdown-menu-md dropdown-menu-arrow">
                <a class="dropdown-item" (click)="useLanguage('hi')">{{'Hindi' | translate}}</a>
                <a class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
              </div>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fpo_guidelines">
              <img class="nav-image" src="assets/image/img/fpomenu.png" />
              {{'FPO guidelines' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/schema">
              <img class="nav-image" src="assets/image/img/scemenu.png" />
              {{'Schemes' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggeIn">
            <a class="nav-link" routerLink="/login">
              <img class="nav-image" src="assets/image/img/signup.png" />
              {{'Login' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              <img class="nav-image" src="assets/image/img/signup.png" />
              {{'Sign Up' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>

          <!--<li class="nav-item dropdown">
              <div ngbDropdown placement="bottom-left" class="menu_langauge_btn">
                <a class="languageText" ngbDropdownToggle>

                  <img class="nav-image sign-up" src="assets/image/img/usermenu.png" />
                  {{'Sign Up' | translate}}
                  <img class="arrowImage" src="assets/image/img/arrodwon.png" alt="logo">
                </a>
                <div ngbDropdownMenu class="dropdown-menu-md dropdown-menu-arrow">
                  <a class="dropdown-item" routerLink="/register/1" routerLinkActive="active"><b>{{'FPO' | translate}}</b></a>
                  <a class="dropdown-item" routerLink="/register/2" routerLinkActive="active">{{'Farmer' | translate}}</a>
                  <a class="dropdown-item" routerLink="/register/3" routerLinkActive="active">{{'Buyer/ Seller' | translate}}</a>
                  <a class="dropdown-item" routerLink="/register/4" routerLinkActive="active">{{'Input Supplier' | translate}}</a>
                  <a class="dropdown-item" routerLink="/register/5" routerLinkActive="active">{{'CHC/FMB' | translate}}</a>-->
          <!--<a class="dropdown-item" routerLink="/register/6" routerLinkActive="active">{{'Equipment Centre' | translate}}</a>-->
          <!--</div>


              </div>


            </li>-->
        </ul>
        <ul class="navbar-nav ml-auto login" *ngIf="isLoggeIn">
          <div class="triangle-topright"></div>
          <li class="nav-item dropdown">
            <div ngbDropdown placement="bottom-left" class="menu_langauge_btn">
              <a class="languageText" ngbDropdownToggle>
                <img class="nav-image nav-image1" src="assets/image/img/language.png" />
                {{'Language' | translate}}
                <img class="arrowImage" src="assets/image/img/arrodwon.png" alt="logo">
              </a>
              <div ngbDropdownMenu class="dropdown-menu-md dropdown-menu-arrow">
                <a class="dropdown-item" (click)="useLanguage('hi')">{{'Hindi' | translate}}</a>
                <a class="dropdown-item" (click)="useLanguage('en')">{{'English' | translate}}</a>
              </div>
            </div>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img class="nav-image" src="assets/image/img/fpomenu.png" />
              {{'FPO' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">
              <img class="nav-image" src="assets/image/img/scemenu.png" />
              {{'Schemes' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item" *ngIf="isLoggeIn">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">
              <img class="nav-image" src="assets/image/img/signup.png" />
              {{'Logout' | translate}} <span class="sr-only">(current)</span>
            </a>
          </li>

        </ul>


      </div>
    </nav>
    <div class="container-fluid">
      <div class="row my-3">

        <div class="col-md-2 col-sm-12 p-0">
          <div class="" style="margin-left: 13%;">
            <h4 class="set_notifications">
              {{'Notifications' | translate }}
            </h4>
            <div class="panel panel-default" style="border: 0px;">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 newsBox">
                    <ul class="demo1 marquee ">
                      <div class="marquee-content">
                        <li *ngFor="let c of circluar let i=index" class="news-item {{getClass(i+1)}}">
                          <table cellpadding="4">
                            <tbody>
                              <tr>
                                <td><img src="assets/icons/icons8-new-96 (1).png" width="20" class="img-circle"></td>
                                <td class="news-td">
                                  <a href="/viewFile?path=C%3a%5cupfpo%5cuploads%5ccirculars%5cROLE_MIN%5cminadmin%5c2020%5cOCTOBER%5c2020-10-12%5cTest+Document_1.pdf"
                                    class="text-left text-danger" target="_blank">
                                    {{c.description }}

                                  </a>
                                </td>

                                <!-- <td class="news-td"></td> -->
                              </tr>
                            </tbody>
                          </table>
                        </li>
                      </div>
                    </ul>
                    <div class="text-right Viewall">
                      <small style="color:black"><a href="/#">{{'View all' | translate}}</a>&nbsp;</small>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>





          <!--Notifications End-->
          <!--View FPO's On Map Start-->
          <!-- <div class="mapwapper">
            <h4 class="set_notifications">
              {{'View FPOs on Map' |  translate}}
            </h4>
            <a href="/fpoMap">
              <img src="assets/image/img/map.jpg" alt="" class="img-thumbnail mob-width" style="width: 100%;">
            </a>
          </div> -->
          <!--View FPO's On Map End-->
        </div>
        <div class="col-md-7 col-md-pull-3">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <div *ngFor="let slide of slides; let index=index">
              <slide>
                <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;height: 275px;">
                <div class="carousel-caption">
                  <p>{{slide.text |translate}}</p>
                </div>
              </slide>

            </div>
          </carousel>
          <div class="main">
            <div>
              <strong class="searchFPO ">{{'bannerSearchText' | translate}}</strong>
            </div>
            <div class="row serachBarWpper ">
              <div class="col-md-8" style="padding: 0px;">
                <div class="form-group has-feedback">
                  <div class="form-group">
                    <div id="filterDate2">
                      <input type="text" id="homesearch" class="form-control" style="border-radius: 0;"
                        placeholder="{{'Type here to search'|translate}}" [(ngModel)]="searchValue"
                        (input)="selectValue()">
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-2" style="padding: 0px;">
                <div class="dropdown searchDropDown ">
                  <select class="btn btn-default dropdown-toggle" id="searchin" name="Searchin" [(ngModel)]="searchType"
                    style="width:100%;border-radius: 0;">
                    <!--option value="any">{{'Any' | translate }}</option>
                    <option value="crop">{{'Crop' | translate }}</option>
                    <option value="district">{{'District1' | translate }}</option>
                    <option value="fpo_name">{{'FPO' | translate }}</option>
                    <option value="services">{{'Services/ Products' | translate }}</option> -->
                    <option value="crop">{{'Crop' | translate }}</option>
                    <option value="insecticides">{{'Insecticides' | translate }}</option>
                    <option value="seeds">{{'Seeds' | translate }}</option>
                    <option value="fmb">{{'machinery' | translate }}</option>
                    <option value="fertilizers">{{'Fertilizers' | translate }}</option>
                    <!-- <option value="district">{{'District1' | translate }}</option> -->
                    <!-- <option value="fpo_name">{{'FPO' | translate }}</option> -->
                    <!-- <option value="services">{{'Services/ Products' | translate }}</option> -->

                  </select>
                </div>
              </div>
              <div class="col-md-2 mb-4" style="padding: 0px;">
                <a [routerLink]="['/products',searchValue,searchType]" routerLinkActive="active">
                  <input type="button" value="🔍 {{'Search' | translate}}" class="form-control-feedback btn-warning"
                    placeholder="{{'searchPlaceHolder'| translate}}" style="width: 100%; pointer-events: all;">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-push-7 col-sm-6 set_comdbox no_padding">
          <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="col-md-12">
              <div class="text-block">
                <img src="assets/image/img/yogi.png" alt="Avatar">
                <!--<img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
                <h4 class="set_name">
                  {{'Shri. Yogi Adityanath' | translate }}
                </h4>
                <h4 class="set_post">
                  {{'Honble Chief Minister' | translate }}
                </h4>
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-block">
                <img src="assets/image/img/sury.png" alt="Avatar">
                <!-- <img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
                <h4 class="set_name">
                  {{'Shri Surya Pratap Shahi' | translate }}
                </h4>
                <h4 class="set_post">
                  {{'Honble Agriculture Minister' | translate }}
                </h4>
              </div>

            </div>
            <div class="col-md-12">
              <div class="text-block">
                <img src="assets/image/img/lakhan.png" alt="Avatar">
                <!-- <img src="img/circle.png" alt="" style="position: absolute;height: 120px;">-->
                <h4 class="set_name">
                  {{'Shri Lakhan Singh Rajput' | translate }}
                </h4>
                <h4 class="set_post">
                  {{'Honble State Minister Agriculture' | translate }}
                </h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="container-fluid set_row_bg_image">
        <div class="row tileBoxRow">
          <!-- FPO tile--->
          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'FPO' |translate}}
              </span>
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
            </div>
            <div class="tile_nember" *ngIf="fpo">
              {{fpo |  number:'1.0-2'}}
            </div>

          </div>
          <!--FPO tile end-->
          <!-- FPO tile--->
          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'Total Farmers' | translate}}

              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div class="tile_nember" *ngIf="farmerDetails">
              {{farmerDetails.totalfarmers |  number:'1.0-2'}}
            </div>

          </div>
          <!--FPO tile end-->
          <!-- Farmer tile-->

          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'Farmers' | translate}}
              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div>
              <table rowspacing="20" style="width: 99%;">
                <tbody>
                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Marginal'|translate}}</td>
                    <td class="table_tile_number" *ngIf="farmerDetails">
                      {{farmerDetails.marginalfarmers |  number:'1.0-2'}}
                      <!-- </a> -->
                    </td>
                  </tr>
                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Small' |translate}}</td>
                    <td class="table_tile_number" *ngIf="farmerDetails">
                      {{farmerDetails.smalltotal |  number:'1.0-2'}}
                      <!-- </a> -->
                    </td>
                  </tr>
                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Others'| translate}}</td>
                    <td class="table_tile_number" *ngIf="farmerDetails">
                      {{farmerDetails.bigfarmers |  number:'1.0-2'}}
                      <!-- </a> -->
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
          <!--Famer tile end--->
          <!-- Land tile -->

          <div class="col-md-3 set_box_md4" style=" margin-right:0px">
            <div>
              <span class="set_span_titel">
                {{'Total Land (in Ha.)' |translate}}
              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div class="tile_nember" *ngIf="farmerDetails">
              {{farmerDetails.totalland |  number:'1.0-2'}}
            </div>
          </div>
          <!-- Land tile end -->
        </div>
        <div class="row tileBoxRow" style="margin: auto auto; padding-left: 3%; padding-right: 3%">
          <!-- Production tile -->
          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'Production (in Qt.)' |translate}}
              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div>
              <table rowspacing="20" style="width: 99%;" *ngIf="productionDetails">
                <tbody>
                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Rabi' | translate }}</td>
                    <td class="table_tile_number">{{productionDetails.rabiprod |  number:'1.0-2'}}</td>
                  </tr>

                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Zayd' | translate}}</td>
                    <td class="table_tile_number">{{productionDetails.zayadprod |  number:'1.0-2'}}</td>
                  </tr>

                  <tr class="table_tile_tr">
                    <td class="table_tile_text">{{'Kharif' | translate}}</td>
                    <td class="table_tile_number">{{productionDetails.kharifprod |  number:'1.0-2' }}</td>
                  </tr>


                </tbody>
              </table>

            </div>

          </div>
          <!-- Production tile end -->
          <!-- Farm Machinery bank tilw -->

          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'Farm Machinery Bank'| translate}}

              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div class="tile_nember">
              92
            </div>

          </div>
          <!-- Farm Manchinery Bank tile end -->
          <!-- Storage centre tile-->
          <div class="col-md-3 set_box_md4">
            <div>
              <span class="set_span_titel">
                {{'Warehouse / Cold Storage' | translate }}
              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="" style="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div class="tile_nember">
              <!--<img src="img/storage.png" alt="" class="set_box_image">-->
              4
            </div>

          </div>
          <!-- Storgare centre tile end -->
          <!-- Seed processing unit  tile-->
          <div class="col-md-3 set_box_md4" style="margin-right:0px">
            <div>
              <span class="set_span_titel">
                {{'Seed Processing Unit' | translate}}
              </span>
              <img class="set_span_titel_image" src="assets/image/img/bg_box2.png" alt="">
              <div _ngcontent-iol-c112=""
                class="icon icon-shape bg-info text-white rounded-circle shadow homePageImageIcom">
                <img _ngcontent-cnf-c175="" _ngcontent-vcn-c149="" src="assets/image/img/logo.png" class="logo-image">
              </div>
            </div>
            <div class="tile_nember">
              <!--<img src="img/storage.png" alt="" class="set_box_image">-->
              11
            </div>

          </div>
          <!-- Storgare centre tile end -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer footerBox">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 text-center">

          <!-- Accessibility Statement -->


          <a routerLink="/content/accessibility" title="Accessibility Statement">
            {{'Accessibility' |translate}}
          </a>
          |
          <a routerLink="/content/privacy-policy" title="Privacy Policy">
            {{'Privacy Policy' | translate}}
          </a>
          |
          <!--Hyper Linnking Policy  -->
          <a routerLink="/content/hyperlinking-policy" title="HyperLinking Policy">
            {{'Hyper Linking Policy' | translate}}
          </a>
          |

          <!-- Copyright Policy -->


          <a routerLink="/content/copyright-policy" title="Copyright Policy">
            {{'Copyright Policy' | translate }}
          </a>

          |

          <a routerLink="/content/terms-condition" title="Terms and Conditions">
            {{'Terms and Conditions' | translate }}
          </a>
          |
          <a routerLink="/content/disclaimer" title="Disclaimer">
            {{'Disclaimer' | translate}}
          </a>

          |
          <!--Help  -->


          <a routerLink="/content/help" title="Help">

            {{'Help' | translate}}
          </a>


          <p>
            {{'footerText1' | translate}}

          </p>
          <p>
            {{'footerText2' | translate}}
            .
          </p>
        </div>
        <div class="col-sm-5 text-center">
          <p style="margin: 0;"> {{'footerText3' | translate}}</p>
          <p> {{'footerText4' | translate}}</p>

        </div>
      </div>
    </div>
  </div>
</section>
