
<div class="header">

  <div class="text-center">
    <span class="parent">UP FPO Shakti</span>
    <br>
    <span class="child">
      Sangathan.Satark.Shakti
    </span>
  </div>

  <div style="margin-left: 140px; margin-top: -45px;">
    <span class="gov">Agriculture Department,</span>
    <br>
    <span class="up">Uttar Pradesh </span>

  </div>
</div>
<div class="innerContent">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="triangle-topright"></div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img  class="nav-image" src="../../../assets/newdesign/img/language.png"/>
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Hindi</a>

          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"> FPO Guidelines  <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Schemes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>

      </ul>
     
    </div>
  </nav>
</div>
