/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.tnc input {
  width: 20px;
  height: 20px;
}

.tnc {
  align-items: center;
  display: flex;
  text-align: center;
  width: 50%;
  margin: 0px auto;
}

.tncError {
  width: 50%;
  margin: 0px auto;
}


