<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'indenthistory' | translate }}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="d-flex">
          <ng-template #customLoadingTemplate>
            
        </ng-template>

          <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: '#ffffff', 
          backdropBorderRadius: '1px',
          primaryColour: '#926E01', 
          secondaryColour: '#926E01', 
          tertiaryColour: '#926E01'}" [template]="customLoadingTemplate"></ngx-loading>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                
                <!--<th scope="col">Your Full Name</th>
                <th scope="col">Email Address</th>-->
                <th scope="col">{{'indentnumber'|translate}}</th>
                <th scope="col">{{'Crop Name'|translate}}</th>
                <th scope="col">{{'Cropveriety'|translate}}</th>
                <th scope="col">{{'Quantity Required'|translate}}</th>
                <th scope="col">{{'Fulfillment Date'|translate}}</th>
                <th scope="col">{{'fpodeliveryaddr'|translate}}</th>
                <th scope="col">{{'status'|translate}}</th>
                <th scope="col" *ngIf="userRole == 'ROLE_FPC'"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indent of indents | paginate: { itemsPerPage: 10, currentPage: p } let i=index">
                
                <td>
                  {{indent?.enquieryNumber}}
                </td>
                <td>
                  {{indent?.cropMaster?.cropName}}
                </td>
                <td>
                  {{indent?.cropVeriety.verietyName}}
                </td>
                <td>
                  {{indent?.quantity}}
                </td>
                
                <td>
                  {{indent?.fulfillmentDate}}
                </td>
                <td>
                  {{indent?.deliveryAddress}}
                </td>
                 <td>
                  {{indent?.status}}
                </td>         
                <td class="text-right" *ngIf="userRole == 'ROLE_FPC'">
                  <button class="btn btn-sm btn-primary" *ngIf="userRole == 'ROLE_FPC'" (click)="opendialog($event,detailform,indent)">
                    {{'Actions'|translate}}
                  </button> 
                  <!-- <div ngbDropdown *ngIf="userRole == 'ROLE_FPC'" placement="bottom-right"> -->
                    <!-- <a class="btn btn-sm btn-primary" *ngIf="userRole == 'ROLE_FPC'" ngbDropdownToggle>
                      {{'Actions'|translate}}
                    </a> -->
                    <!-- <div *ngIf="userRole == 'ROLE_FPC'" ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow"> -->
                      <!--<a class="dropdown-item" href="javascript:void(0)">Edit</a>-->
                      <!-- <a class="dropdown-item" *ngIf="userRole == 'ROLE_FPC'" href="javascript:void(0)">{{'Delete'|translate}}</a>
                    </div>
                  </div> -->
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #detailform let-modal>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{'indentdetails' | translate}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body mt-1 pt-1">
    <form role="form mt-1 p-1" [formGroup]="indentForm">

       <div class="form-group mb-3">
        <label class="form-control-label" for="input-username">{{'Quantity to be fulfilled'|translate}}<span
            class="required">*</span></label>
        <div class="input-group input-group-alternative">
          <input class="form-control" placeholder="{{'Quantity'|translate}}" type="text" formControlName="soldQuantity">
        </div>
        <!-- <div *ngIf="!submitted && formControls.quantity.touched && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
          
          <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
        </div>
        <div *ngIf="submitted && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
          <div *ngIf="formControls.quantity.errors.required">{{'quantity is required'|translate}}</div>
          <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
        </div> -->
      </div>
      <div class="form-group mb-3">
        <label class="form-control-label" for="input-username">{{'status'|translate}}<span
            class="required">*</span></label>
        <div class="input-group input-group-alternative">
          <select class="form-control" formControlName="status">
         <option  [value]="undefined" selected disabled>{{'status'|translate}}</option>
         <option value="partially fulfilled" >{{'partially fulfilled'|translate}}</option>
         <option value="fulfilled">{{'fulfilled'|translate}}</option>
         <option value="rejected">{{'rejected'|translate}}</option>
           </select>  
          </div>
        <!-- <div *ngIf="!submitted && formControls.quantity.touched && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
          
          <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
        </div>
        <div *ngIf="submitted && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
          <div *ngIf="formControls.quantity.errors.required">{{'quantity is required'|translate}}</div>
          <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
        </div> -->
      </div>

      <div class="form-group mb-3">
        <label class="form-control-label" for="input-delivery">{{'reason'|translate}}</label>
        <div class="input-group input-group-alternative">
          <textarea class="form-control" id="input-delivery" placeholder="{{'enterfpodeliveryaddr'|translate}}"
            formControlName="reason"></textarea>
        </div>
        <div *ngIf="submitted && formControls.fpoDeliveryAddress.errors" class="text-danger mt-1 text-xsm">
          <div *ngIf="formControls.fpoDeliveryAddress.errors.required">{{'deleiveryrequired'| translate}}</div>
        </div>
      </div>



      <div class="text-center">
        <button type="submit" [disabled] = "!indentForm.valid" class="btn btn-login btn-product-search btn-primary my-4"(click)="save()">{{'Send'|translate}}</button>
      </div>
    </form>
  </div>
 
</ng-template>