<div class="card">
  <div class="card-body mt-3">
    <p>
      <i>"अभिगम्‍यता वक्‍तव्‍य" </i>
    </p>
    <p>
      हम यह सुनिशिचत करने के लिए प्रतिबद्ध हैं कि कृषि विभाग, उत्तर प्रदेश पोर्टल प्रौधोगिकी, क्षमता या प्रयोग की जाने
      वाली डिवाइस के निरपेक्ष, सभी उपयोगकर्ताओं के उपयोग के लिए सुलभ हो। यह इसके दर्शकों को अधिकतम अभिगम्यता और
      प्रयोज्यता प्रदान करने के प्रयोजन के साथ बनायी गयी है। परिणामस्वरूप, इस पोर्टल को डेस्कटॉप, लैपटॉप कंप्यूटर, वेब
      सक्षम मोबाइल उपकरणों आदि जैसे कर्इ प्रकार के उपकरणों से देखा जा सकता है।
    </p>
    <p>
      इस पोर्टल की सभी जानकारी को विकलांग लोगों को सुलभ कराना सुनिशिचत करने के लिए हमने अपना सर्वश्रेष्ठ प्रयास किया है।
      उदाहरण के लिए, दृश्य विकलांगता से ग्रस्त उपयोगकर्ता इसे स्क्रीन रीडर्स और स्क्रीन मैग्नीफायर्स जैसी सहायक
      प्रौधोगिकियों का उपयोग करते हुए इस पोर्टल का उपयोग कर सकता है।
    </p>
    <p>
      हमारा उद्देश्य मानकों के अनुरूप होना तथा प्रयोज्यता और सार्वभौमिक डिजाइन के सिद्धांतों का पालन करना भी है जो इस
      पोर्टल के सभी आगंतुकों के लिये सहायक हो।
    </p>
    <p>
      यह पोर्टल भारत सरकार की वेबसाइटों के लिए दिशानिर्देशों के अनुपालन में एक्सएचटीएमएल 1.0 ट्रांजिशनल का उपयोग कर
      बनाया गया है और वर्लड वाइड वेब कंसोर्टियम (डब्ल्यू3सी) द्वारा निर्धारित वेब सामग्री अभिगम्यता दिशानिर्देश
      (डब्लुसीएजी) 2.0 के स्तर का पालन करता है। इस पोर्टल में जानकारी का कुछ हिस्सा बाहरी वेबसाइटों के लिंक के माध्यम से
      भी उपलब्ध कराया गया है। बाहरी वेबसाइटों का रखरखाव संबंधित विभागों द्वारा किया जाता है जो इन साइटों को सुगम्य बनाने
      के लिए जिम्मेदार हैं।
    </p>
    <p>
      कृषि विभाग, उत्तर प्रदेश अपने पोर्टल को विकलांग व्यक्तियों के लिए सुलभ बनाने की दिशा में काम कर रहा है हालांकि
      वर्तमान में पोर्टेबल डॉक्यूमेंट फॉर्मेट (पीडीएफ) फाइलें सुलभ हैं।
    </p>
    <p>
      यदि आपके पास अभिगम्यता के बारे में कोर्इ भी समस्या या सुझाव है तो इस पोर्टल को एक उपयोगी तरीके से प्रतिक्रिया करने
      में सक्षम बनाने के लिए हमें अवश्य लिखें। हमें अपनी संपर्क जानकारी के साथ ही समस्या की प्रकृति भी अवगत कराएं।
    </p>
    <p>
      कृषि विभाग, उत्तर प्रदेश हर किसी के लिए सुलभ और उपयोगी उत्पाद प्रदान कर रहा है। ऐसा करने में, हमने अपनी वेबसाइट को
      बाहरी वेबसाइट जो एक नई विंडो में खुलती है, के लिए डब्ल्यू3सी Web Accessibility Initiative (WAI) और Web Content
      Accessibility Guidelines (WCAG) और Web Accessibility Initiative (WAI) . के दिशा-निर्देशों के एए मानकों के अनुरूप
      डिजाइन किया है। यदि आपकों हमारी वेबसाइट का उपयोग करने में कोई भी समस्या है, तो कृपया हमसे get in touch, हम आपकी
      जरूरतों को पूरा करने की पूरी कोशिश करेंगे।
    </p>
    <p>
      <strong>
        ब्राउज़र सेटिंग के साथ पाठ आकार का समायोजन
      </strong>
    </p>
    <p>
      पाठ का फ़ॉन्ट आकार बढ़ाना और घटाना प्रत्येक ब्राउज़र व ऑपरेटिंग सिस्टम के लिए अलग-अलग होता है। नीचे दी गई तालिका
      में लोकप्रिय ब्राउज़रों और ऑपरेटिंग सिस्टम पर फ़ॉन्ट के आकार को बढ़ाने व कम करने के निर्देश दिए गए हैं।
    </p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Operating System </th>
        <th>Browser</th>
        <th>Instructions</th>
      </thead>
      <tbody>
        <tr>
          <td>Windows</td>
          <td>Internet Explorer 6+ </td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Mozilla Firefox 1+ </td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Opera 7+ </td>
          <td>View > Zoom
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Safari</td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Internet Explorer 5+ </td>
          <td>View > Text Zoom
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Mozilla</td>
          <td>View > Text Size
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <strong>अन्य अभिगम्यता सुविधाएँ </strong>
    </p>
    <p>कृषि विभाग, उत्तर प्रदेश की वेबसाइट को आसानी से सुलभ बनाने के लिए शामिल सुविधाएं निम्न प्रकार हैं:
    </p>
    <ul>
      <li>
        <p><strong>मुख्य सामग्री पर जाएं:</strong>बार-बार बिना कीबोर्ड का उपयोग किए हुए बिना नेविगेशन के लिए पेज पर मूल
          सामग्री के
          लिए त्वरित पहुँच प्रदान की गयी है।
        </p>
      </li>
      <li>
        <p><strong>नेवीगेशन पर जाएं:</strong>बार-बार बिना कीबोर्ड का उपयोग किए हुए बिना पेज पर मुख्य नेविगेशन पर त्वरित
          पहुँच प्रदान किया गया है।</p>
      </li>
      <li>
        <p><strong>वर्णनात्मक लिंक पाठ:</strong>'अधिक पढ़ें' और कड़ी पाठ के रूप में 'यहां क्लिक करें' जैसे शब्दों का
          प्रयोग करने के बजाय वर्णनात्मक वाक्यांशों का उपयोग करते हुए लिंक का संक्षिप्त विवरण दिया गया है। इसके अलावा,
          यदि, कोई लिंक एक वेबसाइट एक नई विंडो में खोलती है तो विवरण में उसे निर्दिष्ट किया गया है।</p>
      </li>
      <li>
        <p><strong>फ़ाइल प्रकार और फ़ाइल आकार की पहचान: </strong>उपयोगकर्ताओं को इनकी पहचान में मदद के लिए फ़ाइल आकार के
          साथ वैकल्पिक फ़ाइल प्रकारों जैसे पीडीएफ, वर्ड, एक्सेल की जानकारी लिंक पाठ के भीतर प्रदान की गई है। इसके अलावा,
          विभिन्न फ़ाइल प्रकारों के लिए लिंक के साथ ऑइकन प्रदान किए गए हैं। यह उपयोगकर्ताओं के लिए लिंक का उपयोग करने का
          निर्णय करने में सहायक है। उदाहरण के लिए, यदि एक लिंक एक पीडीएफ फाइल खोलता है, तो लिंक पाठ उसका फ़ाइल आकार और
          फ़ाइल प्रकार निर्दिष्ट करता है।</p>
      </li>
      <li>
        <p><strong>तालिका शीर्षक:</strong>तालिका शीर्षक प्रत्येक पंक्ति में अपनी संगत सेल के लिए चिह्नित है और जुड़े हुए
          हैं। यह स्क्रीन रीडर को उपयोगकर्ता के लिए किसी भी सेल के स्तंभ और पंक्ति के शीर्ष लेख को पढ़ने में सक्षम बनाता
          है।</p>
      </li>
      <li>
        <p><strong>शीर्षक:</strong>एक पठनीय संरचना प्रदान करने के लिए वेब पेज की सामग्री उचित शीर्षकों और उपशीर्षकों का
          उपयोग कर आयोजित किया गया है। एच 2, मुख्य शीर्षक इंगित करता है जबकि H3 उपशीर्षक इंगित करता है।</p>
      </li>
      <li>
        <p><strong>शीर्षक:</strong>प्रत्येक वेब पेज के लिए एक उपयुक्त नाम निर्दिष्ट किया गया है जिससे पेज की सामग्री को
          आसानी समझने में आपकी मदद करता है।</p>
      </li>
      <li>
        <p><strong>वैकल्पिक पाठ:</strong>दृश्य विकलांगता से ग्रसित उपयोगकर्ताओं के लिए प्रत्येक चित्र का एक संक्षिप्त
          विवरण प्रदान किया गया है। यदि आप केवल पाठ का समर्थन करने वाले एक ब्राउज़र का उपयोग कर रहे हैं, या चित्र
          प्रदर्शन बंद कर दिया है फिर भी आप चित्र के अभाव में वैकल्पिक पाठ पढ़ने के द्वारा चित्र के बारे में जानकारी
          प्राप्त कर सकते हैं। इसके अलावा, कुछ ब्राउज़र उपयोगकर्ता द्वारा चित्र पर माउस सूचक ले जाने पर एक टूल टिप के
          रूप में वैकल्पिक पाठ प्रदर्शित करते हैं।</p>
      </li>
      <li>
        <p><strong>विशिष्ट फार्म लेबल एसोसिएशन:</strong>प्रत्येक लेबल पाठ बॉक्स, चेक बॉक्स, रेडियो बटन, और ड्रॉप-डाउन
          सूची के रूप में, अपने-अपने नियंत्रण से जुड़ा हुआ है। यह सहायक उपकरणों को एक फार्म पर नियंत्रण लेबल की पहचान
          में सक्षम बनाता है।</p>
      </li>
      <li>
        <p><strong>फार्म निर्देश और त्रुटियां:</strong>फार्म के लिए निर्देश पाठ और त्रुटि संदेश को गतिशील रूप से
          प्रदर्शित होते हैं अर्थात् उपयोगकर्ता द्वारा फार्म नेविगेट करने और भरने के दौरान। स्क्रीन रीडर उपयोगकर्ताओं
          सहित उपयोगकर्ताओं को यह जानकारी उपलब्ध कराने के लिए, एरिया तकनीक का इस्तेमाल किया गया है। यह सुनिश्चित करने के
          लिए कि उपयोगकर्ता इस महत्वपूर्ण फार्म जानकारी का उपयोग करने में सक्षम बनाने के लिए इसके लिए सहायता भी प्रदान
          की गई है।</p>
      </li>
      <li>
        <p><strong>सतत नेविगेशन तंत्र:</strong>नेविगेशन के लिए सतत साधन और प्रस्तुति शैली के अनुरूप साधन पूरी वेबसाइट
          में शामिल किए गए हैं।</p>
      </li>
      <li>
        <p><strong>कुंजीपटल समर्थन:</strong>वेबसाइट को टैब और शिफ्ट + टैब कुंजी दबाने के द्वारा एक कीबोर्ड का उपयोग करते
          हुए ब्राउज किया जा सकता है।</p>
      </li>
      <li>
        <p><strong>अनुकूलित पाठ का आकार:</strong>वेब पृष्ठों पर पाठ का आकार ब्राउज़र के माध्यम से या अभिगम्यता विकल्प
          पृष्ठ के माध्यम से या प्रत्येक पृष्ठ के शीर्ष पर मौजूद पाठ आकार पर माउस क्लिक करके, बदला जा सकता है।</p>
      </li>
    </ul>
  </div>
</div>
