<div class="card mt-3">
  <div class="card-body">
    <p>
      <i>{{'accessibilityTitle' | translate}} </i>
    </p>
    <p>

    </p>
    <p>
      {{'accessibilityP1' | translate}}
    </p>
    <p>
      {{'accessibilityP2' | translate}}

    </p>
    <p>
      {{'accessibilityP3' | translate}}

    </p>
    <p>
      {{'accessibilityP4' | translate}}

    </p>
    <p>
      {{'accessibilityP5' | translate}}
    </p>
    <p>
      {{'accessibilityP6' | translate}}
    </p>
    <p>
      {{'accessibilityP7' | translate}}
      Web Accessibility Initiative (WAI) और Web Content Accessibility Guidelines (WCAG) और Web Accessibility Initiative (WAI) 
      {{'accessibilityP8' | translate}}
    </p>
    <p>
      <strong>
        {{'accessibilityP9' | translate}}
      </strong>
    </p>
    <p>
      {{'accessibilityP10' | translate}}

    </p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Operating System </th>
        <th>Browser</th>
        <th>Instructions</th>
      </thead>
      <tbody>
        <tr>
          <td>Windows</td>
          <td>Internet Explorer 6+ </td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Mozilla Firefox 1+ </td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Windows</td>
          <td>Opera 7+ </td>
          <td>View > Zoom
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Safari</td>
          <td>View > Text Size
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Internet Explorer 5+ </td>
          <td>View > Text Zoom
          </td>
        </tr>
        <tr>
          <td>Mac OS X</td>
          <td>Mozilla</td>
          <td>View > Text Size
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      <strong> {{'accessibilityP11' | translate}}
      </strong>
    </p>
    <p> {{'accessibilityP12' | translate}}

    </p>
    <ul>
      <li>
        <p><strong> {{'accessibilityP13' | translate}}
          </strong> {{'accessibilityP14' | translate}}

        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP15' | translate}}
          </strong> {{'accessibilityP16' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP17' | translate}}
          </strong> {{'accessibilityP18' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP19' | translate}}
          </strong> {{'accessibilityP20' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP21' | translate}}
          </strong> {{'accessibilityP22' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP23' | translate}}
          </strong> {{'accessibilityP24' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP123' | translate}}
          </strong> {{'accessibilityP25' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP127' | translate}}
          </strong> {{'accessibilityP26' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP27' | translate}}
          </strong> {{'accessibilityP28' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP29' | translate}}
          </strong> {{'accessibilityP30' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP31' | translate}}
          </strong> {{'accessibilityP32' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP33' | translate}}
          </strong> {{'accessibilityP34' | translate}}
        </p>
      </li>
      <li>
        <p><strong> {{'accessibilityP35' | translate}}
          </strong> {{'accessibilityP36' | translate}}
        </p>
      </li>
    </ul>
  </div>
</div>
