<div class="header pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Seeds' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="seedForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Crop Name' | translate}}<span class="required">*</span></label>
                    <select class="form-control" formControlName="crop_id" (change)="selectCrops($event.target.value)">
                      <option value="">{{'Select Crop' | translate}}</option>
                      <option *ngFor="let cc of croplist" [value]="cc.cropId">{{cc.cropName}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.crop_id.errors" class="text-danger">
                      <div *ngIf="formControls.crop_id.errors.required">{{'Crop Name is required'| translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Crop variety' | translate}}<span class="required">*</span></label>
                    <select class="form-control" formControlName="variety_id">
                      <option *ngFor="let vv of varietylist" [value]="vv.verietyId">{{vv.verietyName}}</option>
                    </select>
                    <div *ngIf="submitted && formControls.variety_id.errors" class="text-danger">
                      <div *ngIf="formControls.variety_id.errors.required">{{'Variety Name is required'| translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Picture of Seeds' | translate}}</label>
                    <input type="file" id="input-first-name" formControlName="file"
                      (change)="upload($event.target.files)" class="form-control form-control-alternative">
                      <span *ngIf="isEdit"><a href="{{filePathToEdit}}" target="_blank">{{fileToEdit}}</a></span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Quantity' | translate}}<span class="required">*</span></label>
                    <input type="text" id="input-first-name" class="form-control" formControlName="quantity" required>
                    <div *ngIf="submitted && formControls.quantity.errors" class="text-danger">
                      <div *ngIf="formControls.quantity.errors.required">{{'Seed Quantity is required'| translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'company / Brand' | translate}}</label>
                    <input type="text" id="input-first-name" class="form-control" formControlName="company">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Seed Certification Number' | translate}}</label>
                    <input type="text" id="input-first-name" class="form-control" formControlName="certification_no">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Certificate-valid From' | translate}}</label>
                    <input [max]="getToday()" type="date" id="input-first-name" class="form-control" formControlName="valid_from">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{'Certificate-valid to' | translate}}</label>
                    <input [min]="getToday()" type="date" id="input-first-name" class="form-control" formControlName="valid_to">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer py-4 text-center">
          <button *ngIf="!isEdit" type="submit" class="btn btn-yellow" (click)="addseeds()">{{'Save' |
            translate}}</button>
          <button *ngIf="isEdit" class="btn btn-yellow text-right" (click)="updatseed()">
            {{'Update' | translate}}</button>
          <button class="btn btn-warning" (click)="resetForm()">{{'Reset' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">
                {{'Seeds Details' | translate}}
              </h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'S.No' | translate}}</th>
                <th scope="col"> {{'Crop' | translate}}</th>
                <th scope="col">{{'Variety' | translate}}</th>
                <th scope="col">{{'Quantity' | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sdata of seeds | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                <td>
                  {{(p-1) * 10 + i + 1}}
                </td>
                <td>
                  {{sdata.crop_name}}
                </td>
                <td>
                  {{sdata.crop_veriety}}
                </td>
                <td>
                  {{sdata.quantity}} (Qt.)
                </td>
                <td class="text-center">
                  <div ngbDropdown placement="bottom-center">
                      <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      {{'Actions' | translate}}
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-center dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="editseed(sdata)">{{'Edit' |
                          translate}}</a>
                      <a class="dropdown-item" (click)="confirmDelete(sdata.id)">{{'Delete' |
                          translate}}</a>
                      </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>