<div class="title">
  <ol class="breadcrumb mb-0">
    <li><a routerLink="/home">{{'Home' | translate}}</a></li>   
    <li><a> / {{'Login' | translate}}</a></li>

  </ol>
  </div>
  <div class="header bg-gradient-yellow py-3 py-lg-3">

    <div class="container">
      <div class="header-body text-center mb-3">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">{{'Welcome to FPO Shakti!' | translate}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt-2 pb-2">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center mb-4">
                <h1>{{'Login' | translate}}</h1>
              </div>
              <form role="form" [formGroup]="loginForm" (ngSubmit)="userLogin()">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input formControlName="username" class="form-control" placeholder="{{'username' | translate}}" type="text">
                  </div>
                  <div *ngIf="submitted && formControls.username.errors" class="text-danger">
                    <div *ngIf="formControls.username.errors.required">{{'username is required' | translate}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input formControlName="password" class="form-control" placeholder="{{'password' | translate}}" type="password">
                  </div>
                  <div *ngIf="submitted && formControls.password.errors" class="text-danger">
                    <div *ngIf="formControls.password.errors.required">{{'Password is required' | translate}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-6">
                    <div class="recaptcha2">
                      <ngx-recaptcha2 #captchaElem
                                      [siteKey]="'6Lev4jUaAAAAAFdB-YYoLKJucgHZzCC9Bd6ACzEs'"
                                      (success)="handleSuccess($event)"
                                      [useGlobalDomain]="false"
                                      formControlName="recaptcha">
                      </ngx-recaptcha2>
                    </div>
                    <div *ngIf="submitted && formControls.recaptcha.errors" class="text-danger">
                      <div *ngIf="formControls.recaptcha.errors.required">{{'recaptcha is required' | translate}}</div>
                    </div>
                  </div>

                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-login btn-yellow btn-primary my-4">{{'Login' | translate}}</button>
                </div>
              </form>
              <div class="row">
                <div class="col-6">
                  <a routerLink="/forgot-password" class=""><small>{{'Forgot password' | translate}}?</small></a>
                </div>
                <div class="col-6 text-right">
                  <a routerLink="/register/1" class=""><small>{{'Create new account' | translate}}</small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
