<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">
  
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Farm Machinery Bank' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="machinaryBankForm">
            <div class="pl-lg-4">
              <div class="row">
                <input type="hidden" formControlName="id">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">{{'Name of Equipment' | translate}}<span class="required">*</span></label>
                    <select formControlName="equpment_name" class="form-control form-control-alternative">
                      <option value="">Select Equipment</option>
                      <option value="{{equip.equpmentname}}" *ngFor="let equip of equipmentList">{{equip.equpmentname}}</option>
                    </select>    
                    <div *ngIf="submitted && formControls.equpment_name.errors" class="text-danger">
                      <div *ngIf="formControls.equpment_name.errors.required">{{'Name of Equipment is required' | translate}}</div>
                    </div>                
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">{{'No. of Equipment' | translate}}<span class="required">*</span></label>
                    <input formControlName="equpment_no" type="text" id="input-first-name" class="form-control form-control-alternative">
                    <div *ngIf="submitted && formControls.equpment_no.errors" class="text-danger">
                      <div *ngIf="formControls.equpment_no.errors.required">{{'No. of Equipment is required' | translate}}</div>
                      <div *ngIf="formControls.equpment_no.errors.min">{{'No. of Equipment should be grater than or equal to 1' | translate}}</div>
                    </div>  
                  </div>
                </div>
              </div>
              <div class="card-footer py-4 text-center">
                <button *ngIf="!edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="addMachinaryBank()">
                  {{'Save' | translate}}
                </button>
                <button *ngIf="edit" type="button" class="btn btn-yellow btn-primary my-4" (click)="updateMachinaryBank()">
                  {{'Save' | translate}}
                </button>
                <button class="btn btn-warning text-right" (click)="resetForm()">{{'Reset' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{"Farm Machinery Bank" | translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{"Name of Equipment" | translate}}</th>
                <th scope="col">{{"No. of Equipment" | translate}}</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let equipment of equipments | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                 {{equipment.equpment_name}}
                 </td>
                <td>
                  {{equipment.equpment_no}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary"  ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="editMachinaryBank(equipment)">Edit</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="confirmDelete(equipment.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
