<!-- Full Page Image Header with Vertically Centered Content -->
<div class="title">
  <ol class="breadcrumb  mb-0">
    <li><a class="mx-1 text-upfpo px-1" routerLink="">{{'Home' | translate}}</a> /</li>
    <li><a class="mx-1 text-upfpo px-1" role="button"> {{'Search' | translate}} </a></li>

  </ol>
</div>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 pt-5 align-items-center">
      <div class="col-12 mt-5 text-center">
        <form class="mt-5 pb-5">

          <div class="d-flex mx-5 mt-5 align-items-end justify-content-center">
            <input type="text" class="form-control d-inline search-text" name="topsearch" [(ngModel)]="dummysearchval"
              id="exampleFormControlInput1" placeholder="{{'searchplaceholder' |translate}}">
            <div class="dropdown d-inline searchDropDown">
              <select class="btn d-inline btn-default search-btn dropdown-toggle" id="searchin" name="Searchin"
                [(ngModel)]="parsearchType" style="width:100%">
                <option value="any">{{'Any' | translate }}</option>
                <option value="crop">{{'Crop' | translate }}</option>
                <option value="district">{{'District1' | translate }}</option>
                <option value="fpo_name">{{'FPO' | translate }}</option>
                <option value="services">{{'Services/ Products' | translate }}</option>
              </select>
            </div>
            <button class="btn d-inline btn-block btn-product-search active search-btn" role="button"
              aria-pressed="true" (click)="newSearchWithFilters()" [disabled]="dummysearchval.length==0">{{'Search' |
              translate }}</button>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="form-group">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>


<!-- Page Content -->
<section class="py-5 containerMain">
  <div class="container">
    <div class="d-flex p-2 ">
      <button class="btn btn-sm btn-primary btn-product-search" (click)="sampleNavigate()">{{'Back' | translate
        }}</button>
    </div>
    <div class="d-flex">
      <span class="d-inline-block my-2 mx-1">{{'filters' | translate }}</span>
      <span *ngIf="selectedfilters.length==0" class="d-inline-block my-2 mx-1">{{'nofiltersselected' | translate
        }}</span>
      <div *ngIf="selectedfilters.length!=0" class="d-inline-block overflow-pills-container">
        <div *ngFor="let chipitem of selectedfilters" class="d-inline-block mx-1 my-2 upfpo-pills">{{chipitem.name}}
          ({{chipitem.type}})</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <article class="card-group-item my-2">
            <header class="">
              <h3 class="title">{{'District1' | translate }}</h3>
            </header>
            <div class="filter-content">
              <div class="filterDistrict">
                <form>
                  <label class="form-check" *ngFor="let district of districts">
                    <input class="form-check-input" type="checkbox" [value]="district.district_name"
                      [name]="district.district_name" [(ngModel)]="district.is_active"
                      (change)="selectDistrct(district)">
                    <span class="form-check-label">
                      {{district.district_name}}
                    </span>
                  </label> <!-- form-check.// -->
                  <!--<label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'PRAYAGRAJ' | translate }}
                  </span>
                </label>-->
                  <!-- form-check.//-->
                  <!--<label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'DODA' | translate }}
                  </span>
                </label>-->
                  <!-- form-check.// -->
                </form>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- card-group-item.// -->
          <article class="card-group-item my-2">
            <header class="">
              <h3 class="title">{{'Quantity' | translate }}</h3>
            </header>
            <div class="filter-content">
              <div class="">
                <form>
                  <label class="form-check" *ngFor="let q of quantities">
                    <input class="form-check-input" type="checkbox" [value]="q.name" [name]="q.name"
                      [(ngModel)]="q.selected" (change)="selectQuantity(q)">
                    <span class="form-check-label">
                      {{q.minname | translate}}
                    </span>
                  </label> <!-- form-check.// -->
                  <!--<label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                  300
                  </span>
                </label>-->
                  <!-- form-check.// -->
                  <!--<label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                     500
                  </span>
                </label>-->
                  <!-- form-check.// -->
                </form>

              </div> <!-- card-body.// -->
            </div>
          </article>
          <article class="card-group-item my-2">
            <header class="">
              <h3 class="title">{{'cropandverieties' | translate }} </h3>
            </header>
            <ngx-loading [show]="!items" [config]="{backdropBackgroundColour: '#ffffff', 
          backdropBorderRadius: '1px',
          primaryColour: '#926E01', 
          secondaryColour: '#926E01', 
          tertiaryColour: '#926E01'}" [template]="customLoadingTemplate"></ngx-loading>
            <ngx-treeview *ngIf="items" [items]="items" [config]="config" (selectedChange)="onSelectedChange($event)"
              (filterChange)="onFilterChange($event)">
            </ngx-treeview>
          </article>
          <!-- <article class="card-group-item">
          <header class="card-header">
            <h3 class="title">{{'Crop' | translate }}</h3>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'Anthurium' | translate }}
                  </span>
                </label>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                   {{'Bhut Jalakia' | translate }}
                  </span>
                </label>   form-check.
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                     {{'Cabbage' | translate }}
                  </span>
                </label>   form-check.//
              </form>

            </div>  card-body.//
          </div>
        </article>  card-group-item.// -->
          <!-- <article class="card-group-item">
          <header class="card-header">
            <h3 class="title">{{'Variety' | translate }}</h3>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'Midori ? GreenVariety' | translate }}
                  </span> -->
          <!-- </label> form-check.//
        <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Agnihotri' | translate }}
          </span> -->
          <!-- </label>   -->
          <!-- form-check.// -->
          <!-- <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Lambada (white obake)' | translate }}
          </span>
        </label>   -->
          <!-- form-check.// -->
          <!-- </form> -->
          <!-- </div>  -->
          <!-- card-body.// -->
          <!-- </div>
        </article>  -->
          <!-- card-group-item.// -->
          <!-- <article class="card-group-item">
          <header class="card-header">
            <h3 class="title">{{'FPO' | translate }}</h3>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'Mehroni Jaiv Urja Producer Company Limited' | translate }}
                  </span> -->
          <!-- </label> -->
          <!-- form-check.// -->
          <!-- <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Safal Kisaan Producer Company Limited' | translate }}
           </span> -->
          <!-- </label>  -->
          <!-- form-check.// -->
          <!-- <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Shri Annagerbha Bio-Energy Farmer Producer Company Limited' | translate }}
          </span>
        </label>   -->
          <!-- form-check.// -->
          <!-- </form> -->
          <!-- </div>  -->
          <!-- card-body.// -->
          <!-- </div>
        </article> -->
          <!-- <article class="card-group-item">
          <header class="card-header">
            <h3 class="title">{{'Services/ Products' | translate }} </h3>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    {{'Vermicompost' | translate }}
                  </span>
                </label>  -->
          <!-- form-check.// -->
          <!-- <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Seed Processing Unit' | translate }}
          </span> -->
          <!-- </label>   -->
          <!-- <label class="form-check">
          <input class="form-check-input" type="checkbox" value="">
          <span class="form-check-label">
            {{'Seed Distribution Agency' | translate }}
          </span>
        </label>   -->
          <!-- </form> -->
          <!-- </div>  -->
          <!-- card-body.// -->
          <!-- </div>
        </article>  -->
          <!-- card-group-item.// -->



        </div> <!-- card.// -->
      </div>
      <div class="col-md-9">
        <div class="row">
          <ng-template #customLoadingTemplate>
            <!-- <div class="custom-class">
                  <h3>
                      
                  </h3>

              </div> -->
          </ng-template>

          <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: '#ffffff', 
          backdropBorderRadius: '1px',
          primaryColour: '#926E01', 
          secondaryColour: '#926E01', 
          tertiaryColour: '#926E01'}" [template]="customLoadingTemplate"></ngx-loading>

        </div>

        <div class="row">

          <div class="col-md-6" *ngFor="let product of serachProduct | paginate: { itemsPerPage: 10, currentPage: p }">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="row" routerLink="/fpo-details/{{product.id}}" style="cursor: pointer;">

                  <div class="col-md-4 mb-2">
                    <!-- <img src="../../../assets/img/onion.jpeg" class="card-img" alt="..."> -->
                    <img src="../../../assets/icons/cropplaceholder.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8 mb-2">
                    <a>
                      <div class="card-body">
                        <!-- <h4 class="card-title">FPO</h4> -->
                        <p class="card-text"><a routerLink="/fpo-details/{{product.id}}">{{product.nodal}}</a></p>
                      </div>
                    </a>

                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="card-body p-0">
                      <!-- <h4 class="card-title">Crop</h4> -->
                      <p class="card-text" *ngIf="product.crops">{{product.crops}}</p>
                      <p class="card-text" *ngIf="!product.crops">NA</p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="card-bod p-0">
                      <!-- <h4 class="card-title">Crop Variety</h4> -->
                      <p class="card-text" *ngIf="product.cropVeriety">{{product.cropVeriety}}</p>
                      <p class="card-text" *ngIf="!product.cropVeriety">NA</p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="card-body p-0">
                      <!-- <h4 class="card-title">District</h4> -->
                      <p class="card-text" *ngIf="product.district">{{product.district}}</p>
                      <p class="card-text" *ngIf="!product.district">NA</p>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <div class="card-body p-0">
                      <!-- <h4 class="card-title">Marketable Surplus</h4> -->
                      <p class="card-text" *ngIf="product.marketableSurplus">{{product.marketableSurplus}} {{'quintal' | translate }}</p>
                      <p class="card-text" *ngIf="!product.marketableSurplus">NA</p>
                    </div>
                  </div>
                </div>
                <div class="row w-100">
                  <div class="col-md-8">
                    <!-- <h4 class="mt-1">Actually Produced Quantity</h4> -->
                    <!-- <p class="card-text" *ngIf="product.actualProduction">{{product.actualProduction}}</p>
                  <p class="card-text" *ngIf="!product.actualProduction">NA</p> -->
                    <button href="javascript:void(0)" (click)="open($event,mymodal,product)"
                      class="btn btn-sm btn-primary btn-product-search">{{'createindent' | translate }}</button>
                  </div>

                  <div class="col-md-4 text-right">
                    <button href="javascript:void(0)" (click)="open(mymodal)"
                      class="btn btn-sm btn-primary btn-product-search" [disabled]="true">{{'viewdetails' | translate
                      }}</button>
                  </div>
                </div>
              </div>
            </div>


            <!--<div class="col-md-12"><h3>Horizontal Products:</h3></div>
          <div class="col-md-12 horizontal-product">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-3 mb-2">
                  <img src="../../../assets/img/onion.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-5 mb-2">
                  <div class="card-body">
                    <h4 class="card-title">FPO Name</h4>
                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 horizontal-product">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-3 mb-2">
                  <img src="../../../assets/img/onion2.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-5 mb-2">
                  <div class="card-body">
                    <h4 class="card-title">FPO Name</h4>
                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 horizontal-product">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-3 mb-2">
                  <img src="../../../assets/img/onion3.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-5 mb-2">
                  <div class="card-body">
                    <h4 class="card-title">FPO Name</h4>
                    <p class="card-text">Pune, Maharashtra, India - 4220299</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <h4 class="mt-1">Quantity: 450 Kg</h4>
                  <a href="javascript:void(0)" (click)="open(mymodal)" class="btn btn-sm btn-primary btn-product-search">Send Enquiry</a>
                </div>
              </div>
            </div>
          </div>-->
          </div>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls *ngIf="serachProduct&&serachProduct.length>0" (pageChange)="p = $event">
            </pagination-controls>
          </nav>
          <div *ngIf="serachProduct?.length==0" class=" p-5 d-flex justify-content-center align-items-center">
            <img class="fatalimg" src="../../../assets/image/img/sad.jpg" />
          </div>
          <div *ngIf="serachProduct?.length==0" class="d-flex justify-content-center yellotext">{{ 'noitemsfound' |
            translate }}</div>

        </div>
      </div>
    </div>

    <ng-template #mymodal let-modal>
      
      <div *ngIf="isLoggeIn">
        <div class="modal-header">
          <h3 class="modal-title text-center">{{'Indent Form'|  translate}}</h3>
          <button type="button" class="close" aria-label="Close" [disabled]="indentloading" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body mt-1 pt-1" *ngIf="!indentForm || indentloading">
         <div class="loader-container">
          <ngx-loading [show]="!indentForm || indentloading" [config]="{backdropBackgroundColour: '#ffffff', 
          backdropBorderRadius: '1px',
          primaryColour: '#926E01', 
          secondaryColour: '#926E01', 
          tertiaryColour: '#926E01'}" [template]="customLoadingTemplate"></ngx-loading>  
        </div>
          
        </div>
        <div class="modal-body mt-1 pt-1" *ngIf="indentForm && !indentloading && indentcreated">
          <div class="d-flex w-100 align-items-center justify-content-center">  <img class="suc-img" src="../../../assets/image/img/successsubmit.png"></div>
          <div class="d-flex w-100 align-items-center justify-content-center mt-2 text-sm"> <strong>{{ 'indentsucessmessage' | translate:{id:indentid} }}</strong> </div>
          <div class="d-flex w-100 align-items-center justify-content-center mt-5 text-sm"><button (click)="closeModal()" class="btn btn-sm mt-5 btn-product-search" >{{'ok' | translate }}</button></div>
        </div>

        <div class="modal-body mt-1 pt-1" *ngIf="indentForm && !indentloading && !indentcreated">
          <form role="form mt-1 p-1" [formGroup]="indentForm">
            <div class="row">
            <div class="col-5 text-sm text-bold">{{'FPO Name'| translate}}:</div>
            <div class="col-7 text-sm">{{fpoDetail.fpoName}}</div>
            </div>
            <div class="row">
              <div class="col-5 text-sm text-bold">{{'FPO Email1'|translate}}:</div>
              <div class="col-7 text-sm ">{{fpoDetail.fpoEmail}}</div>
              </div>
            <div class="form-group mb-3">
              
               
              <!-- <label class="form-control-label" for="input-username">{{'FPO Name'| translate}}<span class="required">*</span></label>
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="Full Name" disabled type="text" formControlName="fpoName">
              </div> -->
             
             
            </div>
            <div class="form-group mb-3">
               
              <!-- <label class="form-control-label" for="input-username">{{'FPO Email1'|translate}}<span class="required">*</span></label>
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="Email" disabled type="text"  formControlName="fpoEmail">
              </div> -->
            
            </div>
            <div class="form-group mb-3">
              <label class="form-control-label" for="input-username">{{'Fulfilled Date' | translate }}<span class="required">*</span></label>
              <div class="input-group input-group-alternative">
                <input type="text"
                       placeholder="{{'Date'|translate}}"
                       class="form-control"
                       [minDate]="getToday()"
                       bsDatepicker
                       [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }" formControlName="fulfillmentDate">
              </div>
              <div *ngIf="submitted && formControls.fulfillmentDate.errors" class="text-danger mt-1 text-xsm">
                <div *ngIf="formControls.fulfillmentDate.errors.required">{{'date is required'| translate}}</div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-control-label" for="input-username">{{'Quantity Required'|translate}}<span
                  class="required">*</span></label>
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="{{'Quantity'|translate}}" type="text" formControlName="quantity">
              </div>
              <div *ngIf="!submitted && formControls.quantity.touched && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
                
                <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
              </div>
              <div *ngIf="submitted && formControls.quantity.errors" class="text-danger mt-1 text-xsm">
                <div *ngIf="formControls.quantity.errors.required">{{'quantity is required'|translate}}</div>
                <div *ngIf="formControls.quantity.errors.required">{{'quantityinnumberisrequired'|translate}}</div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="form-control-label" for="input-delivery">{{'fpodeliveryaddr'|translate}}</label>
              <div class="input-group input-group-alternative">
                <textarea class="form-control" id="input-delivery" placeholder="{{'enterfpodeliveryaddr'|translate}}"
                  formControlName="fpoDeliveryAddress"></textarea>
              </div>
              <div *ngIf="submitted && formControls.fpoDeliveryAddress.errors" class="text-danger mt-1 text-xsm">
                <div *ngIf="formControls.fpoDeliveryAddress.errors.required">{{'deleiveryrequired'| translate}}</div>
              </div>
            </div>



            <div class="text-center">
              <button type="submit" [disabled] = "!indentForm.valid" class="btn btn-login btn-product-search btn-primary my-4"(click)="save()">{{'Send'|translate}}</button>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!isLoggeIn">
        <div class="modal-header">
          <h3 class="modal-title text-center">{{'Welcome to FPO Shakti!' | translate}}</h3>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <app-login-model-popup (logout)="logout()"></app-login-model-popup>
        </div>
      </div>

    </ng-template>
  </div>

</section>