.masthead {
    height: 300px;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/image/img/slider/1.jpg');
}
  .search-text{
      width: 80%;
      float: left;
      height: 50px;
  }
  .text-upfpo
  {
    color:#926E00 !important; 
  }
  .yellotext
  {
   color:#926E00;
   font-size: large; 
  }
  .fatalimg
  {
height:150px;
width :150px;
  }

  .btn.btn-default.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: #fff;
  }
  .dropdown-toggle::after {
    display:none;
}
  .search-btn{
      width: 20%;
      float: left;
      height: 50px;
  }
.card{
    padding:15px;
}
.card-title {
    margin-bottom: 0.25rem;
}
.card-body{
    padding: 0.7rem;
}
.horizontal-product img{
    height: 120px;
    object-fit: cover;
}
.filter-box{
    display: inline-block;
    padding: 5px 10px;
}
.filter-text{
    background: #fff;
    padding: 3px 10px;
    border: 1px solid #dedada;
}
.filter-remove{
    padding: 3px 10px;
    background: #ca3d3d;
    color: #fff;
}
a {
 color: #32325d;
}
.upfpo-pills
{
    border-radius: 15px;
    font-size: 11px;
    width: fit-content;
    height: min-content;
    padding: 3px 5px;
    background: #c59608e3;
    color: rgba(255, 255, 255, 0.815);
}
.overflow-pills-container
{
    padding-left: 5px;
    padding-right: 5px;
    overflow-x:auto;
    white-space: nowrap;
}
.unwrap
{
    white-space: nowrap;
}
.overflow-pills-container::-webkit-scrollbar {
    display: none;
  }

.containerMain {
  background-color: #f8f9fe;
}
.filterDistrict {
  max-height: 100px; 
  overflow-y: scroll;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
