<div class="header pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Schemes' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="schemeForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Schemes Type' |
                      translate}} <span class="required">*</span></label>
                    <select formControlName="title" class="custom-control custom-select mb-1">
                      <option value="null" disabled>
                        {{'Select Schemes Type' | translate}}</option>
                      <option [value]="'Seeds'"> {{'Seeds' | translate}}</option>
                      <option [value]="'Fertilizer'"> {{'Fertilizer' | translate}}</option>
                      <option [value]="'Agri Equipment'"> {{'Agri Equipment' | translate}}
                      </option>
                      <option [value]="'Agri Equipment Bank'"> {{'Agri Equipment Bank' |
                        translate}}
                      </option>
                      <option [value]="'Export'"> {{'Export' | translate}}</option>
                      <option [value]="'Organic Farming'"> {{'Organic Farming' | translate}}
                      </option>
                      <option [value]="'Special Crop'"> {{'Special Crop' | translate}}</option>
                      <option [value]="'Finance'"> {{'Finance' | translate}}</option>
                    </select>
                    <!-- <div *ngIf="typeValidation.invalid && (typeValidation.dirty || typeValidation.touched)"
                      class="text-danger">
                      <div>{{'Schemes type is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'Department name' | translate}} <span class="required">*</span>
                    </label>
                    <input type="text" id="input-first-name" placeholder="{{'Department name' | translate}}"
                      class="form-control form-control-alternative" formControlName="parent_department">
                    <!-- <div *ngIf="departValidation.invalid && (departValidation.dirty || departValidation.touched)"
                      class="text-danger">
                      <div>{{'Department name is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'Documents' | translate}}
                      <span class="required">*</span> :
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="docRadio" name="inlineRadio" id="inlineRadio1" value="url">
                        <label class="form-check-label" for="inlineRadio1">{{'URL' | translate}}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="docRadio" name="inlineRadio" id="inlineRadio2" value="file">
                        <label class="form-check-label" for="inlineRadio2">{{'File Upload' | translate}}</label>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="docRadio==='file'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'File' | translate}}
                      <span class="required">*</span> :
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" id="inlineRadio1" value="hindi_upload">
                        <label class="form-check-label" for="inlineRadio1">{{'Hindi Upload' | translate}}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" id="inlineRadio2" value="english_upload">
                        <label class="form-check-label" for="inlineRadio2">{{'English Upload' | translate}}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" id="inlineRadio2" value="both">
                        <label class="form-check-label" for="inlineRadio2">{{'Both' | translate}}</label>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="docRadio==='url'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'URL' | translate}} <span class="required">*</span>
                    </label>
                   <input type="text" id="input-first-name" placeholder="{{'www.google.com/' | translate}}"
                      class="form-control form-control-alternative" formControlName="url">
                    <!-- <div *ngIf="urlValidation.invalid && (urlValidation.dirty || urlValidation.touched)"
                      class="text-danger">
                      <div>{{'url name is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-lg-12"  *ngIf="fileRadio==='both' || fileRadio==='hindi_upload'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'Hindi Upload Document' | translate}} <span class="required">*</span>
                      <span class="text-xs ml-2 file-format-msg">({{'only xlsx, xls, pdf, doc, docx format with 15MB file size allowed' | translate}})</span>
                    </label>
                    <input #myInput type="file" id="input-first-name" class="form-control form-control-alternative"
                      formControlName="hindi_desc" (change)="uploadHindi($event.target.files)" />
                    <!-- <div *ngIf="docValidation.invalid && (docValidation.dirty || docValidation.touched)"
                      class="text-danger">
                      <div>{{'Upload document is required' | translate}}</div>
                    </div> -->
                    <div *ngIf="checkfileFormat" class="text-danger">
                      {{'only xls,xlsx,pdf,doc,docx format is allow'| translate}}</div>
                  </div>
                </div>


                <div class="col-lg-12" *ngIf="fileRadio==='both' || fileRadio==='english_upload'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'English Upload Document' | translate}} <span class="required">*</span>
                      <span class="text-xs ml-2 file-format-msg">({{'only xlsx, xls, pdf, doc, docx format with 15MB file size allowed' | translate}})</span>
                    </label>
                    <input #myInput type="file" id="input-first-name" class="form-control form-control-alternative"
                      formControlName="file" (change)="upload($event.target.files)" />
                    <!-- <div *ngIf="docValidation.invalid && (docValidation.dirty || docValidation.touched)"
                      class="text-danger">
                      <div>{{'Upload document is required' | translate}}</div>
                    </div> -->
                    <div *ngIf="checkfileFormat" class="text-danger">
                      {{'only xls,xlsx,pdf,doc,docx format is allow'| translate}}</div>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="isEdit">
                  <div class="form-group">
                    <span><a href="{{filePathToEdit}}" target="_blank">{{fileToEdit}}</a></span>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="fileRadio==='both' || fileRadio==='hindi_upload'">
                  <div class="form-group">
                    <div class="form-group mb-1">
                      <label class="form-control-label" for="">{{'Hindi Description' | translate}} <span
                          class="required">*</span></label>
                      <textarea class="form-control" formControlName="hindi_desc" id="exampleFormControlTextarea12"
                        rows="3"></textarea>
                    </div>
                    <div *ngIf="descValidation.invalid && (descValidation.dirty || descValidation.touched)"
                      class="text-danger">
                      <div>{{'Description is required'| translate}}</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="fileRadio==='both' || fileRadio==='english_upload'">
                  <div class="form-group">
                    <div class="form-group mb-1">
                      <label class="form-control-label" for="">{{'English Description' | translate}} <span
                          class="required">*</span></label>
                      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea12"
                        rows="3"></textarea>
                    </div>
                    <div *ngIf="descValidation.invalid && (descValidation.dirty || descValidation.touched)"
                      class="text-danger">
                      <div>{{'Description is required'| translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <button *ngIf="!isEdit" class="btn btn-primary text-right" (click)="addSchemes()">
                      {{'Add Schemes' | translate}}</button>
                    <button *ngIf="isEdit" class="btn btn-primary text-right" (click)="updateSchemes()">
                      {{'Update Schemes' | translate}}</button>
                    <button *ngIf="isEdit" class="btn btn-primary text-right"
                      (click)="isEdit=false;schemeForm.reset();">
                      {{'Cancel' | translate}}</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- Table -->
  <div class="row" *ngIf="!isEdit">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Schemes' | translate}}</h3>
            </div>
            <!-- <div class="col-3 text-right">
                <button class="btn btn-primary text-right">Add Member</button>
              </div> -->
          </div>
        </div>
        <div class="border border-dark">
          <div class="cust-head mx-3 p-3">
            <div class="mr-2">
              <input type="text" [id]="'search_'+tableId" [(ngModel)]="searchText" (input)="onInputSearch()"
                style="border-radius: 0;" name="search" placeholder="Search" autocomplete="off"
                class="form-control input-md" />
            </div>
            <div>
            </div>
          </div>
          <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{'SR. NO' | translate}}</th>
                <th scope="col" class="sort" (click)="onClickOrderBy('description')">{{'Description' | translate}}</th>
                <th scope="col" class="sort" (click)="onClickOrderBy('createDate')">{{'Date' | translate}}</th>
                <th scope="col" class="sort" (click)="onClickOrderBy('filePath')">{{'View Details' | translate}}</th>
                <th scope="col">{{'Actions' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let p of (schemeList | async)  | tableSearch:searchText  | sort:orderBy  | paginate: { itemsPerPage: 10, currentPage: currentPage }; index as i">
                <td>
                  {{(currentPage-1) * 10 + i + 1}}
                </td>
                <td>
                  {{p.description}}
                </td>
                <td *ngIf="!!p.uploadDate">
                  {{p.uploadDate | date: 'dd/MM/yyyy'}}
                </td>
                <td *ngIf="!!!p.uploadDate">
                  {{p.createDate | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                  <a target="_blank" href="{{p.filePath}}" download><img src="assets/image/img/pdficon.png"
                      style=" height:20px; width:30px"></a>

                </td>
                <td class="text-center">
                  <div ngbDropdown placement="bottom-center">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      {{'Actions' | translate}}
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-center dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="editSchemes(p)">{{'Edit' |
                        translate}}</a>
                      <a class="dropdown-item" (click)="deleteSchemes(p.id)">{{'Delete' |
                        translate}}</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </nav>
          </div>
          </div>
        </div>
        <!-- <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </nav>
        </div> -->
      </div>
    </div>
  </div>
</div>