<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">{{'Guideline' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="guidelineForm">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">{{'Guideline Type' |
                                            translate}} <span class="required">*</span></label>
                    <select formControlName="guideline_type" class="custom-control custom-select mb-1">
                      <option value="null" disabled>
                        {{'Select Guideline Type' | translate}}</option>
                      <option [value]="'PREREGISTRATION'">
                        {{'Pre-PFO Registration' | translate}}</option>
                      <option [value]="'POSTREGISTRATION'">
                        {{'Post-PFO Registration' | translate}}</option>
                    </select>
                    <div *ngIf="typeValidation.invalid && (typeValidation.dirty || typeValidation.touched)"
                      class="text-danger">
                      <div>{{'Guideline type is required' | translate}}</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'Documents' | translate}}
                      <span class="required">*</span> :
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="docRadio" name="inlineRadio" id="inlineRadio1" value="url">
                        <label class="form-check-label" for="inlineRadio1">URL</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="docRadio" name="inlineRadio" id="inlineRadio2" value="file">
                        <label class="form-check-label" for="inlineRadio2">File Upload</label>
                      </div>
                    </label>
                  </div>
                </div>


                <div class="col-lg-12" *ngIf="docRadio==='file'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'File' | translate}}
                      <span class="required">*</span> :
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" (change)="onLanguageChange('hi')" id="inlineRadio1" value="hindi_upload">
                        <label class="form-check-label" for="inlineRadio1">Hindi Upload</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" (change)="onLanguageChange('en')"  id="inlineRadio2" value="english_upload">
                        <label class="form-check-label" for="inlineRadio2">english Upload</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="fileRadio" name="inlineRadioOptions" (change)="onLanguageChange('both')" id="inlineRadio2" value="both">
                        <label class="form-check-label" for="inlineRadio2">Both</label>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="docRadio==='url'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'URL' | translate}}
                      <!-- <span class="required">*</span> -->
                    </label>
                    <input #myInput type="text" class="form-control form-control-alternative" formControlName="url"
                      placeholder="www.google.com/" />
                    <!-- <div *ngIf="docValidation.invalid && (docValidation.dirty || docValidation.touched)"
                      class="text-danger">
                      <div>{{'URL is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>
                <div class="col-lg-6" *ngIf="fileRadio==='both' || fileRadio==='hindi_upload'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'Hindi Upload Document' | translate}}
                      <!-- <span class="required">*</span> -->
                    </label>
                    <input type="file" id="input-first-name" class="form-control form-control-alternative"
                      formControlName="h_file" (change)="uploadHindi($event.target.files)" />
                    <!-- <div *ngIf="docValidation.invalid && (docValidation.dirty || docValidation.touched)"
                      class="text-danger">
                      <div>{{'Upload document is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-lg-6" *ngIf="fileRadio==='both' || fileRadio==='english_upload'">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">
                      {{'English Upload Document' | translate}}
                      <!-- <span class="required">*</span> -->
                    </label>
                    <input #myInput type="file" id="input-first-name" class="form-control form-control-alternative"
                      formControlName="file" (change)="upload($event.target.files)" />
                    <!-- <div *ngIf="docValidation.invalid && (docValidation.dirty || docValidation.touched)"
                      class="text-danger">
                      <div>{{'Upload document is required' | translate}}</div>
                    </div> -->
                  </div>
                </div>


                <div class="col-lg-12" *ngIf="fileRadio==='both' || fileRadio==='hindi_upload'">
                  <div class="form-group">
                    <div class="form-group mb-1">
                      <label class="form-control-label" for="">{{'Hindi Description' | translate}}
                        <!-- <span class="required">*</span> -->
                      </label>
                      <textarea class="form-control" formControlName="hindi_desc" rows="3"></textarea>
                    </div>
                    <!-- <div *ngIf="descValidation.invalid && (descValidation.dirty || descValidation.touched)"
                      class="text-danger">
                      <div>{{'Description is required'| translate}}</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="fileRadio==='both' || fileRadio==='english_upload'">
                  <div class="form-group">
                    <div class="form-group mb-1">
                      <label class="form-control-label" for="">{{'English Description' | translate}}
                        <!-- <span class="required">*</span> -->
                      </label>
                      <textarea class="form-control" formControlName="description" rows="3"></textarea>
                    </div>
                    <!-- <div *ngIf="descValidation.invalid && (descValidation.dirty || descValidation.touched)"
                      class="text-danger">
                      <div>{{'Description is required'| translate}}</div>
                    </div> -->
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <button *ngIf="!isEdit" class="btn btn-primary text-right" (click)="addGuideline()">
                      {{'Add Guideline' | translate}}</button>
                    <button *ngIf="isEdit" class="btn btn-primary text-right" (click)="updateGuideline()">
                      {{'Update Guideline' | translate}}</button>
                    <button *ngIf="isEdit" class="btn btn-primary text-right"
                      (click)="isEdit=false;guidelineForm.reset();">
                      {{'Cancel' | translate}}</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!-- Table -->
  <div class="row" *ngIf="!isEdit">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 cust-head">
          <div>
            <h3 class="mb-0">{{'Guidelines List' | translate}}</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="border border-dark">
            <div class="cust-head mx-3 p-3">
              <div class="mr-2">
                <input type="text" [id]="'search_'+tableId" [(ngModel)]="searchText" (input)="onInputSearch()"
                  style="border-radius: 0;" name="search" placeholder="Search" autocomplete="off"
                  class="form-control input-md" />
              </div>
              <div>
                <select class="custom-control custom-select" name="filterByType" [(ngModel)]="filterByType"
                  (change)="getGuidelineByType();p=1" style="border-radius: 0;">
                  <option value="null" disabled>
                    {{'Select Guideline Type' | translate}}</option>
                  <option value="">
                    {{'All' | translate}}</option>
                  <option [value]="'PREREGISTRATION'">
                    {{'Pre-PFO Registration' | translate}}</option>
                  <option [value]="'POSTREGISTRATION'">
                    {{'Post-PFO Registration' | translate}}</option>
                </select>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <thead class="">
                <tr>
                  <th scope="col">{{'Serial no.' | translate}}</th>
                  <th scope="col" class="sort" (click)="onClickOrderBy('description')">{{'Description' | translate}}
                  </th>
                  <th scope="col" class="sort" (click)="onClickOrderBy('uploadDate')">{{'Date' | translate}}</th>
                  <th scope="col">{{'View Details' | translate}}</th>
                  <th scope="col">{{'Actions' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let p of (guideLineList | async) | tableSearch:searchText  | sort:orderBy  | paginate: { itemsPerPage: 10, currentPage: currentPage };let i=index">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{p.description}}
                  </td>
                  <td *ngIf="!!p.uploadDate">
                    {{p.uploadDate | date: 'dd/MM/yyyy'}}
                  </td>
                  <td *ngIf="!!!p.uploadDate">
                    {{p.createDate | date: 'dd/MM/yyyy'}}
                  </td>
                  <td>
                    <a href="{{p.filePath}}" download><img src="../../../../assets/image/img/pdficon.png"
                        style=" height:20px; width:30px"></a>

                  </td>
                  <td class="text-center">
                    <div ngbDropdown placement="bottom-center">
                      <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                        {{'Actions' | translate}}
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-center dropdown-menu-arrow">
                        <a class="dropdown-item" (click)="editGuideline(p)">{{'Edit' |
                                                    translate}}</a>
                        <a class="dropdown-item" (click)="deleteGuideline(p.id)">{{'Delete' |
                                                    translate}}</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row mx-0 mt-2" style="align-items: center;">
              <div class="col-sm-6 col-xs-12 col-12 custom-data-entries-align">
                <!-- <div>Showing 1 of 4 entries</div> -->
              </div>
              <div class="col-xs-12 col-sm-6 col-12 custom-pagination-align">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer py-4">
            <nav aria-label="..." class="text-right">
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </nav>
          </div> -->
        </div>
      </div>
    </div>
  </div>
