<nav class="navbar navbar-vertical navbar-expand-md sidebar navbar-light" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand 
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/']">
      <img src="./assets/img/upgovtlogo.png" class="navbar-brand-img" alt="...">
    </a>
    <p class="navbar-brand-text">{{'UP FPO Shakti' | translate}}</p>
    <div>
      <hr class="my-1">
      </div>
      Collapse -->
      <a class="navbar-brand pt-0" routerLinkActive="active">
        <img src="./assets/img/upgovtlogo.png" class="navbar-brand-img mr-2" alt="...">
        <span class="logoTitle">{{'UPFPO Shakti' | translate}}</span>
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle>
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <!--<img alt="Image placeholder" src="assets/img/theme/team-4-800x800.jpg">-->
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{username}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu-right" ngbDropdownMenu>
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">{{'Welcome' | translate}}!</h6>
            </div>
            <a *ngIf="userRole == 'ROLE_FPC'" routerLinkActive="active" [routerLink]="['/fpo/user-profile']"
              class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'My profile' | translate}}</span>
            </a>
  
            <a *ngIf="userRole == 'ROLE_FARMER'" routerLinkActive="active" [routerLink]="['/fpo/farmer-user-profile']"
              class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'My profile' | translate}}</span>
            </a>
            <a *ngIf="userRole == 'ROLE_BUYERSELLER'" routerLinkActive="active"
              [routerLink]="['/indent_history/buyer-user-profile']" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'My profile' | translate}}</span>
            </a>
  
            <a *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" routerLinkActive="active" [routerLink]="['supplier/my-profile']"
              class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'My profile' | translate}}</span>
            </a>
  
            <a *ngIf="userRole == 'ROLE_CHCFMB'" routerLinkActive="active" [routerLink]="['chcfmb/my-profile']"
              class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'My profile' | translate}}</span>
            </a>
            <a class="dropdown-item" (click)="changePassword()">
              <i class="fa fa-key"></i>
              <span>{{'Change Password' | translate }}</span>
            </a>
            <div class="dropdown-divider"></div>
  
            <a href="javascript:void(0)" (click)="useLanguage('hi')" class="dropdown-item">{{'Hindi' | translate}}</a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0)" (click)="useLanguage('en')" class="dropdown-item">{{'English' | translate}}</a>
  
  
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0)" (click)="logout()" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>{{'Logout' | translate}}</span>
            </a>
          </div>
        </li>
      </ul>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <h6 *ngIf="userRole == 'ROLE_FPC'" class="navbar-heading">{{'Sales Details' | translate}}</h6>
      <ul class="navbar-nav">
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_MIN' " class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['chcfmb/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['input-supplier/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_BUYERSELLER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['buyer/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/fpo-notification']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/fpo-notificationByDept']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications By Department' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/farmerNotificationByFpo']" class="nav-link">
            <!-- [routerLink]="['farmer/farmerNotificationByFpo']" -->
            <!-- (click)="updatenotification()"  -->
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/dept-notification']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>


        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['search']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Search' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/crop-production']" class="nav-link">
            <i class="ni fa fa-id-card text-white"></i>
            {{"Crop Production" | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/sales-details']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{"Sales Details" | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/production-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Farmer-wise Production Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/production-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Production Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/sales-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Sales Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/upload-circulars']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Upload Circular' | translate}}
          </a>
        </li>
      </ul>

      <hr *ngIf="this.userRole == 'ROLE_FPC'" class="my-3">
      <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'FPO Details' | translate}}</h6>
      <!-- <h6 *ngIf="this.userRole != 'ROLE_FPC'" class="navbar-heading">{{'Department Details' | translate}}</h6> -->
      <ul class="navbar-nav">
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/board-members']" class="nav-link">
            <i class="ni fa fa-users text-white"></i>
            {{'Board Members' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/license']" class="nav-link">
            <i class="ni fa fa-id-card text-white"></i>
            {{'License' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/storage-unit']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Storage/ Processing Units' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/photographs']" class="nav-link">
            <i class="ni fa fa-university text-white"></i>
            {{'Upload Photographs' | translate}}
          </a>
        </li>

        <li  *ngIf="userRole == 'ROLE_FPC'" class="nav-item" >
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start nav-link">
              <a class="d-flex w-100 justify-content-start align-items-center ">
                  <span class="fa fa-dashboard fa-fw mr-3">
                     <i class="ni fa fa-archive text-white"></i>
                  </span> 
                  <span class="menu-collapsed ">
                    {{'Service/Products' | translate}}
                  </span>
                  <span class="submenu-icon ml-auto"></span>
                </a>
          </a>
          <!-- Submenu content -->
          <div id='submenu1' class="collapse sidebar-submenu">
            <li [routerLink]="['input-machinery']">
              <a routerLinkActive="active" href="javascript:void(0);" class="list-group-item list-group-item-action nav-link">
                  <i class="fa fa-university text-white"></i>
                  {{'Machinery/Equipment' | translate}}
              </a>
            </li>
            <li [routerLink]="['input-fertilizer']">
              <a routerLinkActive="active" href="javascript:void(0);" class="list-group-item list-group-item-action nav-link ">
                <i class="fa fa-university text-white"></i>
                  {{'Fertilizers' | translate}}
              </a>
            </li>
            <li [routerLink]="['input-insect']">
              <a routerLinkActive="active" href="javascript:void(0);" class="list-group-item list-group-item-action nav-link">
                <i class="fa fa-university text-white"></i>
                  {{'Insecticide/Pesticide' | translate}}
            </a>
            </li> 
            <li [routerLink]="['input-seed']">
              <a routerLinkActive="active" href="javascript:void(0);" class="list-group-item list-group-item-action nav-link">
                <i class="fa fa-university text-white"></i>
                  {{'Seeds' | translate}}
            </a>
            </li> 
            <li [routerLink]="['fpo/services']">
              <a routerLinkActive="active" href="javascript:void(0);" class="list-group-item list-group-item-action nav-link">
                <i class="fa fa-university text-white"></i>
                  {{'Others' | translate}}
            </a>
            </li>  
              
          </div>
              
      </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole == 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole == 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole == 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['chc/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC'&& userRole != 'ROLE_CHCFMB' && userRole == 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['input/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC'&& userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['buyer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>

        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by fpo' | translate}}
          </a>
        </li>

        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptInput/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by InputSupplier' | translate}}
          </a>
        </li>
        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptBuyer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by Buyer/Trader' | translate}}
          </a>
        </li>
        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptCHC/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by CHC/FMB' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaintsByfarmer']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/SuggestionsByFarmer' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/warehouse']" class="nav-link">
            <i class="ni fa fa-book text-white"></i>
            {{'Warehouse' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/guideline']" class="nav-link">
            <i class="ni fa fa-book text-white"></i>
            {{'Guideline' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/schemes']" class="nav-link">
            <i class="ni fa fa-globe text-white"></i>
            {{'Schemes' | translate}}
          </a>
        </li>
        <!--<li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER' || userRole == 'ROLE_BUYERSELLER' || userRole == 'ROLE_INPUTSUPPLIER' || userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['indent_history']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Indent History' | translate}}
          </a>
        </li>-->
        <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER' || userRole == 'ROLE_BUYERSELLER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/indent-raised']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Indent Raised' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_INPUTSUPPLIER' || userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/indent-fullfillment']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Indent For Fulfillment' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/myFPo']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'My FPO' | translate}}
          </a>
        </li>
       
        <li *ngIf="userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['input-machinery']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Machinery/Equipment' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-seed']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Seeds' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-fertilizer']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Fertilizer' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-machinery']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Machinery / Equipment' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-insect']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Insecticides/Pesticides' | translate}}
          </a>
        </li>
      </ul>

      <div>
        <hr class="my-3">
        <!-- Heading -->
        <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'Farmer Details' | translate}}</h6>
        <ul class="navbar-nav">
          <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/add-farmer']" class="nav-link">
              <i class="fa fa-plus-square text-white"></i>
              {{'Add Farmer' | translate}}
            </a>
          </li>
          <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/land-details']" class="nav-link">
              <i class="fa fa-archive text-white"></i>
              {{'Land Details' | translate}}
            </a>
          </li>
          <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/crop-showing-details']" class="nav-link">
              <i class="ni-tv-2 text-white"></i>
              {{'Crop Sowing and Production' | translate}}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="userRole == 'ROLE_MIN'">
        <!-- Heading -->
        <div>
          <!-- Heading -->
          <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'Farmer Details' | translate}}</h6>
          <ul class="navbar-nav">
            <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/add-farmer']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'Add Farmer' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/land-details']" class="nav-link">
                <i class="fa fa-archive text-white"></i>
                {{'Land Details' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/crop-showing-details']" class="nav-link">
                <i class="ni-tv-2 text-white"></i>
                {{'Crop Sowing and Production' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/production-details']" class="nav-link">
                <i class="fa fa-university text-white"></i>
                {{'Production Details' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['/userDetails']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'User Details Status' | translate}}
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="userRole == 'ROLE_MIN'">
          <h6 class="navbar-heading mt-2">{{'User Management' |translate}}</h6>
          <!-- Heading -->

          <ul class="navbar-nav">
            <li class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['department/all-users']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'FPO Users'|translate}}
              </a>
            </li>


          </ul>
        </div>
      </div>
      <div *ngIf="userRole == 'ROLE_FPC'">
        <h6 class="navbar-heading mt-2">{{'User Management' |translate}}</h6>
        <!-- Heading -->
        <ul class="navbar-nav">
          <li class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpoUser/fpoUser']" class="nav-link">
              <i class="fa fa-plus-square text-white"></i>
              {{'Farmer Users'|translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
