<nav class="navbar navbar-vertical navbar-expand-md sidebar navbar-light" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/']">
      <img src="./assets/img/upgovtlogo.png" class="navbar-brand-img" alt="...">
    </a>
    <p class="navbar-brand-text">{{'UP FPO Shakti' | translate}}</p>
    <div>
      <hr class="my-1">
      </div>
      <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['fpo/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <h6 *ngIf="userRole == 'ROLE_FPC'" class="navbar-heading">{{'Sales Details' | translate}}</h6>
      <ul class="navbar-nav">
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_MIN' " class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['chcfmb/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['input-supplier/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_BUYERSELLER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['buyer/dashboard']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Dashboard' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/fpo-notification']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/fpo-notificationByDept']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications By Department' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/farmerNotificationByFpo']" class="nav-link">
            <!-- [routerLink]="['farmer/farmerNotificationByFpo']" -->
            <!-- (click)="updatenotification()"  -->
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/dept-notification']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Notifications' | translate}}
          </a>
        </li>


        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['search']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Search' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/crop-production']" class="nav-link">
            <i class="ni fa fa-id-card text-white"></i>
            {{"Crop Production" | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/sales-details']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{"Sales Details" | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/production-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Farmer-wise Production Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/production-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Production Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/sales-report']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Sales Report' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/upload-circulars']" class="nav-link">
            <i class="ni fa fa-plus-square text-white"></i>
            {{'Upload Circular' | translate}}
          </a>
        </li>
      </ul>

      <hr *ngIf="this.userRole == 'ROLE_FPC'" class="my-3">
      <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'FPO Details' | translate}}</h6>
      <!-- <h6 *ngIf="this.userRole != 'ROLE_FPC'" class="navbar-heading">{{'Department Details' | translate}}</h6> -->
      <ul class="navbar-nav">
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/board-members']" class="nav-link">
            <i class="ni fa fa-users text-white"></i>
            {{'Board Member' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/license']" class="nav-link">
            <i class="ni fa fa-id-card text-white"></i>
            {{'License' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/machinary-bank']" class="nav-link">
            <i class="ni fa fa-university text-white"></i>
            {{'Machinary Bank' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/storage-unit']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Storage Unit' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/photographs']" class="nav-link">
            <i class="ni fa fa-university text-white"></i>
            {{'Upload Photographs' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/services']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Service/Products' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole == 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole == 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC' && userRole == 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['chc/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole != 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC'&& userRole != 'ROLE_CHCFMB' && userRole == 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['input/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_BUYERSELLER' && userRole != 'ROLE_MIN' && userRole != 'ROLE_FARMER' && userRole != 'ROLE_FPC'&& userRole != 'ROLE_CHCFMB' && userRole != 'ROLE_INPUTSUPPLIER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['buyer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions' | translate}}
          </a>
        </li>

        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by fpo' | translate}}
          </a>
        </li>

        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptInput/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by InputSupplier' | translate}}
          </a>
        </li>
        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptBuyer/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by Buyer/Trader' | translate}}
          </a>
        </li>
        <li *ngIf="userRole === 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['deptCHC/complaints']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/Suggestions by CHC/FMB' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['fpo/complaintsByfarmer']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Complaints/SuggestionsByFarmer' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/warehouse']" class="nav-link">
            <i class="ni fa fa-book text-white"></i>
            {{'Warehouse' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/guideline']" class="nav-link">
            <i class="ni fa fa-book text-white"></i>
            {{'Guideline' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_MIN'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['department/schemes']" class="nav-link">
            <i class="ni fa fa-globe text-white"></i>
            {{'Schemes' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER' || userRole == 'ROLE_BUYERSELLER' || userRole == 'ROLE_INPUTSUPPLIER' || userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['indent_history']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'Indent History' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_FARMER'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['farmer/myFPo']" class="nav-link">
            <i class="ni ni-tv-2 text-white"></i>
            {{'My FPO' | translate}}
          </a>
        </li>
       
        <li *ngIf="userRole == 'ROLE_CHCFMB'" class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/CHC-machinery']" class="nav-link">
            <i class="ni fa fa-archive text-white"></i>
            {{'Machinery/Equipment' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-seed']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Seeds' | translate}}
          </a>
        </li>
        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-fertilizer']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Fertilizer' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-machinery']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Machinery / Equipment' | translate}}
          </a>
        </li>

        <li *ngIf="userRole == 'ROLE_INPUTSUPPLIER'" class=" nav-item">
          <a routerLinkActive="active" [routerLink]="['/input-insect']" class="nav-link">
            <i class="fa fa-university text-white"></i>
            {{'Insecticides/Pesticides' | translate}}
          </a>
        </li>
      </ul>

      <div>
        <hr class="my-3">
        <!-- Heading -->
        <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'Farmer Details' | translate}}</h6>
        <ul class="navbar-nav">
          <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/add-farmer']" class="nav-link">
              <i class="fa fa-plus-square text-white"></i>
              {{'Add Farmer' | translate}}
            </a>
          </li>
          <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/land-details']" class="nav-link">
              <i class="fa fa-archive text-white"></i>
              {{'Land Details' | translate}}
            </a>
          </li>
          <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpo/crop-showing-details']" class="nav-link">
              <i class="ni-tv-2 text-white"></i>
              {{'Crop Showing Details' | translate}}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="userRole == 'ROLE_MIN'">
        <!-- Heading -->
        <div>
          <!-- Heading -->
          <h6 *ngIf="this.userRole == 'ROLE_FPC'" class="navbar-heading">{{'Farmer Details' | translate}}</h6>
          <ul class="navbar-nav">
            <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/add-farmer']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'Add Farmer' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/land-details']" class="nav-link">
                <i class="fa fa-archive text-white"></i>
                {{'Land Details' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/crop-showing-details']" class="nav-link">
                <i class="ni-tv-2 text-white"></i>
                {{'Crop Showing Details' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC' || userRole == 'ROLE_FARMER'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['fpo/production-details']" class="nav-link">
                <i class="fa fa-university text-white"></i>
                {{'Production Details' | translate}}
              </a>
            </li>
            <li *ngIf="userRole == 'ROLE_FPC'" class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['/userDetails']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'User Details Status' | translate}}
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="userRole == 'ROLE_MIN'">
          <h6 class="navbar-heading mt-2">{{'User Management' |translate}}</h6>
          <!-- Heading -->

          <ul class="navbar-nav">
            <li class=" nav-item">
              <a routerLinkActive="active" [routerLink]="['department/all-users']" class="nav-link">
                <i class="fa fa-plus-square text-white"></i>
                {{'FPO Users'|translate}}
              </a>
            </li>


          </ul>
        </div>
      </div>
      <div *ngIf="userRole == 'ROLE_FPC'">
        <h6 class="navbar-heading mt-2">{{'User Management' |translate}}</h6>
        <!-- Heading -->
        <ul class="navbar-nav">
          <li class=" nav-item">
            <a routerLinkActive="active" [routerLink]="['fpoUser/fpoUser']" class="nav-link">
              <i class="fa fa-plus-square text-white"></i>
              {{'Farmer Users'|translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
