.navbar-brand-text{
    text-align: center;
    color: #fff;
    font-weight: 800;
}
.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 5.5rem;
}
.navbar-vertical .navbar-collapse:before {
  margin: 0rem -1rem;
}
