.navbar-brand-text{
    text-align: center;
    color: #fff;
    font-weight: 800;
}
.navbar-vertical.navbar-expand-md .navbar-brand-img {
  max-height: 5.5rem;
}
.navbar-vertical .navbar-collapse:before {
  margin: 0rem -1rem;
}
.menu-collapsed{
  color: white;

}

.nav-link{
  background: #cfb000;
  border: none;
}

.sidebar-submenu{
  padding-left: 17%;
}
.logoTitle{
  font-size: 18px;
  color: #fff;
}
.avatar img {
  margin-left: 18px;
}
@media screen and (max-width: 480px) {
.logoTitle{
  font-size: 12px;
}
.navbar-brand-img{
  width:35px;
}
}