<div class="header bg-gradient-danger pb-7 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mp-7">
  <!-- Table -->
  <div class="row" *ngIf="isViewComplaint">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row ">
            <div class="col-11">
              <h3 class="mt-2 p-2 ">
                View Status and Details of Complaint/ Suggestion
              </h3>
            </div>
            <div class="col-1 text-right close ">
              <button class="btn btn-primary text-right mb-2" (click)="close()">Close</button>

            </div>
          </div>
        </div>
        <hr class="m-0">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="mb-0 bg-warning">
                Details of Complainant/ Suggestion provider
              </h2>
            </div>

          </div>
          <div class="row">

            <div class="col-4 mb-4">
              <h4 class="mb-2">
                Name
              </h4>vishal
            </div>

            <div class="col-4 mb-4">
              <h4 class="mb-2">
                Mobile:
              </h4>8275518800
            </div>

            <div class="col-4 mb-4">
              <h4 class="mb-2">
                Email:
              </h4>v@gmial.com
            </div>


          </div>
          <div class="row">
            <div class="col-12 mb-4">
              <h2 class="mb-0 bg-warning">
                Details of Complaint/ Suggestion
              </h2>
            </div>

            <div class="col-12">
              <h4 class="mb-0">
                Complaints/ Suggestions Category:
              </h4>
            </div>
            <div class="col-12">
              <span>{{viewComp.title}}</span>
            </div>
            <div class="col-12 mb-4 mt-4">
              <h4 class="mb-0">
                Complaint/ Suggestion Date:
              </h4>{{viewComp.compalintDate | date: 'dd/MM/yyyy'}}
            </div>
            <div class="col-12">
              <h4 class="mb-0">
                Description:
              </h4>
            </div>
            <div class="col-12">
              {{viewComp.description}}

            </div>
            <div class="col-12 mb-4 mt-4 bg-warning">
              <h2 class="mb-0">
                Update Complaint/ Suggestion Status
              </h2>
            </div>

          </div>
        
          <div class="card-body">
            <form [formGroup]="complaintForm">
              <div class="pl-lg-0">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Appointed <span class="required">*</span></label>

                      <select class="form-control" formControlName="appointment" >
                        <option value="">Select</option>
                        <option value="1">Additional Director Seeds</option>
                        <option value="0">Other </option>
                      </select>
                      <div *ngIf="submitted && formControls.appointment.errors" class="text-danger">
                        <div *ngIf="formControls.appointment.errors.required">Appointed to is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Appointment Date:</label>
                      <input formControlName="appointmentDate" type="text"  disabled id="input-email" class="form-control form-control-alternative">
                      <div *ngIf="submitted && formControls.appointmentDate.errors" class="text-danger">
                        <div *ngIf="formControls.appointmentDate.errors.required">appointment date is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="">Department Comments:<span class="required">*</span></label>
                      <textarea formControlName="departmentComments" class="form-control" id="exampleFormControlTextarea12" rows="3"></textarea>

                      <div *ngIf="submitted && formControls.departmentComments.errors" class="text-danger">
                        <div *ngIf="formControls.departmentComments.errors.required">department comments is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label">Change status: <span class="required">*</span></label>

                      <select class="form-control" formControlName="complaintStatus" >
                        <option value="">Select</option>
                        <option value="1">Assigned</option>
                        <option value="0">Resolved </option>
                      </select>
                      <div *ngIf="submitted && formControls.complaintStatus.errors" class="text-danger">
                        <div *ngIf="formControls.complaintStatus.errors.required"> status  is required</div>
                      </div>
                    </div>
                  </div>


                  <div class="card-footer text-center">
                    <button  type="submit" class="btn btn-yellow btn-primary my-4" (click)="updateSatus()">Update Status</button>
                   
                    <button class="btn btn-warning text-right" (click)="reset()">Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col text-right">
              <button class="btn btn-primary text-right mb-2" (click)="close()">Close</button>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
 

  <br />
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-9">
              <h3 class="mb-0">Complaints/ Suggestions</h3>
            </div>
            <!-- <div class="col-3 text-right">
              <button class="btn btn-primary text-right">Add Member</button>
            </div> -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Populated Region</th>
                <th scope="col">FPO Name</th>               
                <th scope="col">Complaints/ Suggestions Category</th>
                <th scope="col">Complaints / Complaints Suggestion Date</th>
                <th scope="col">Complaints / Complaints Status of suggestion</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let complaint of complaints | paginate: { itemsPerPage: 10, currentPage: p } let i = index">
                <td>
                  {{i}}
                </td>
                <td>
                  Agra
                </td>
                <td>
                  FPO Name
                </td>
                <td>
                  {{complaint.title}}
                </td>
                <td>
                  {{complaint.uploadDate| date: 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{complaint.status}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-primary" ngbDropdownToggle>
                      Actions
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="viewComplaint(complaint)">View</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="deleteCompliant(complaint)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="..." class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
