/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f6f9fc;
  background-image: linear-gradient(#f6f9fc, #f6f9fc);
  font-family: 'Roboto', sans-serif !important;
 
}

.bg-gradient-danger {
    /* background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; */
    background-image: linear-gradient(315deg, #f6f9fc 0%, #f6f9fc 0%) !important;
}
.bg-gradient-yellow{
    background-image: linear-gradient(315deg, #cfb000 0%, #cfb000 0%) !important;
}
.sidebar.navbar-light{
    background:#cfb000;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #32325d !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #32325d !important;
}
.mp-7{
    padding-bottom: 6rem;
}
.btn-yellow{
    background-color: #cfb000 !important;
    border-color:#cfb000 !important;;
}
.btn-yellow:hover{
    background-color: #32325d !important;
    border-color:#32325d !important;;
}
.btn-login{
    width: -webkit-fill-available;
}
.input-group-alternative, .form-control-alternative {
    border: 1px solid #dad9d9 !important;
}
.required{
    color:red;
}
.input-label{
    font-size: 15px;
}
.btn-product-search, .btn-theme{
    background-color: #926e01 !important;
    border-color: #926e01 !important;
    color:#fff !important;
}
.Register .form-control-label{
    cursor: pointer;
}
.Register .logo-image{
    width: 35px !important;
    height: 35px !important;
}
.r-box{
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    text-align: center;
    background: #f1f1f1;
}
.r-box .form-control-label:hover, .r-box.selected .form-control-label{
    color:#926e01;
}
.cust-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header{
    z-index:0
}
