<section>
  <div class="container my-4">
    <button class="btn btn-product-search mb-2" (click)="goBack()">
      {{ "Go Back" | translate }}
    </button>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center tech-header">
            <h2 class="tech-text-light">
              {{ techItem.technologyName }}
            </h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-5 col-sm-4">
                <div
                  class="
                    gray_color1
                    d-flex
                    justify-content-center
                    img-box-shadow
                  "
                >
                  <img
                    [src]="techItem?.filePath"
                    [alt]="techItem?.fileName"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="col-lg-7 col-sm-8">
                <div class="row">
                  <div class="col-12">
                    <div class="tech-box">
                      <!-- <div class="card-body"> -->
                      <fieldset class="tech-fieldset">
                        <legend class="tech-legend">
                          {{ "Key Feature" | translate }}
                        </legend>
                        <div class="row">
                          <div class="col-md-12">
                            <ul class="tech-list">
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Woman Friendly" | translate }}:
                                </strong>
                                <span> {{ techItem?.womanFriendly }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Key Offering" | translate }}:
                                </strong>
                                <span> {{ techItem?.keyOffering }}</span>
                              </li>

                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{
                                    "Relevant stage of production" | translate
                                  }}:
                                </strong>
                                <span> {{ techItem?.stageOfProd }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Key Crops" | translate }}:
                                </strong>
                                <span> {{ techItem?.keyCrops }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Price" | translate }}:
                                </strong>
                                <span> {{ techItem?.prize }}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </fieldset>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-12">
                    <div class="tech-box">
                      <!-- <div class="card-body"> -->
                      <fieldset class="tech-fieldset">
                        <legend class="tech-legend">
                          {{ "Technology Brief" | translate }}
                        </legend>
                        <div class="row">
                          <div class="col-md-12">
                            <ul class="tech-list">
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Technology Category First" | translate }}:
                                </strong>
                                <span> {{ techItem?.techFirstCategory }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{
                                    "Technology Category Second" | translate
                                  }}:
                                </strong>
                                <span> {{ techItem?.techSecondCategory }}</span>
                              </li>
                              <li *ngFor="let item of techBriefList">
                                <span
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ item }}:
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </fieldset>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-12">
                    <div class="tech-box">
                      <fieldset class="tech-fieldset">
                        <legend class="tech-legend">
                          {{ "Contact Detail" | translate }}
                        </legend>
                        <div class="row">
                          <div class="col-md-12">
                            <ul class="tech-list">
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Technology Provider" | translate }}:
                                </strong>
                                <span> {{ techItem?.techProvider }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Contact Person" | translate }}:
                                </strong>
                                <span> {{ techItem?.contactPerson }}</span>
                              </li>

                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Designations" | translate }}:
                                </strong>
                                <span> {{ techItem?.designation }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Email" | translate }}:
                                </strong>
                                <span> {{ techItem?.email }}</span>
                              </li>
                              <li>
                                <strong
                                  ><i
                                    class="fas fa-caret-right"
                                    aria-hidden="true"
                                  ></i>
                                  {{ "Mobile" | translate }}:
                                </strong>
                                <span> {{ techItem?.phone }}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="mcq">
                      <ul class="tech-list">
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Price" | translate }}:
                          </strong>
                          <span> {{ techItem?.prize }}</span>
                        </li>
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Key Offering" | translate }}:
                          </strong>
                          <span> {{ techItem?.keyOffering }}</span>
                        </li>
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Relevant stage of production" | translate }}:
                          </strong>
                          <span> {{ techItem?.stageOfProd }}</span>
                        </li>
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Woman Friendly" | translate }}:
                          </strong>
                          <span> {{ techItem?.womanFriendly }}</span>
                        </li>

                        
                        <
                        
                        
                        

                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Technology Category First" | translate }}:
                          </strong>
                          <span> {{ techItem?.techFirstCategory }}</span>
                        </li>
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Technology Category Second" | translate }}:
                          </strong>
                          <span> {{ techItem?.techSecondCategory }}</span>
                        </li>
                        
                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Unit" | translate }}:
                          </strong>
                          <span> {{ techItem?.unit }}</span>
                        </li>

                        <li>
                          <strong
                            ><i
                              class="fas fa-caret-right"
                              aria-hidden="true"
                            ></i>
                            {{ "Technology Brief" | translate }}:
                          </strong>

                          <ul class="brief-list">
                            <li *ngFor="let item of techBriefList">
                              <span> {{ item }} </span>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
