.tech-list {
  list-style: none;
  margin-bottom: 10px;
}

.tech-list li {
  padding-top: 3px;
  padding-bottom: 3px;
}

.brief-list {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  padding-left: 3px;
}

.brief-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.tech-text-light {
  color: #fff;
}

.tech-header {
  background-color: #926e00;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tech-box {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.tech-fieldset {
  border: 2px solid #735d17;
  border-radius: 3px;
  padding: 10px 15px 0px;
}

.tech-legend {
  width: auto;
  padding: 5px 8px 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.img-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
