<div class="header pb-8 pt-5 pt-md-8 ">
    <div class="container-fluid"> 
      <div class="header-body">
        <!-- Card stats -->
        <div class="row mb-2">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <a routerLink="/fpoUser/fpoUser"><h5 class="card-title text-uppercase text-muted mb-0">{{'Total Farmers' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.totalFpoFarmer | number}}</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Marginal Farmers' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.totalMarginalFarmer | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Small Farmers' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.totalSmallFarmer | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-3 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Other Farmers' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.totalOtherFarmer | number: '1.0-0'}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        <div class="row mb-2">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Total Land (in Ha.)' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.landArea | number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{'Crops' | translate}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{totals.crops | number}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <br>

  <div class="container-fluid mt--7 mb-7 dashboard">
    <div class="row">
      <div class="col-lg-9">
        <div class="form-check">
          <label class="form-check-label" for="radio1"  >
            <input type="radio" class="form-check-input" name="optradio" value="surplus" (click)="showGraphs('markatable_surplus')" checked>
            {{'Marketable Surplus' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" name="optradio" value="production" (click)="showGraphs('actual_production')" >
            {{'Actual Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" name="optradio" value="sales" (click)="showGraphs('sales_production')">
            {{'Sale Production' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </div>
      </div>
        <div class="col-lg-3">
          <div class="form-group">
            <select class="custom-control custom-select" ng-model="fin_year" (change)="getDashboardDetails($event.target.value)">
              <option value="{{year}}" *ngFor="let year of finYears">{{year}}</option>
            </select>
          </div>
        </div>
      </div> <br>

      <div class="card shadow">
        <div class="card-body">
          <div *ngIf="markatable_surplus" class="row">
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Marketable Surplus in Rabi season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="markatableProductionRabi"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical-2d>
              </div>
            </div>
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Marketable Surplus in Zayad season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="markatableProductionZayad"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical-2d>
              </div>
            </div>
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Marketable Surplus in Kharif season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="markatableProductionKharif"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical-2d>
              </div>
            </div>
          </div>
    
          <div *ngIf="actual_production" class="row">
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Actual Production in Rabi season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="actualProductionRabi"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Actual Production in Zayad season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="actualProductionZayad"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Actual Production in Kharif season (in Qt.)'| translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="actualProductionKharif"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>

          <div *ngIf="sales_production" class="row">
            <div class="col-12">
              <div class="row px-5 mb-2">
                <strong> {{'Total Sales in Rabi season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="salesProductionRabi"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="col-12" >
              <div class="row px-5 mb-2">
                <strong> {{'Total Sales in Zayad season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="salesProductionZayad"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="col-12" >
              <div class="row px-5 mb-2">
                <strong> {{'Total Sales in Kharif season (in Qt.)' | translate}}</strong>
              </div>
              <div class="row mb-4" style="border-bottom: solid;">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="salesProductionKharif"
                  [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                  [legendTitle]="legendTitle" [legendPosition]="'below'">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>

  