<section class="fms-wrapper" style="background-color: #e7e7e7;border-radius: 150px 0 0 0;">
    <div class="innerContent">
      <div class="container py-4">
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header">
                  <div class="row">
                      <div class="col-md-6">
                        <h3>{{type | translate}}</h3>
                      </div>
                      <div class="col-md-6">
                          <input type="text" class="form-control" [(ngModel)]="searchText">
                     </div>
                  </div>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-3 schemes">
                        <ul class="schemes-tabs schemes-des">
                            <li [ngClass]="{'active': type === 'Seeds'}" class="active" (click)="tabtype('Seeds')">{{'Seeds' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Fertilizer'}" (click)="tabtype('Fertilizer')">{{'Fertilizer' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Agri Equipment'}" (click)="tabtype('Agri Equipment')">{{'Agri Equipment' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Agri Equipment Bank'}" (click)="tabtype('Agri Equipment Bank')">{{'Agri Equipment Bank' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Export'}" (click)="tabtype('Export')">{{'Export' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Organic Farming'}" (click)="tabtype('Organic Farming')">{{'Organic Farming' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Special Crop'}" (click)="tabtype('Special Crop')">{{'Special Crop' | translate}}</li>
                            <li [ngClass]="{'active': type === 'Finance'}" (click)="tabtype('Finance')">{{'Finance' | translate}}</li>
                        </ul>
                        <div class="form-group schemes-mb">
                            <select class="form-control" (change)="tabtype($event.target.value)" [(ngModel)]="schemeType">
                                <option value="Seeds">{{'Seeds' | translate}}</option>
                                <option value="Fertilizer">{{'Fertilizer' | translate}}</option>
                                <option value="Agri Equipment">{{'Agri Equipment' | translate}}</option>
                                <option value="Agri Equipment Bank">{{'Agri Equipment Bank' | translate}}</option>
                                <option value="Export">{{'Export' | translate}}</option>
                                <option value="Organic Farming">{{'Organic Farming' | translate}}</option>
                                <option value="Special Crop">{{'Special Crop' | translate}}</option>
                                <option value="Finance">{{'Finance' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush schematable">
                                <thead>
                                    <tr class="border_bottom">
                                        <th>{{'SR. NO' | translate}}</th>
                                        <th>{{'Description' | translate}}</th>
                                        <th>{{'Date' | translate}}</th>
                                        <th>{{'URL' | translate}}</th>
                                        <th>{{'View' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="thead-light" *ngFor="let schema of SchemasList | tableSearch:searchText | paginate: { itemsPerPage: 10, currentPage: p };index as i">
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{schema.description}}
                                        </td>
                                        <td>
                                            {{schema.createDate | date: 'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                             <a href="{{schema.url}}"><img
                                                src="../assets/image/img/url.png"
                                                style=" height:20px; width:20px"></a>
                                           
                                        </td>
                                        <td>
                                            <a href="{{baseUrl}}{{schema.filePath}}"><img
                                                    src="../assets/image/img/pdficon.png"
                                                    style=" height:20px; width:20px"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls class="text-right" (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                   
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>