.schemes-tabs{
    list-style-type:none
}
.schemes-tabs li{
   cursor: pointer;
   padding: 12px;
    background: #cfaf14;
}
.schemes-tabs li.active{
    background: #926e01;
    color: #fff;
}
.schemes-des{
    display: block;
}
.schemes-mb{
    display: none;
}
.card-header{
    margin-left: 40px;
}
@media only screen and (max-width:600px){
    .schemes-des{
        display: none;
    }
    .schemes-mb{
        display: block;
    }
    .card-header{
        margin-left: 0px;
    }
}

.schemes{
  background-color: #cfaf14;
}